[2017-06-15 11:00] MatOwasp opened #3 "Add Testing for Server-Side Request Forgery (SSRF)"

[2017-06-15 11:03] itscooper opened #4 "Test - Close Me"

[2017-06-15 11:03] itscooper commented on #4
28247856ca43a2ded7e4b230d8a83be9a72dd929

[2017-06-15 11:03] #4 closed

[2017-06-15 11:05] MatOwasp commented on #3
4aed335fe2d8a65e64539fa9215ebf77976935a1

[2017-06-15 11:12] itscooper opened #5 "Adapt guide to be inclusive of API testing"
Web-based APIs can, for the most part, be testing using this guide. Some elements are naturally client-side and therefore irrelevant to API testing.

I suggest that we create an article in section 3 or 4.1 that talks about how the guide can be used for API testing.

I further suggest that we review the existing articles to ensure that the language used is appropriate for web app and APIs alike, an

[2017-06-15 11:14] itscooper opened #6 "Add guidance on how to write security test cases (or threat verification tests)"
Guidance, to be added to section 5 (reporting), on how a tester can write programmatic test cases as a form of output, that developers can re-run to determine if an issue has been fixed.

[2017-06-15 11:15] itscooper opened #7 "Add Testing for Deserialisation of Untrusted Data"
https://cwe.mitre.org/data/definitions/502.html

[2017-06-15 11:16] itscooper opened #8 "Add Testing for XML External Entity (XXE) Weaknesses"

[2017-06-15 11:28] itscooper opened #9 "Edit localStorage article to include other forms of insecure client-side storage"
E.g.
in the DOM as variables
WebSQL
etc

May require a rename... perhaps "Insecure Client-Side Storage of Sensitive Data"

[2017-06-15 11:30] itscooper opened #10 "Restore wikilinks and images lost during conversion from mediawiki"

[2017-07-20 12:26] irgoncalves opened #12 "Add Testing For Cross-Site Script Inclusion"
A good article about it.

[2018-01-14 08:30] gitcnd opened #13 "Human Factors need improved visibility"
More dangers than any problems this test might find, are the ones it's left out of scope (e.g. websites without MFA, or MFA without verier impersonation resistance, etc).  The most expensive security oversight after malware is the people.

There needs to be a prevalent explanation to guide users that OWASP is only going to address less than half of their problems, and they need to pay serious cons

[2018-01-29 15:15] tolo7010 opened #14 "Add Testing Integrating Services (OTG-CONFIG-010)"
Web application integrating external services must be tested for well-known vulnerabilities causing by misconfigurations.

- Amazon AWS bucket service: ...
- Social media profile link validation: ...
- CloudFlare / CDN service: ...
- Unclaimed CNAME domains (DNS?): ...
- ...

[2018-05-29 19:49] kingthorin commented on #13
While I don't disagree that human factors need accounting for I'm not sure this is specifically applicable to the Testing Guide project.

[2018-05-29 19:50] kingthorin commented on #12
@irgoncalves did you have one to suggest as supporting material or something?

[2018-05-29 19:51] kingthorin commented on #9
Ref: https://www.owasp.org/index.php/Test_Local_Storage_(OTG-CLIENT-012)

[2018-05-29 19:55] kingthorin commented on #8
XXE has a small section or two included in v4:
https://www.owasp.org/index.php/Testing_for_XML_Injection_(OTG-INPVAL-008)

[2018-05-29 22:56] gitcnd commented on #13
This is a simple "duty of care" issue.  The fines for getting this stuff wrong in the EU are now crippling, it's only going to take one lawsuit where the victim comes looking for the cause when you're going to realize it was prudent to warn those victims in advance about what your guide leaves out.

Think about it this way: you're in an accident, and the life-support system keeping you alive was "

[2018-05-29 23:41] kingthorin commented on #13
I'm sure it'll be suitably prefaced.

It's a guide not a standard. Plus the day after it's published there'll be some new attack and hence test type that it fails to cover.

[2018-05-30 23:21] irgoncalves commented on #12
Hi @kingthorin , please, look at this one:
https://www.scip.ch/en/?labs.20160414
If this is accepted, I can write the chapter.

[2018-06-08 05:20] adbrucker opened #15 "Add a section on testing of Infrastructure as Code (IaC)"
As more and more (web) applications are shipped as containers or based on IaC, I think we should add a section on the specifics testing IaC configurations/systems and container (e.g., Docker) setups. It needs to be decided how much into the details we want to go (e.g., this could be a rather high-level section on best practices or multiple sections discussing the details).

Cheers,
Achim

[2018-07-18 14:30] salecharohit commented on #7
Hi ,

I have delivered a [workshop ](https://nullcon.net/website/archives/pdf/goa-2018/rohit-slides.pdf)on this topic and would like to contribute in the testing guide by adding details on how to go about finding these issues in various languages like java,php,python,node..js and .NET

Please guide me as to how can i add the details

[2018-11-25 12:24] metheoryt opened #17 "v4/v5 translation"
Hi all! There's a couple of half-completed translations for V4 on crowdin https://crowdin.com/project/owasp-testing-guide-40, should anybody continue translation or would be better to begin with V5 when it comes out?

[2018-12-01 14:42] anantshri opened #18 "Is this project going ahead?"
Multiple questions:
I don't see any activities whole of 2018. Is this project still in progress?
Any place we can keep a track on roadmap?
I am interested in contributing to various sections, just a standard pull request or do you want anything else there is no guideline referenced anywhere?

[2019-02-18 20:03] kingthorin commented on #18
@anantshri I've been in-touch with the project leaders about this. I'm told that they are ready for contributions. So I'd say just go ahead and start submitting PRs.

https://twitter.com/kingthorin_rm/status/1097520686732595201

[2019-02-20 12:21] kingthorin commented on #18
Confirming a few PRs of mine and one from another contributor have been merged this week. So bring on the contributions @anantshri and everyone!

[2019-02-21 07:03] ManhNho opened #26 "Add exploit CSRF in json request"
Hi   @kingthorin @MatOwasp ,

I have been read about CSRF at OWASP-Testing-Guide-v4 [](https://github.com/OWASP/OWASP-Testing-Guide-v5/blob/master/document/4%20Web%20Application%20Security%20Testing/4.7%20Session%20Management%20Testing/4.7.5%20Testing%20for%20CSRF%20(OTG-SESS-005).md)
I realized that not cover some techniques to exploit CSRF in **modern web application** like json. So can I write

[2019-02-21 08:12] MatOwasp commented on #26
Hi @ManhNho, sure go ahead thank you!

[2019-02-21 10:45] ManhNho commented on #26
I just pull a request for this topic, please review ASAP, thank you!

[2019-02-21 10:46] kingthorin commented on #26
Absolutely. It could be added to: https://github.com/OWASP/OWASP-Testing-Guide-v5/blob/master/document/4%20Web%20Application%20Security%20Testing/4.7%20Session%20Management%20Testing/4.7.5%20Testing%20for%20CSRF%20(OTG-SESS-005).md

However, note that content hasn't been cleaned up beyond the initial migration from the OWASP wiki.

[2019-02-21 10:47] MatOwasp commented on #26
Perfect,thanks

[2019-02-21 10:53] ManhNho commented on #26
Thanks, I will close this topic

[2019-02-21 10:53] #26 closed

[2019-02-21 10:55] kingthorin commented on #26
@ManhNho I did have some review comments on the PR, though it was approved and merged while I was putting them together. I can put together another PR to address them if you could at least answer the question on the "plain text" line.

[2019-02-21 11:30] ManhNho commented on #26
@kingthorin I just explained this case, thanks

[2019-02-23 02:40] ManhNho opened #31 "Add Testing for Sub-domain take over"
Hi @MatOwasp,

I just read about [NEW TESTS TO WRITE](https://github.com/OWASP/OWASP-Testing-Guide-v5/blob/master/OWASP%20Summit%20Outcome) and [OWASP testing guide v4](https://github.com/OWASP/OWASP-Testing-Guide-v5/blob/master/document/OWASP%20Testing%20Guide%20v4%20Table%20of%20Contents.md). And I did not see any topics about Testing subdomain take over techniques. Can we add a topic about this

[2019-02-23 02:42] ManhNho commented on #3
[aec0b76](https://github.com/OWASP/OWASP-Testing-Guide-v5/pull/20/commits/aec0b766d74dc320f7d883dd5202f16e21e071e8)

[2019-02-23 16:01] MatOwasp commented on #31
Hi, I add @kingthorin. @ManhNho  what contents would you like to add?
Something like this article? https://www.hackerone.com/blog/Guide-Subdomain-Takeovers

[2019-02-24 09:11] ManhNho commented on #31
Yeah, some content about Subdomain takeover techniques. Can I start writing content for this?

[2019-02-25 04:19] ManhNho commented on #31
I suggest that we create an article in [Configuration and Deployment Management Testing](https://github.com/OWASP/OWASP-Testing-Guide-v5/tree/master/document/4%20Web%20Application%20Security%20Testing/4.3%20Configuration%20and%20Deployment%20Management%20Testing) that talks about how the guide can be used for Sub-domain takeover testing.

[2019-02-25 08:02] kingthorin commented on #31
Seems fine to me.

[2019-02-25 09:41] MatOwasp commented on #31
ok thanks

[2019-02-25 16:29] kingthorin commented on #17
At this point I'd suggest waiting for v5.

[2019-02-25 16:30] kingthorin commented on #3
This issue can be closed, content on this subject has been added.

[2019-02-25 16:35] kingthorin commented on #10
I've started to work on this. In some cases it's non-trivial.

Along with that we should probably:
- Establish some style guidelines.
- Figure out a repo structure. (I'm going to try a few things and see if I can come up with a suggestion/direction.) [ex: Where do we want images to live? Or, where do they need to live for github to show them properly?]

[2019-02-25 16:36] kingthorin commented on #12
@irgoncalves go for it, work on v5 has started.

[2019-02-25 18:15] MatOwasp commented on #17
Indeed

[2019-02-25 18:16] #3 closed

[2019-02-25 19:31] kingthorin commented on #12
?

[2019-02-28 17:04] kingthorin opened #35 "Review/Fix "Testing for API.md""
OWASP/OWASP-Testing-Guide-v5#33 was merged without review and contains numerous errors or items which should be fixed/tweaked. Including (but not necessarily limited to):
- Typos: `Sate` vs. `State` when elaborating on the acronym REST. `moethods` vs `methods`, `reponses` vs `responses`, etc.
- Sentence fragments:
  - > Web application APIs following the REST style that called REST API.
  - > REST

[2019-02-28 18:08] ManhNho commented on #35
Thank for your review! Will fix later

[2019-02-28 18:19] kingthorin commented on #35
No worries. This isn't a complete review by any means. Just wanted to ensure that the need for review/edits was tracked. (Hence the ticket.)

[2019-03-01 03:03] ManhNho commented on #35
hi @kingthorin
Because of my heavy workload at company, can you help me fix/edit them?

[2019-03-27 12:45] #17 closed

[2019-04-01 18:30] kingthorin commented on #10
Items to fix:

* "wikilinks" during migration the OWASP Mediawiki links were tagged "wikilink" these needs to be converted to proper absolute URLs.
* Any `/` terminating lines needs to be switched to `<br>`
* In some cases (due to the source of the text) there are broken apostrophes `'` they should just be restored.
* Occurrences of `\$` should become `&dollar;`
* At symbols `@` should become `&#6

[2019-04-02 08:16] ManhNho opened #40 "Add description, topics for Project (Github Repo)"
No description, website, or topics provided. I think we need them.

[2019-04-02 13:51] kingthorin commented on #40
Ya that seems like a good idea.

![image](https://user-images.githubusercontent.com/7570458/55407237-a1eb0700-552b-11e9-9a9e-ec3a0f8260d7.png)

https://stackoverflow.com/questions/7757751/how-do-you-change-a-repository-description-on-github

[2019-04-03 04:15] ManhNho commented on #40
@MatOwasp

[2019-04-10 12:19] MatOwasp commented on #40
Sure, good idea, thanks

[2019-04-23 11:59] kingthorin commented on #18
Yes just a standard PR is great.

[2019-04-23 11:59] #18 closed

[2019-04-23 12:09] ThunderSon commented on #35
Please assign me to this issue. I'll handle it in the coming week/weekend.

[2019-04-23 12:18] kingthorin commented on #35
Consider it yours. I'm not able to assign it to you. Probably because of permissions/collaborators, etc. I think we can trust that people will read the issue history before tackling something..... (Otherwise they'll learn a hard lesson I guess :grin: )

[2019-04-23 17:23] ManhNho commented on #35
you are welcome :dango:

[2019-04-24 00:04] markclayton opened #48 "Add a section for Host Header Attack"
I figured I'd contribute an initial draft of the Host Header Attack, and a pull request has been created.

[2019-04-24 18:14] kingthorin commented on #40
@MatOwasp you should be able to use these controls to set the details:
![image](https://user-images.githubusercontent.com/7570458/56683272-29471880-669b-11e9-9ec8-9ab0c39817d2.png)

I don't have access to them in the OTG repo. (The screenshot is based on my access to the zap repo.)

[2019-04-26 09:35] kingthorin commented on #10
Ref: https://github.com/OWASP/CheatSheetSeries/#conversion-rules

[2019-04-26 09:39] ThunderSon opened #51 "Lacking Issues and PRs templates"
I have found that the repository is lacking issues and PR templates in order to make things smoother for contributors, and for reviewers to better understand the work at hand.

[2019-04-26 09:42] kingthorin commented on #51
Ref: https://help.github.com/en/articles/creating-issue-templates-for-your-repository

[2019-05-04 06:30] ThunderSon commented on #51
@kingthorin this can be closed, right? Or you think that we need to anything further? I set in the PR template a box to say that the issue has been fully covered, in a way to say go ahead and close it :)

[2019-05-04 08:50] kingthorin commented on #51
The one template still needs the label element set. I can do that if you want.

On that commit/PR a keyword can be used to close this. https://help.github.com/en/articles/closing-issues-using-keywords

[2019-05-04 11:07] kingthorin commented on #10
I've been trying to come up with a non-HTML way to handle foot notes. Anyone got any ideas?

Initially I had hoped to use something like this for the superscript part https://gist.github.com/molomby/9bc092e4a125f529ae362de7e46e8176 but that didn't pan out.

I then learned that some markdown supports `^` for superscript, but that doesn't seem applicable to GFM.

(Note for both of the above there's

[2019-05-06 05:46] ThunderSon commented on #51
We'll need to make it a conditional, and what if the PR does not properly close the issue?

[2019-05-06 09:03] kingthorin commented on #51
Labels can always be changed after the fact, plus the user can tweak it at creation. To me it's more often applicable than not.

As for closing keywords, I meant specifically you could use that for this one. Not that it shoukd be part of the template. For other instances, if a user incorrectly closes with a keyword that should be caught during PR review and if missed then the issue can be manually

[2019-05-06 11:51] ThunderSon commented on #51
For the label we're at an agreement. As for the closing, alrightie.

[2019-05-06 12:00] #51 closed

[2019-05-14 16:46] kingthorin opened #56 "Review: 4.8.18 Testing for Host Header Injection (OTG-INPVAL-018)"
In follow-up to: https://github.com/OWASP/OWASP-Testing-Guide-v5/pull/49 there are some outstanding items to be addressed.

---

Source ref: https://github.com/OWASP/OWASP-Testing-Guide-v5/blob/master/document/4%20Web%20Application%20Security%20Testing/4.8%20Input%20Validation%20Testing/4.8.18%20Testing%20for%20Host%20Header%20Injection%20(OTG-INPVAL-018).md

##### First paragraph:

`applications`

[2019-05-15 10:59] kingthorin commented on #10
Re: footnotes, the other option is to just have a section for references and link the section heading not the individual notes. (Could use ordered list(s), in order to maintain numeric associations.)

[2019-05-16 21:14] jzold commented on #31
Hi,

I'm happy to help with this one, just uploaded a draft version to https://github.com/jzold/OWASP-Testing-Guide-v5/blob/master/document/4%20Web%20Application%20Security%20Testing/4.3%20Configuration%20and%20Deployment%20Management%20Testing/4.3.10%20Test%20for%20subdomain%20takeover%20(OTG-CONFIG-010).md

Any feedback is welcome and appreciated :) I'll submit a PR shortly.

J./

[2019-05-17 09:52] ManhNho commented on #35
@ThunderSon I just remind you about this case

[2019-05-17 13:54] ThunderSon commented on #35
I did not forget about it. I got side-tracked and I have been busy so far.

[2019-05-17 14:05] ThunderSon commented on #10
Superscripts and subscripts can be seen in here: https://gist.github.com/molomby/9bc092e4a125f529ae362de7e46e8176
There is no easy solution. I would only use those in mathematical functions if need be. References should be done as such: `Some text [2]` where is 2 is the number reference. No need to use superscript for this. In whitepapers it's done as such as well.
Footnotes can be switched with a

[2019-05-17 14:59] kingthorin commented on #10
They wouldn't display for me (could be a Firefox issue, but if it's an issue in one major browser then it essentially doesn't work IMHO).

[code]
Without the footnote or ref number actually being visible.

You don't think this looks a little [weird][2]?

[2]: http://example.com

[2019-05-18 09:42] ThunderSon commented on #10
I am talking about the `3` example, guess you already got it 😄 Yeah that's another discussion about re-publishing, even though I believe that convention is widely used in whitepapers and not in books.

[2019-05-18 10:03] kingthorin commented on #10
Ok, I'm good with us settling on that. I'll tweak my post above and do a PR for sections 1, 2, 3, and the start of 4 later this weekend.

Thanks @ThunderSon

[2019-05-21 18:02] kingthorin commented on #31
Closed in https://github.com/OWASP/OWASP-Testing-Guide-v5/pull/58

[2019-05-21 18:02] #31 closed

[2019-05-28 11:36] #48 closed

[2019-05-29 12:29] kingthorin commented on #8
Ref: https://twitter.com/PortSwigger/status/1133707942329552898

[2019-05-30 11:52] jzold opened #62 "Update document 4.3 with new content OTG-CONFIG-010"
**Describe the issue**
1. Update document 4.3 Testing for configuration management.md with new content 4.3.10 Test for subdomain takeover (OTG-CONFIG-010)
2. Align formatting of 4.3 Testing for configuration management.md headers

[2019-05-30 12:01] jzold opened #64 "Add 4.8.19 Server-Side Template Injection SSTI (OTG-INPVAL-019)"
New content proposed for the input validation section of OWASP

Please let me know your thoughts

Thanks
J./

[2019-05-30 15:20] ManhNho commented on #64
I will handle this test case next week

[2019-05-30 16:38] jzold commented on #64
Thanks @ManhNho :)

[2019-05-31 04:16] ThunderSon opened #65 "Change the Naming Convention"
**Is your feature request related to a problem? Please describe.**
The file names contain spaces and are not suitable for proper linking in the documents.

**Describe the solution you'd like**
Create a general rule and refactor the files to a certain naming convention

[2019-06-03 15:44] ThunderSon commented on #13
@kingthorin I believe this can be added as part of what to look for. Like if it doesn't contain this, it can rank a low somewhere if the task is pretty heavy? Such as a transaction, or something similar. What do you think?

[2019-06-04 20:57] #62 closed

[2019-06-04 20:57] jzold commented on #62
closing as resolved

Thanks
J./

[2019-06-05 19:45] jzold commented on #12
Hi,

No activity on this one, @kingthorin @MatOwasp has this been addressed/documented/included in v5 ever since?

[2019-06-05 19:50] kingthorin commented on #12
I don't see any related content.

[2019-06-05 19:57] jzold commented on #12
thanks @kingthorin  I'll take this one and start working on it on the upcoming weekend

[2019-06-06 17:29] irgoncalves commented on #12
Sorry, team. I was hammered lately but this was still on my radar. @jzold , we could work together in the next week or if you come up with something before I'll take a look later.

[2019-06-06 17:35] kingthorin commented on #12
I’m all for collaborative efforts!

Maybe @jzold can submit a PR and @irgoncalves can review it and make suggestions?
Or you two could share a gdoc and assemble/review content then one of you submit a PR?
Whatever, thanks for your continued interest and efforts!

[2019-06-07 07:26] jzold commented on #12
I'm nearly finished with the first draft version and PR later this week, I'll update this issue with the link when ready. @irgoncalves please feel free to take a look and let me know your thoughts

J./

[2019-06-08 10:18] jzold commented on #12
@irgoncalves please take a look https://github.com/jzold/OWASP-Testing-Guide-v5/blob/master/document/4%20Web%20Application%20Security%20Testing/4.12%20Client%20Side%20Testing/4.12.13%20Testing%20for%20Cross%20Site%20Script%20Inclusion%20(XSSI)(OTG-CLIENT-013).md. This is WIP and needs quite a bit formatting to meet the OWASP guidelines and content wise it still only scratches the surface. I'll be

[2019-06-10 22:18] irgoncalves commented on #12
@jzold @kingthorin , I think it should be at the same section as CSRF, which is in the Session Management Testing.
@jzold , it looks good to me. I have a few extra info to add. So, are you pushing the changes soon so I could also work on it?

[2019-06-11 06:06] ThunderSon commented on #12
But XSSI is not only about session management testing. I don't believe in only having XSSI in Session Management Testing.

[2019-06-11 07:40] jzold commented on #12
@ThunderSon @irgoncalves classifying could be a tricky one, I also thought about this :) . The fact that originally this vulnerability was exploited using browser vulnerabilities (clearly there is a vulnerability on the client side) and also data is leaked through the browser's/including site context was the deciding factor for me. This fits quite well into the OWASP client-side definition if I'm

[2019-06-11 08:26] ThunderSon commented on #12
Awesome to hear 😄 Will be awaiting the PR for review!

[2019-06-11 10:36] jzold commented on #12
PR sent - #66

[2019-06-13 06:06] ThunderSon commented on #12
Awesome, thank you!

[2019-06-20 21:47] patrickceg commented on #10
Hello all,
I'd like to try some of the cleanup of the links / images in section 4 in general. Is there any work currently being done for link cleanup in section 4? (just so I don't conflict with an equivalent effort)
Thanks!

[2019-06-20 22:12] kingthorin commented on #10
I don’t have anything on the go aside from existing PRs, and no further short terms plans.

[2019-06-21 02:03] patrickceg opened #67 "Section 4.2.6 CAT, TamperFox links outdated"
**Describe the issue**
The (external) links to the tools CAT and TamperFox on the page https://github.com/OWASP/OWASP-Testing-Guide-v5/blob/master/document/4%20Web%20Application%20Security%20Testing/4.2%20Information%20Gathering/4.2.6%20Identify%20application%20entry%20points%20%28OTG-INFO-006%29.md are outdated and currently generate 404 error on the external sites they point to.

Specifically, a

[2019-06-21 02:12] patrickceg commented on #10
Thanks for the note. I've started clicking through with the sole purpose of looking for links and images broken due to conversion specifically. Section 4.1 looks OK, and I'm starting to list out the issues in section 4.2.

I'll get something together for the minor fixes over the next 3 days. (Again, specifically with the scope of section 4 links broken from conversion. We fling the words "out of s

[2019-06-21 07:29] ThunderSon commented on #67
Hello. I as well don't remember ever using CAT.
WebScarab is long gone as well. It has been integrated in ZAP.
Tamper Data's reviews are not anywhere near nice. I'd recommend its complete removal from the guide.
One addition that could be done is fiddler. It could be used as a lightweight proxy that developers are well accustomed with.
Could it be possible that you:
- fix the markdown trailing bac

[2019-06-21 19:19] kingthorin commented on #10
@patrickceg Some 4.10 tweaks are queued up here: https://github.com/OWASP/OWASP-Testing-Guide-v5/pull/57 some 4.2 footnote changes are in-flight here: https://github.com/OWASP/OWASP-Testing-Guide-v5/pull/59/ Older 4.1 and 4.2 tweaks: https://github.com/OWASP/OWASP-Testing-Guide-v5/pull/41 Otherwise there's plenty of subsections of chapter 4 that need attention.

I had originally suggested images b

[2019-06-22 20:24] patrickceg commented on #10
@kingthorin On lumping in a folder structure change: I'm not sure if it happens much in group document projects, but with a codebase, if you lump a whole lot of different modifications together, you get giant pull requests no one wants to look at. Even if they do look, they're looking for so many things at once that the quality of the review goes down. This issue #10 only talks about making the li

[2019-06-22 20:36] patrickceg commented on #67
Hmm I looked up "fiddler" and it's also proxy based. Should we just remove the subsections "Intercepting Proxy" and "Browser-Plug-In" such that it just shows ZAP, Burp Suite, and Fiddler?

The browser plugin I've used for proxy based debugging is FoxyProxy (pointed to the ZAP port)... mainly because it came installed by default on the Penetrating with Kali VM I started to learn pentesting on :)

[2019-06-22 21:34] kingthorin commented on #10
@patrickceg all good points.

Exactly, hence I was trying to have us come up with the choice. As things currently sit there are no images aside from the few I'd already fixed. Luckily those done so far were in early chapters where there aren't subsections so it hasn't been relevant. The PR for 4.10 establishes a subsection images directory so I guess in the absence of a decision I'll make it for t

[2019-06-23 12:02] ThunderSon commented on #67
Foxy proxy is a great extension.
What you are saying is valid. Please create a PR in order to move forward with this 😄

[2019-06-23 12:09] ThunderSon commented on #10
What do you think about breaking down this issue. Let's make this a milestone/project, and start assigning issues to it. This is just way too unorganized, and as such, the above discussion erupted.
I believe you agreed that no file structure changes should be done, and I agree to that.

@kingthorin I believe we need to prioritize our points. Let's move this to slack 😄

[2019-06-23 14:14] kingthorin commented on #10
It’s not a change it’s a decision about how it’s going to be, because right now the images don’t exist or have a home at all.

[2019-06-23 14:59] ThunderSon commented on #10
Currently there is an images folder in the top layer folder of each chapter. There is a place for the images to exist ... I agree though it's mainly about taking the decision. I already sent my point of view on the channel.

[2019-06-23 15:23] kingthorin commented on #10
Grin. They only exist where I’ve created them 😀 /me wanders off to slack

[2019-06-23 15:33] patrickceg opened #68 "Merge strategy "Squash and merge" at project level"
**Is your feature request related to a problem? Please describe.**
There was a comment made on pull request #57 about merge strategy being "squash" we should allow the tooling (Github) handle that so we don't need waste time on comments like that.

The comment - https://github.com/OWASP/OWASP-Testing-Guide-v5/pull/57#issuecomment-504703447

**Describe the solution you'd like**
Set the project to e

[2019-06-23 15:59] caperutxa commented on #68
I do not like squash strategy for merges.

Squash remove the commit history in benefit to merge in order to obtain a single view to a group of commits but there are ways to see all changes in a group of commits, between tags... and the history commits is not lost

[2019-06-23 16:14] kingthorin commented on #68
IMHO the user's feature branch (for lack of a better term) commit history is irrelevant to the overall project. But that's just my 2 cents.

[2019-06-23 20:25] patrickceg commented on #67
Anyway, unless there's a better way I'll just dump it in this comment I'm working on it :) https://github.com/patrickceg/OWASP-Testing-Guide-v5/tree/feature/outdated-links-4.2.6-issue-67

...yuk I don't like putting links manually like this, being used to Atlassian's system where I can click "Create branch" directly from the issue and all the stuff (branch linked to issue, issue linked to branch,

[2019-06-24 01:01] kingthorin commented on #68
Refs:
- https://help.github.com/en/articles/about-merge-methods-on-github
- https://help.github.com/en/articles/configuring-pull-request-merges

[2019-06-24 04:04] ThunderSon commented on #68
I'd mainly recommend the usage of squash strategy when a lot of bad commits have been committed to a PR. Otherwise, the commits are needed to re-track the changes if need be, instead of having it all in one commit.

[2019-06-26 23:42] #67 closed

[2019-06-27 00:17] kingthorin commented on #67
For future reference: https://help.github.com/en/articles/closing-issues-using-keywords

[2019-06-30 19:48] patrickceg commented on #10
I finished my analysis looking at all the stuff looking for conversion issues (brutally copied from the word processor I was working with)...

Issues
	• Table of contents page completely broken
	• 5 of the of the subsection summary pages have broken links
	• Links to references have no formatting standard:
		○ 2 - has a academic style reference URLs [1], [2]
		○ Section 4 bounces between links on

[2019-07-07 16:50] ThunderSon commented on #10
@patrickceg Thank you for this!
- File names should be `_` separated. Having spaces will force the author to use URL encoding.
- I like the template suggestion, yet it's going to be a bit hard to implement. There is already a [template](https://github.com/OWASP/OWASP-Testing-Guide-v5/pull/66#issuecomment-502066240) from v3. I can't nor @kingthorin amend it AFAIK.
- Links and references: All linked

[2019-07-08 09:33] GT-ACC-RT opened #70 "Fixed broken links for section 4 content pages"
Restored broken links in the content page markdown files under each of the testing categories in section 4.

[2019-07-08 09:37] kingthorin commented on #70
Duplicate of https://github.com/OWASP/OWASP-Testing-Guide-v5/issues/10

[2019-07-11 01:51] patrickceg opened #72 "Article Template"
**Is your feature request related to a problem? Please describe.**

This task arose out of issues and #65  #10, specifically this comment https://github.com/OWASP/OWASP-Testing-Guide-v5/issues/10#issuecomment-509014575

There have been a lot of discussions regarding changes to where images are stored, how links should be handled, and file names. As the discussion, we should have a template to be a

[2019-07-11 19:18] ThunderSon opened #73 "Missing Contribution Guide"
**Is your feature request related to a problem? Please describe.**
Contributors don't have any proper guidance, how to present their work, nor what are the best practices for their PRs

**Describe the solution you'd like**
Add a CONTRIBUTING.md specifying how to contribute, how to setup their environment, expected results, etc.

[2019-07-11 19:20] ThunderSon opened #74 "Setup Project and Corresponding Milestones"
**Is your feature request related to a problem? Please describe.**
The project lacks a Project and Milestones in order to keep track of the issues, set timely goals, and push the project forward in a planned manner.

**Describe the solution you'd like**
Create a Project and Milestones based on what the project needs as achievements with their corresponding issues.

[2019-07-11 19:23] ThunderSon opened #75 "CI Checks and Linter Addition"
**Is your feature request related to a problem? Please describe.**
The project lacks PR checks where there are no requirements and no baseline checks for accepting them, which could lead to unintentional merges.

**Describe the solution you'd like**
Setup a CI tool (Travis, Circle) based on what works best with the project, ensuring the availability of a linter on top of it to ensure that the best

[2019-07-17 17:08] kingthorin opened #77 "4.2 Information Gathering - v4 Migration Cleanup"
- [ ] "wikilinks" during migration the OWASP Mediawiki links were tagged "wikilink" these needs to be converted to proper absolute URLs.
  - Unless the wikilink is to content within the OTG, in which case it should be the proper new github relative URL (URL Encoded).
- [ ] Foot notes/references should use standard in-line links. (One of the first two here: https://github.com/adam-p/markdown-here/w

[2019-07-17 20:28] nathanhoward14 opened #78 "Windows Defender Reports Virus in Downloaded ZIP File"
Windows Defender reports the following when downloading the ZIP file:

Threat detected: Backdoor:PHP/Chopper.B!dha
Alert level: Severe
Date: 7/17/2019 3:17 PM
Category: Backdoor
Details: This program provides remote access to the computer it is installed on.

Affected items:

  containerfile: <PATH>\OWASP-Testing-Guide-v5-master.zip

  file: <PATH>\OWASP-Testing-Guide-v5-master.zip->OWASP-Testing-

[2019-07-17 20:56] kingthorin commented on #78
Yup I noticed that the other day too. The content in question does include benign source code for an example web backdoor.

[2019-07-17 21:01] kingthorin commented on #78
Feel free to review the content on GitHub and understand the reason it is a False Positive from defender.

https://github.com/OWASP/OWASP-Testing-Guide-v5/blob/master/document/4%20Web%20Application%20Security%20Testing/4.11%20Business%20Logic%20Testing/4.11.9%20Test%20Upload%20of%20Malicious%20Files%20(OTG-BUSLOGIC-009).md#webshell-backdoor

(It’s a markdown file, the code isn’t executed unless yo

[2019-07-17 21:22] nathanhoward14 commented on #78
Fair enough, but if this is a false positive then it should be explicitly mentioned that one would be generated since it is impossible to determine if the code snippet is what is being detected or if the file itself has been truly been altered to include a virus.

It would be a clever trick for an actual hacker to infect a file that would be easily dismissed as a false positive.

[2019-07-17 21:31] kingthorin commented on #78
Yup, just trying to give you options until it can be addressed somehow.

[2019-07-18 00:29] patrickceg commented on #78
Very few AVs on VirusTotal also flag it: https://www.virustotal.com/gui/file-analysis/ZDdiYWFlMTM1YmEyYWQyNDkzM2ZiNTE3N2Y3MjVlNjg6MTU2MzQwOTE3Ng==/detection
https://www.virustotal.com/gui/file/2c38b233b56f2e566c90c32315335dab1fca9e0fbd64323a0666efcddd912d4f/detection

There's a good possibility that overzealous web browser protection or corporate proxies would also mark the samples as malware. (Th

[2019-07-18 00:54] kingthorin commented on #78
I like the idea of using $CENSORED as suggested, however, I need to review the content/context. We might be able to link elsewhere for code/samples ... or use a pseudo code block instead of real code.

[2019-07-18 08:49] kingthorin commented on #35
Closed with https://github.com/OWASP/OWASP-Testing-Guide-v5/pull/76

[2019-07-18 08:49] #35 closed

[2019-07-18 21:53] patrickceg commented on #78
I can confirm that my own Windows Defender only flags the following file:

OWASP-Testing-Guide-v5\document\4 Web Application Security Testing\4.11 Business Logic Testing\4.11.9 Test Upload of Malicious Files (OTG-BUSLOGIC-009).md

We can therefore try different combinations of "censoring" or obfuscating such that the code sample isn't functional without modification.

I haven't tried a full exploi

[2019-07-19 05:39] ThunderSon commented on #78
We can create a list of system commands that can be ran, and put in there the variable of that list, which should appear to be safe. What do you think?

[2019-07-19 13:01] jzold commented on #64
hi @ManhNho
any progress on this one?

Thanks
J./

[2019-07-19 13:18] kingthorin opened #79 "4.3 Configuration and Deployment Testing - v4 Migration Cleanup"
- [ ] "wikilinks" during migration the OWASP Mediawiki links were tagged "wikilink" these needs to be converted to proper absolute URLs.
  - Unless the wikilink is to content within the OTG, in which case it should be the proper new github relative URL (URL Encoded).
- [ ] Foot notes/references should use standard in-line links. (One of the first two here: https://github.com/adam-p/markdown-here/w

[2019-07-19 13:18] kingthorin opened #80 "4.4 Identity Management Testing - v4 Migration Cleanup"
- [ ] "wikilinks" during migration the OWASP Mediawiki links were tagged "wikilink" these needs to be converted to proper absolute URLs.
  - Unless the wikilink is to content within the OTG, in which case it should be the proper new github relative URL (URL Encoded).
- [ ] Foot notes/references should use standard in-line links. (One of the first two here: https://github.com/adam-p/markdown-here/w

[2019-07-19 13:19] ThunderSon commented on #64
@jzold what proposed content is being discussed in this issue? Or are you talking in general? The issue feels like it could have a better description.

[2019-07-19 13:19] kingthorin opened #81 "4.5 Authentication Testing - v4 Migration Cleanup"
- [ ] "wikilinks" during migration the OWASP Mediawiki links were tagged "wikilink" these needs to be converted to proper absolute URLs.
  - Unless the wikilink is to content within the OTG, in which case it should be the proper new github relative URL (URL Encoded).
- [ ] Foot notes/references should use standard in-line links. (One of the first two here: https://github.com/adam-p/markdown-here/w

[2019-07-19 13:19] kingthorin opened #82 "4.6 Authorization Testing - v4 Migration Cleanup"
- [ ] "wikilinks" during migration the OWASP Mediawiki links were tagged "wikilink" these needs to be converted to proper absolute URLs.
  - Unless the wikilink is to content within the OTG, in which case it should be the proper new github relative URL (URL Encoded).
- [ ] Foot notes/references should use standard in-line links. (One of the first two here: https://github.com/adam-p/markdown-here/w

[2019-07-19 13:20] kingthorin opened #83 "4.7 Session Management Testing - v4 Migration Cleanup"
- [ ] "wikilinks" during migration the OWASP Mediawiki links were tagged "wikilink" these needs to be converted to proper absolute URLs.
  - Unless the wikilink is to content within the OTG, in which case it should be the proper new github relative URL (URL Encoded).
- [ ] Foot notes/references should use standard in-line links. (One of the first two here: https://github.com/adam-p/markdown-here/w

[2019-07-19 13:20] kingthorin opened #84 "4.8 Input Validation Testing - v4 Migration Cleanup"
**Note** This section is very long, tackling this issue should be broken in to multiple pull requests to make review/merge easier on everyone. (Consider 3 PRs with 6 pages each? Maybe 4 PRs?)

- [ ] "wikilinks" during migration the OWASP Mediawiki links were tagged "wikilink" these needs to be converted to proper absolute URLs.
  - Unless the wikilink is to content within the OTG, in which case it

[2019-07-19 13:21] kingthorin opened #85 "4.9 Testing for Error Handling - v4 Migration Cleanup"
- [ ] "wikilinks" during migration the OWASP Mediawiki links were tagged "wikilink" these needs to be converted to proper absolute URLs.
  - Unless the wikilink is to content within the OTG, in which case it should be the proper new github relative URL (URL Encoded).
- [ ] Foot notes/references should use standard in-line links. (One of the first two here: https://github.com/adam-p/markdown-here/w

[2019-07-19 13:22] kingthorin opened #86 "4.10 Testing for weak Cryptography - v4 Migration Cleanup"
Should be covered by: https://github.com/OWASP/OWASP-Testing-Guide-v5/pull/57

Someone should just do a sanity check.
- [ ] Sanity check

[2019-07-19 13:23] kingthorin commented on #70
Closed in: https://github.com/OWASP/OWASP-Testing-Guide-v5/pull/71

[2019-07-19 13:23] #70 closed

[2019-07-19 13:23] kingthorin opened #87 "4.11 Business Logic Testing - v4 Migration Cleanup"
- [ ] "wikilinks" during migration the OWASP Mediawiki links were tagged "wikilink" these needs to be converted to proper absolute URLs.
  - Unless the wikilink is to content within the OTG, in which case it should be the proper new github relative URL (URL Encoded).
- [ ] Foot notes/references should use standard in-line links. (One of the first two here: https://github.com/adam-p/markdown-here/w

[2019-07-19 13:23] kingthorin opened #88 "4.12 Client Side Testing - v4 Migration Cleanup"
- [ ] "wikilinks" during migration the OWASP Mediawiki links were tagged "wikilink" these needs to be converted to proper absolute URLs.
  - Unless the wikilink is to content within the OTG, in which case it should be the proper new github relative URL (URL Encoded).
- [ ] Foot notes/references should use standard in-line links. (One of the first two here: https://github.com/adam-p/markdown-here/w

[2019-07-19 13:24] kingthorin opened #89 "5 Reporting - v4 Migration Cleanup"
- [ ] "wikilinks" during migration the OWASP Mediawiki links were tagged "wikilink" these needs to be converted to proper absolute URLs.
  - Unless the wikilink is to content within the OTG, in which case it should be the proper new github relative URL (URL Encoded).
- [ ] Foot notes/references should use standard in-line links. (One of the first two here: https://github.com/adam-p/markdown-here/w

[2019-07-19 13:24] kingthorin opened #90 "Appx.A Testing Tools Resource - v4 Migration Cleanup"
- [ ] "wikilinks" during migration the OWASP Mediawiki links were tagged "wikilink" these needs to be converted to proper absolute URLs.
  - Unless the wikilink is to content within the OTG, in which case it should be the proper new github relative URL (URL Encoded).
- [ ] Foot notes/references should use standard in-line links. (One of the first two here: https://github.com/adam-p/markdown-here/w

[2019-07-19 13:25] kingthorin opened #91 "Appx.B Suggested Reading - v4 Migration Cleanup"
- [ ] "wikilinks" during migration the OWASP Mediawiki links were tagged "wikilink" these needs to be converted to proper absolute URLs.
  - Unless the wikilink is to content within the OTG, in which case it should be the proper new github relative URL (URL Encoded).
- [ ] Foot notes/references should use standard in-line links. (One of the first two here: https://github.com/adam-p/markdown-here/w

[2019-07-19 13:25] kingthorin opened #92 "Appx.C Fuzz Vectors - v4 Migration Cleanup"
- [ ] "wikilinks" during migration the OWASP Mediawiki links were tagged "wikilink" these needs to be converted to proper absolute URLs.
  - Unless the wikilink is to content within the OTG, in which case it should be the proper new github relative URL (URL Encoded).
- [ ] Foot notes/references should use standard in-line links. (One of the first two here: https://github.com/adam-p/markdown-here/w

[2019-07-19 13:26] kingthorin opened #93 "Appx.D Encoded Injection - v4 Migration Cleanup"
- [ ] "wikilinks" during migration the OWASP Mediawiki links were tagged "wikilink" these needs to be converted to proper absolute URLs.
  - Unless the wikilink is to content within the OTG, in which case it should be the proper new github relative URL (URL Encoded).
- [ ] Foot notes/references should use standard in-line links. (One of the first two here: https://github.com/adam-p/markdown-here/w

[2019-07-19 13:26] kingthorin opened #94 "Appx.E Misc - v4 Migration Cleanup"
- [ ] "wikilinks" during migration the OWASP Mediawiki links were tagged "wikilink" these needs to be converted to proper absolute URLs.
  - Unless the wikilink is to content within the OTG, in which case it should be the proper new github relative URL (URL Encoded).
- [ ] Foot notes/references should use standard in-line links. (One of the first two here: https://github.com/adam-p/markdown-here/w

[2019-07-19 13:27] kingthorin opened #95 "OWASP Testing Guide v4 Table of Contents (Single Page) - v4 Migration Cleanup"
- [ ] "wikilinks" during migration the OWASP Mediawiki links were tagged "wikilink" these needs to be converted to proper absolute URLs.
  - Unless the wikilink is to content within the OTG, in which case it should be the proper new github relative URL (URL Encoded).
- [ ] Foot notes/references should use standard in-line links. (One of the first two here: https://github.com/adam-p/markdown-here/w

[2019-07-19 13:37] kingthorin opened #96 "Rename everything without spaces"
As agreed elsewhere all files should be named without spaces in order to avoid the need to URLEncode etc.

When files are renamed links and images within the content will need to be updated as well.

- [ ] Rename all files.
- [ ] Fix links.
- [ ] Fix images.

[2019-07-19 14:33] jzold commented on #64
@ThunderSon this is new content proposed to the OWASP document - I think the description is clear enough: 'Add 4.8.19 Server-Side Template Injection SSTI (OTG-INPVAL-019)'

any other questions please let me know

J./

[2019-07-19 14:59] ThunderSon commented on #64
Oh! Forgive me, I thought you were amending an existing section. Do you have any references that you'll be following? I can say it'd be safe for you to tackle it if you feel like you have the time for it, as I don't see any PR or extra document in @ManhNho 's fork.

[2019-07-19 15:32] jzold commented on #64
the action is with @ManhNho at this stage let's wait his feedback for now - just because there is nothing in his fork he might still be working on the draft somewhere outside of GitHub.

@ManhNho  please confirm

Thanks
J./

[2019-07-20 00:20] patrickceg commented on #78
So much for the censored idea...

This is being detected as well

[code]
https://www.virustotal.com/gui/file-analysis/YzM0MjY1MGI2YzE0ZjMzMTliZmY3M2U1ZWRlMzU1Zjg6MTU2MzU4MTkyMw==/detection

[2019-07-20 00:35] patrickceg commented on #78
So much for a simple task! This is also detected

[code]

https://www.virustotal.com/gui/file/057211bb7599d97d409c1d0b2abff86de14a217c268888a66d500aa0a2b87a7c/detection

[2019-07-20 00:50] patrickceg commented on #78
Hmm pesky bugger... it also doesn't like

[code]

[2019-07-20 01:02] patrickceg commented on #78
I removed one of the three engine detections when I replaced system and eval with CENSORED, but unfortunately Windows Defender still calls it out, as _Yorcirekrikseng_ instead of _Chopper_.

https://www.virustotal.com/gui/file-analysis/NGE0NGI2ZWM1YzZhNmJhNjA1YzI3MDdhZDVjYmJkMmQ6MTU2MzU4NDMzMg==/detection

[2019-07-20 02:18] patrickceg commented on #78
The pull request is for specifically the issue mentioned, which is Windows Defender (Microsoft's scanner) detecting the page as malware. Note that with the "CENSORED" strings I added, the code is no longer syntactically correct, and setting a server up to be dumb enough to execute the .md files will not result in a webshell behaviour.

[2019-07-20 02:29] patrickceg commented on #73
Another item for the contribution guide is that we should remove (Dead?) Google Group from Readme.md. It seems discussions are occurring on the OWASP Public Slack instead.

[2019-07-20 08:46] ThunderSon commented on #73
@patrickceg Hmmm, I think it's alright keeping it. If someone wants something, they can choose between Slack and G Groups. We can simply hint that we are more active on Slack than on the Groups.

[2019-07-20 12:49] rejahrehim commented on #75
We could use Travis for basic linting in .md files as we do for SecureTea project and its docs.

[2019-07-20 12:53] rejahrehim commented on #95
I have done with almost all "wikilinks" URL corrections. But, It will conflict many links as PR #97 is in progress.

[2019-07-20 13:41] ThunderSon commented on #75
Exactly the objective! I'll be looking at different Travis implementations for md files and do it. Might you have the time for it? Otherwise, I'd love to set you as a reviewer once I do it 😄

[2019-07-20 13:43] ThunderSon commented on #95
Apologies for the conflict! The PR should be merged soon enough. If you happen to not have time, link us to your PR and we'll see how we might be able to integrate it with the project!

[2019-07-20 14:00] ThunderSon commented on #40
@kingthorin Please validate the update 😄

[2019-07-20 14:12] ThunderSon commented on #40
@MatOwasp Hi Mat! Kindly note that we are not able to `Manage Topics` despite it being mentioned in the roles of a Maintainer. I sent an email to Github to advise on the issue. Till then, can you update the topics when possible with the following topics?
`owasp` `owasp-top-10` `security` `appsec` `security-testing` `pentesting` `web-security`

[2019-07-20 15:39] rejahrehim commented on #95
After merging #97 I can put the PR.

[2019-07-20 15:46] rejahrehim commented on #75
One simple option would be configuring Codacy(https://app.codacy.com) which will check for remark-lint (remark-lint is a markdown code style linter. Ensuring the markdown is of great quality to makes sure less refactoring is needed afterwards.

I can do both options.

[2019-07-20 17:00] ThunderSon commented on #75
I believe using travis and implementing the markdown linter would be the best choice as this is what I'll be recommending in the environment setup, so that they are in sync. What do you think?

[2019-07-20 18:22] rejahrehim commented on #75
Travis will be best if we are planning to use linting in environment setup too. I will send the PR with the first implementation of Travis config.

[2019-07-20 18:33] ThunderSon commented on #75
You can check out the new PR https://github.com/OWASP/OWASP-Testing-Guide-v5/pull/99
Just finished the contribution guide, which contains the linter plugin 😄
I will look at your PR once I can, thank you for your support!

[2019-07-21 11:09] #96 closed

[2019-07-21 11:12] kingthorin commented on #95
FYI @rejahrehim #97 has been merged :zap:

[2019-07-21 11:20] ThunderSon commented on #68
@kingthorin Moving forward, let's set it to Squash and Merge, and when need be, the reviewer can manually take in all commits. Sounds good?

[2019-07-21 11:28] kingthorin commented on #68
Seems fine to me, but I don’t think it’s something I can set.

As things are people can use the drop down on the merge button. (It seems to stick with whichever method  was most recently used, until changed again.)

[2019-07-21 19:33] #78 closed

[2019-07-22 04:05] #94 closed

[2019-07-22 07:44] #95 closed

[2019-07-22 17:17] #93 closed

[2019-07-23 04:37] #92 closed

[2019-07-23 06:07] #91 closed

[2019-07-23 17:04] #89 closed

[2019-07-24 08:33] ThunderSon commented on #65
@kingthorin this was accomplished by yourself, right?

[2019-07-24 08:34] #12 closed

[2019-07-24 08:35] #73 closed

[2019-07-24 08:41] kingthorin commented on #65
Yup, done. I guess #96 duplicated this, oops.

[2019-07-24 08:41] #65 closed

[2019-07-24 16:12] rejahrehim commented on #79
Working on it.

[2019-07-25 18:57] citybasebrooks commented on #90
PR https://github.com/OWASP/OWASP-Testing-Guide-v5/pull/123 has fixes for Appx.A

[2019-07-26 12:47] rejahrehim commented on #80
Working on it.

[2019-07-27 13:41] rejahrehim commented on #81
Working on it

[2019-07-28 05:14] rejahrehim commented on #82
Working on this issue.

[2019-07-28 06:53] rejahrehim commented on #83
Working on this issue.

[2019-07-30 08:40] rejahrehim commented on #84
Working on this issue

[2019-07-30 17:02] kingthorin commented on #90
Closed in #110

[2019-07-30 17:02] #90 closed

[2019-08-01 00:25] patrickceg opened #138 "Link to tools that can sniff sessions in "encrypted channel" testing sections"
**Is your feature request related to a problem? Please describe.**
When going through the pages that mentioned unencrypted channels, there were non-linked mentions of ideas to be able to eavesdrop on the connections (e.g. Wireshark), but those pages did not have the tool linked.

Pages include:

- 4.5.1_Testing_for_Credentials_Transported_over_an_Encrypted_Channel_OTG-AUTHN-001.md
- 4.10.3_Testing

[2019-08-01 00:34] patrickceg opened #139 "Improve consistency for mentions of Black, Grey, White Box Testing"
**Describe the issue**
I noticed this while going through the content of 4.5.2_Testing_for_Default_Credentials_OTG-AUTHN-002.md. It had this statement that redifined black box testing unnecessarily in a subsection:

Since white/grey/black box testing are mentioned in many places in the article, we should use it consistently in the whole document, and not re-explain the terms like in the mention ab

[2019-08-01 00:54] patrickceg opened #140 "Rewrite 4.5.5_Testing_for_Vulnerable_Remember_Password_OTG-AUTHN-005.md"
**Describe the issue**

While going through the changes to [4.5.5_Testing_for_Vulnerable_Remember_Password_OTG-AUTHN-005.md](https://github.com/OWASP/OWASP-Testing-Guide-v5/blob/master/document/4_Web_Application_Security_Testing/4.5_Authentication_Testing/4.5.5_Testing_for_Vulnerable_Remember_Password_OTG-AUTHN-005.md) , I noticed the section seems a bit dated and could use some new information or

[2019-08-01 01:03] patrickceg opened #141 "Update 4.5.6 (browser cache) for new browsers and OS"
**Describe the issue**

https://github.com/OWASP/wstg/tree/master/document/4_Web_Application_Security_Testing/4.5_Authentication_Testing

The article 4.5.6_Testing_for_Browser_Cache_Weaknesses_OTG-AUTHN-006.md in the "Browser Cache" subsection has information dating back to Windows XP which should be updated:

- Windows paths mention the XP paths `C:\Documents and Settings` instead of `C:\Users`
-

[2019-08-01 01:13] patrickceg opened #142 "Outdated advice in password policy / brute force resistance articles"
**Describe the issue**
I found this while checking 4.5.7_Testing_for_Weak_Password_Policy_OTG-AUTHN-007.md for migration testing. It had a string:

This particular "after 90 days" is based on old advice that was actually [overturned by NIST](https://nakedsecurity.sophos.com/2016/08/18/nists-new-password-rules-what-you-need-to-know/). Therefore, we should look over ALL of the items regarding brute

[2019-08-05 17:01] brainlulz commented on #85
I'm working on it

[2019-08-06 07:07] brainlulz commented on #87
I started working on it. A few links are dead and old. Should we start an issue to actualize this chapter ?

[2019-08-07 07:17] brainlulz opened #149 "Outdated content and links in chapter 4.11"
The content of the chapter 4.11 seems outdated. I'm removing dead links in issue #87 or found new one but some reports are from 2012.

Also browser pluggins are recommended but may be useless now as they are part of the developers tools built-in.

As it concern business logic, it could be great to update the content of this chapter after the issue #87 is fulfilled.

[2019-08-10 12:55] kingthorin commented on #81
Closed in https://github.com/OWASP/OWASP-Testing-Guide-v5/pull/126

[2019-08-10 12:55] #81 closed

[2019-08-10 13:12] kingthorin commented on #82
Finished in https://github.com/OWASP/OWASP-Testing-Guide-v5/pull/127

[2019-08-10 13:12] #82 closed

[2019-08-15 14:27] #77 closed

[2019-08-16 08:22] #80 closed

[2019-08-16 11:24] kingthorin commented on #40
Description looks good to me 👍

[2019-08-16 13:54] ThunderSon commented on #87
Those will be done in another PR. Wherever you see a dead link, that can be removed from the guide.

[2019-08-16 13:58] kingthorin opened #152 "Tracker: Dead or Irrelevant Tools"
During content review references to and examples of using the following tools should be removed. (Because the projects are dead, replaced, or otherwise irrelevant).

- [x] Webscarab (Fixed in: https://github.com/OWASP/wstg/pull/323)
- [x] Paros Proxy (Fixed in: https://github.com/OWASP/wstg/pull/321)
- [x] Update ZAP web references to www.zaproxy.org (Done in: https://github.com/OWASP/wstg/pull/33

[2019-08-16 19:22] rejahrehim commented on #83
Can we close this issue?

[2019-08-16 19:28] kingthorin commented on #83
Yup, seems completed to me.

[2019-08-16 19:28] #83 closed

[2019-08-16 19:28] kingthorin commented on #83
Thanks!!

[2019-08-19 09:03] #64 closed

[2019-08-20 19:23] vermava commented on #7
Hi Team, I am picking up the topic and working on it

Thank You
Vandana

[2019-08-20 19:24] vermava commented on #8
Hi Team, I will share the draft shortly on this.

Thank you
Vandana

[2019-08-20 19:27] ThunderSon commented on #8
@vermava hello! I'd prefer that you tackle an issue at a time. Which one would you like to take care of first?

[2019-08-23 16:39] victoriadrake commented on #142
To expand on a point @kingthorin made in Slack, it may be more prudent of us to avoid being too detailed with prescriptions and instead refer to the CheatSheet, or to [NIST Digital Identity Guidelines](https://pages.nist.gov/800-63-3/sp800-63b.html) as the CheatSheet does. This has the added advantage of not relying on OWASP's contributors to keep these prescriptions up-to-date in different places

[2019-08-23 17:32] victoriadrake commented on #139
I'm coming across this in the introduction as well. Is there a general consensus as to whether Black, White, Grey, should be capitalized or not? Capitalization currently varies.

[2019-08-23 18:18] kingthorin commented on #139
If it's a title or name it should use title case.

[2019-08-23 18:35] victoriadrake commented on #139
Yes, if the rest of the title also is. I think this is relevant in the course of addressing this issue, so I'll be so bold as to propose a standard with the following example: lowercase and hyphenated (as adjective) by default. Example:

I'm leaning on the [GCC Coding Conventions for spelling](http://gcc.gnu.org/codingconventions.html#Spelling) for the use of the hyphen here. When used as a noun,

[2019-08-24 00:11] victoriadrake opened #158 "Do away with, or better define, "Figure x" convention"
**Describe the issue**

By the convention of numbering figures, any time an image is added to a section that does not come at the end of the existing text, every figure that succeeds the new image must have its caption renamed. This is already the case, as an image that was added in section 2 doesn't yet have a "Figure x" caption. To add one and keep up the convention, we'd have to change the capt

[2019-08-24 00:15] kingthorin commented on #158
Ya there was a long discussion about this on slack.

Chances are 4.2.3 hasn't been updated since the decision was made.

Per the slack chat we agreed to sequential numbering within section/sub-section to minimize what would require re-numbering.

[2019-08-25 13:49] patrickceg commented on #142
That works for me as well, and it makes sense given the scope of the document. Best to link to "defenders" guides rather than expand out our scope beyond the "breakers" role :)

Original post edited (with the old text kept for historical purposes)

[2019-08-26 02:28] GT-ACC-RT opened #160 "4.12.9 Edit "How to Test" section title"
Change the "How to Test" section title from H3 to H2 to improve standardization across all section titles (the other section titles are all H2).

[2019-08-26 14:52] victoriadrake opened #161 "Testing phases in introductory sections are confusing"
# Issue

In section 3, the OWASP Testing _Framework_ is described as some different activities that occur at specific phases of software creation:

In section 4.1, the Testing _Methodology_ is described as a model with three components:

As well as a "test divided into 2 phases: Phase 1 Passive Mode... Phase 2 Active Mode."

The division of Phase 1 and 2 is contradicted by the appearance of "Infor

[2019-08-28 14:41] ThunderSon commented on #161
For the confusion concern, it is clearly stated `phases of software creation`. It does not relate to 4.1 technically. It's mainly where security should be integrated.
As for the second point, I see some validity. I will review it further and see what we can propose. Would love to chat more on both as well. Not in a blocking mode on the first point at all 😄 We can have chats on Slack and then discu

[2019-08-28 23:39] victoriadrake opened #164 "Update 4.2.1, add content on search engine recon"
# Issue

There are references to things that no longer exist.

Search operators and search engines are lumped together, and search operators are not well described. This section would benefit from separation and expansion.

[2019-08-29 17:40] #158 closed

[2019-09-02 00:02] patrickceg opened #167 "Section 2 - introduction references section seems to not render (Firefox)"
**Describe the issue**

References in the introduction page don't seem to render properly.

See: https://github.com/OWASP/OWASP-Testing-Guide-v5/blob/master/document/2_Introduction/2_Introduction.md#References

Screenshot (Firefox):
![image](https://user-images.githubusercontent.com/19738617/64083825-156b8d00-ccf3-11e9-99c3-477d770afd6b.png)

There is a references section, but the browser shows it

[2019-09-02 00:04] patrickceg commented on #68
Should we close this issue? We've been through a whole month of awesome contributions and I don't think this was ever a problem.

[2019-09-02 01:45] #68 closed

[2019-09-03 14:54] victoriadrake commented on #167
Git blame me in #154. I updated the links to https, but left the reference format instead of inlining them. I think @ThunderSon later said (on another PR?) that links should be inline now. Perhaps we need another style guide update.

[2019-09-03 14:56] kingthorin commented on #167
It's mentioned in #10 that inline should be preferred, but then verbosely outlines the ref style. (That's probably my mistake.)

Edit: oh crud, actually my guidance in #10 is out of date, fixed now..... SORRY!

[2019-09-03 15:08] ThunderSon commented on #167
Both methods are acceptable. If you want to use the one mentioned in this document, there is no need to have the References section. I'd say the inline is more preferred because it reflects better the output. The second option makes it more paper like.

[2019-09-03 15:48] #164 closed

[2019-09-04 00:22] victoriadrake opened #169 "Update 4.2.2 Fingerprint Web Server"
This section seems long out of date and I'd like to take a crack at making it useful again. Here's how I'd restructure it and what I think should be covered.

I would appreciate some input from the community - your preferred tools, personal experiences, and any tips or links to articles that I may benefit from incorporating into my research. :pray:

---

# Fingerprint Web Server

## Summary
- Expl

[2019-09-04 03:30] citybasebrooks commented on #169
Nikto and nmap are lightweight tools useful for fingerprinting web servers.

Virtually all dynamic testing tools (DAST) will include one or more tests designed to identify a web server/application version.  While there are ways to do this type of work manually most of the manual inspection of cookies, headers, resquest/response behavior, etc. has been automated.

[2019-09-07 00:38] patrickceg commented on #72
I'm getting ready to promote my draft to a full pull request, using this "comment" to gather notes

* From https://github.com/OWASP/OWASP-Testing-Guide-v5/issues/167#issuecomment-527501825  it seems like we want to promote inline link if appropriate, and other references or reading material that did not get linked in-line go in the references section
* Of course the template needs to follow the fr

[2019-09-11 13:40] J3rry367 opened #171 "Add an abbreviated Top-10 focused guide"
As a consultant, I run into a lot of smaller groups who aren't looking to pay for the number of hours it takes to work through the full ASVS. This is especially the case when the client has multiple web apps they need to have reviewed, we end up having to submit bids for abbreviated reviews where we focus solely on the Top-10.

It would be great if there was a quick and dirty testing guide that co

[2019-09-11 13:46] kingthorin commented on #171
I think we could provide a mapping of the Testing Guide to the Top 10.

However, doing an assessment based solely on Top 10 items still leaves a huge amount of attack surface or abuse cases (some of which may be more important over the top 10's 2 or 3 year lifespan, or due to new research). We can probably add some commentary to that effect in the intro sections....

[2019-09-17 16:37] ThunderSon opened #172 "Section 2 - Update References and Text for Test Metrics SubSection"
As noted in the following [review comment](https://github.com/OWASP/wstg/pull/168#discussion_r322519280), the metrics for doing tests earlier in the pipeline don't align properly and are probably old by now and needs proper updating.

The required changes are the following:
- Identify proper references and links to backup the claims in that section
- Update the section to the most recent data avai

[2019-09-19 15:21] #169 closed

[2019-09-19 20:22] ThunderSon commented on #79
@kingthorin this can be closed, right?

[2019-09-19 20:23] #79 closed

[2019-09-19 20:25] ThunderSon commented on #86
I will be tackling this in the coming days.

[2019-09-19 20:26] kingthorin commented on #86
Thanks, remember this is intended to be a migration cleanup activity not a content review :wink:

[2019-09-20 15:24] #167 closed

[2019-09-27 23:15] victoriadrake commented on #88
@kingthorin I'm going through the rest of this, would you please assign me?

[2019-09-28 00:13] kingthorin commented on #88
Sure thing, thanks!

[2019-09-29 17:00] rejahrehim opened #180 "References and inline links need to be updated"
References and inline links throughout the documents need to be updated, as there are many old/outdated links. We have to ensure that each link provided in the reference section fits the topic discussed.

Also, it would be better to have HTTPS URLs.

[2019-09-30 08:56] ThunderSon commented on #13
@kingthorin I am actually reconsidering this. First and foremost, I believe this issue needs rewording. Can you maybe help me do that? And are you 💯 with this issue? Would you like that we discuss it and see how it can be done to improve the guide, or just remove it?

[2019-09-30 08:58] ThunderSon commented on #14
@kingthorin This needs to be dis-sectioned into different PRs. Most of them fall in the configuration attacks, 4.3. Should we maybe break it further and create more direct issues?

[2019-09-30 09:03] ThunderSon commented on #56
I'll be doing another review on this testing scenario later on and then we can close this issue.

[2019-09-30 09:06] ThunderSon commented on #138
This issue should tackle the discussion of tools and how to use them if possible, to provide proper guidance for people to use that tool with articles and references on it.

[2019-09-30 11:56] gitcnd commented on #13
I'm happy to help with this.  I wrote the pen-testing Guide for the Australian Trusted Digital Identity Framework, so much of the work needed is already done.  I'm pretty busy though - can someone give me a heads-up on how and where this preface should go, and what I need to do to submit something for consideration?

[2019-10-01 00:35] patrickceg commented on #140
@ThunderSon I clarified a bit of the description, although I recommend we give some direction if a new contributor will take it on for Hacktoberfest. Specifically, we should make it clear if we want the section to stay on its own or to be merged into, for example, section [4.5.4](https://github.com/OWASP/OWASP-Testing-Guide-v5/blob/master/document/4_Web_Application_Security_Testing/4.5_Authenticat

[2019-10-01 17:09] kingthorin commented on #84
Closing, all sub-sections addressed.

[2019-10-03 00:42] victoriadrake opened #183 "Add tests to 4.12.9 Testing for Clickjacking"
The current document describes clickjacking defenses from the title "Client side protection: Frame Busting" onward. Much of the content also appears in [OWASP Clickjacking Defense Cheat Sheet](https://cheatsheetseries.owasp.org/cheatsheets/Clickjacking_Defense_Cheat_Sheet.html).

There is a "proof of concept" described later in the text, but no specific testing instructions. I believe the portion

[2019-10-03 08:34] brainlulz commented on #180
Should this issue be splitted by chapters ?

[2019-10-03 11:13] kingthorin commented on #40
I was finally able to add topics this morning. Closing this ticket.

[2019-10-03 11:13] #40 closed

[2019-10-08 12:44] #86 closed

[2019-10-15 14:11] jzold opened #192 "Fix broken link and markdown - 4.12.13_Testing_for_Cross_Site_Script_Inclusion_OTG-CLIENT-013"
**Describe the issue**
PR for fixing the broken image link and markdown issues in 4.12.13_Testing_for_Cross_Site_Script_Inclusion_OTG-CLIENT-013.md

[2019-10-16 07:10] rejahrehim commented on #84
@kingthorin  This Issue not complete. Better to reopen until it is completed.

[2019-10-17 09:12] #72 closed

[2019-10-17 15:00] kingthorin opened #210 "Update template to include remediation section"
As has been discussed and agreed various places the template (and all sections/sub-sections) should include a simple remediation section with a short paragraph or few bullets, and relevant links/references to ASVS.

[2019-10-17 15:02] kingthorin opened #211 "Update README/CONTRIBUTING to mention template"
README.md and CONTRIBUTING.md should reference the template materials.

[2019-10-18 02:19] #74 closed

[2019-10-18 09:45] rejahrehim opened #213 "Fix image names"
Set correct image names in all sections

[2019-10-18 19:28] #87 closed

[2019-10-18 20:21] #161 closed

[2019-10-22 21:10] #142 closed

[2019-10-23 05:05] rejahrehim commented on #85
Can we close this issue?

[2019-10-23 06:24] #85 closed

[2019-10-23 19:26] rejahrehim commented on #84
Can we close this issue?

[2019-10-23 19:27] #84 closed

[2019-10-23 19:29] rejahrehim commented on #213
Can we close this issue?

[2019-10-23 19:30] rejahrehim commented on #10
Still anything pending anything in this issue?

[2019-10-23 19:35] kingthorin commented on #213
Yup.

For the future you might want to use this on your pulls:
https://help.github.com/en/github/managing-your-work-on-github/closing-issues-using-keywords

[2019-10-23 19:35] #213 closed

[2019-10-23 19:40] #192 closed

[2019-10-23 19:42] kingthorin commented on #10
It's getting close (96%).

[2019-10-25 01:14] kingthorin commented on #211
Ref: https://github.com/OWASP/OWASP-Testing-Guide-v5/tree/master/template

[2019-10-26 21:04] ThunderSon commented on #10
This issue was a milestones of its own. This issue is the biggest massacre in GitHub's history.

[2019-10-27 09:20] #160 closed

[2019-10-27 09:20] #88 closed

[2019-10-28 06:09] rejahrehim commented on #10
Can we close this?

[2019-10-28 07:32] #10 closed

[2019-10-28 13:20] #210 closed

[2019-10-28 14:53] #75 closed

[2019-10-28 17:19] kingthorin commented on #75
Ref: https://github.com/OWASP/OWASP-Testing-Guide-v5/pull/223

[2019-10-28 17:55] Zeerg opened #224 "Section 4.8.14.3_Testing_for_Format_String has no valid whitepapers"
**Describe the issue**
Section 4.8.14.3 has no valid whitepapers they all lead to 404s. We should track down some new ones.

[2019-10-29 15:48] anantshri commented on #224
- [Tim Newsham: “A paper on format string attacks”](http://comsec.theclerk.com/CISSP/FormatString.pdf)
can be found in the way back machine (2005) (atleast its 404'ng since 2016 so a good spot)
http://web.archive.org/web/20050321013937/http://comsec.theclerk.com/CISSP/FormatString.pdf

- [Team Teso: “Exploiting Format String Vulnerabilities”](http://www.cs.ucsb.edu/~jzhou/security/formats-teso.htm

[2019-11-08 13:00] #211 closed

[2019-11-14 07:51] rejahrehim opened #230 "Migrate CI to Github Actions"
We can drop the dependency of Travis by running our build jobs via Github actions.
@kingthorin mentioned Github Actions are a bit faster.

[2019-11-14 13:07] #230 closed

[2019-11-18 04:48] rejahrehim opened #234 "Implement PDF auto build"
Build PDF releases and upload to the Github Release on version tags

[2019-11-21 14:48] #139 closed

[2019-12-12 17:19] victoriadrake opened #237 "Improve contribution guidance"
Improve CONTRIBUTING.md and style guide.

* Clarify and consolidate contribution instructions and writing style guidelines
* Cement article format

[2019-12-12 17:20] victoriadrake commented on #237
@ThunderSon Please assign me and add any specific goals that come to mind! Thanks!

[2019-12-12 19:07] victoriadrake opened #238 "Improve issue templates"
I'm submitting a PR to clarify the issue templates and create one for adding new content. This is its own fix, but also in support of #237.

[2019-12-13 09:34] #238 closed

[2019-12-13 09:37] ThunderSon commented on #237
Thank you for tackling this!
My main need/requirement for this it for it to be welcoming, descriptive, in a way to set the tone for the WSTG. New content will follow it, and old content will be updated accordingly. 😄

[2019-12-16 01:26] victoriadrake opened #241 "Rename table of contents files as READMEs"
**What's the issue?**
The document is less readable on GitHub than it could be. Looking for a Table of Contents (TOC) for a section takes three navigation actions: document > section > TOC page.

**How do we solve it?**
Improve readability of the document on GitHub by renaming each section's TOC markdown file as README.md.

See https://help.github.com/en/github/creating-cloning-and-archiving-repos

[2019-12-18 23:59] victoriadrake opened #243 "Improve sections' front page consistency"
**What's the issue?**

Consistency currently varies for section pages, such as 4.5 and 4.8. Some section pages have a table of contents while others have a lengthy page giving a summary and other information on the general topic and test cases. In particular I noticed [4.11 Business Logic Testing], which gives a summary of each test (violating DRY principle) and even lists Tools. I'd like to see t

[2019-12-21 15:19] #237 closed

[2019-12-23 00:55] lukaszlu commented on #149
Please assign me to this issue. I have created pull request to fix issue #149 https://github.com/OWASP/wstg/pull/245

[2020-01-08 22:34] victoriadrake opened #248 "Publish to OWASP/www-project-web-security-testing-guide"
**What would you like to happen?**

Mirror the testing guide documents to the OWASP website repository to take advantage of inbound traffic and support SEO.

This repository will remain the source of truth for the WSTG project, while the mirror repo [OWASP/www-project-web-security-testing-guide](https://github.com/OWASP/www-project-web-security-testing-guide) provides content to the WSTG project’s

[2020-01-09 01:17] kingthorin commented on #248
If we are gonna end-up duping to the www-project repo why not leave the www files over there?

[2020-01-09 08:09] rejahrehim commented on #248
We can keep those `www` files in the `www-project` itself. We only need to generate and add a document folder based on the releases in this repo.

[2020-01-09 12:05] victoriadrake commented on #248
A couple considerations: having the website files here as well would allow us to run tests (Actions can see if the site builds) before pushing to OWASP/www-project-web-security-testing-guide. We'd have things in one place, and OWASP/www-project-web-security-testing-guide becomes a no-touch mirror. At that point we're not really managing two repositories.

If we strongly prefer to keep `www` files

[2020-01-09 12:37] kingthorin commented on #248
It really isn't a huge deal either way, and we can always do a phased change as well. For whatever reason I just though minimizing change/deviation was best or perhaps easiest. (It was subconscious or knee jerk not deeply thought out.)

[2020-01-09 15:35] kingthorin commented on #248
Food for thought:

- We might need versioned links for long term linking. ex: `www2.owasp.org/www-project-web-security-testing-guide/wstg/v4/<some static destination or article>`
- When we deem a version ready or published I think other projects (or people) might benefit from a simple md (or even better json/yaml) version of the test headings (to generate checklists, etc).

[2020-01-09 18:12] rejahrehim commented on #248
In that case, we have to do the migration of current v4 MD files to `www-project` as well?

We can keep all versions in a separate folder inside `www-project` and `wstg` will have the builds in releases section too.

[2020-01-09 18:24] kingthorin commented on #248
Well we can choose to start with v5 or whatever. (It's on us to decide)
We could have a "live" version too or something (that gets rebuilt on PR merge). Then when we decide to roll or publish at a particular point just push it to `v<whatever>` (in `www-project`) and not update it again? I dunno...

I kinda figured wstg would always be 'latest' or 'live', but again we can decide what to keep where.

[2020-01-09 19:48] victoriadrake commented on #248
I like the versioning idea for `www-project`, since it lets people easily browse previous versions. However, I think only the most current version should be served on the site, so we may want to tell Jekyll to ignore an "archives" folder or wherever the documents of previous versions live. Anyway, this is a longer-term concern. We first have to produce v5. :sweat_smile:

This seems like the most s

[2020-01-09 19:59] kingthorin commented on #248
Agreed!

The thing I (we) were thinking here is that if other tools like ZAP or SKF want to link to content they need to be able to ensure it's there, so having versioned entries lets them do that without us having to handle redirects or mappings. (We can always apply a banner or something to outdated versions saying "Latest content here &gt; &lt;...../wstg/live&gt;" [you get the idea]).

[2020-01-10 14:12] ThunderSon commented on #248
As I was reading, I thought of this:
`<domain>/wstg/<version>/<test>`
What I would to happen is that we provide the URL `<domain>/wstg/<test>` and it would redirect to the latest version available.
All other versions still exist, but are not the default one. Let's say tool X is actually after a certain version's data, they can reference it, unless it's a heavy load on the website, and damages the

[2020-01-10 14:23] kingthorin commented on #248
Yup I'm good with not having a designation (URL component) for the latest or live version.

[2020-01-10 19:41] victoriadrake commented on #248
How would the redirection be achieved?

I’m on board for this. @ThunderSon would you set up a milestone for it? We might want to come up with a couple standards for minor releases.

[2020-01-10 19:58] victoriadrake opened #249 "Minor release v4.1"
**What would you like to happen?**

This issue continues a discussion around making a minor release, [project `v4.1`](https://github.com/OWASP/wstg/projects/1), that began in #248.
This intermediate version would serve as a post-migration stable release, to be served at `https://owasp.org/www-project-web-security-testing-guide/v4.1/`.

TODOs and suggestees so far:

- [x] Specify which test cases w

[2020-01-10 20:44] kingthorin commented on #249
Thanks for setting this up. I’ll try to tackle my bullet this weekend.

Re: URL, don’t we want: https://www2.owasp.org/www-project-web-security-testing-guide/wstg/v4.1/ ? (I may have misunderstood something along the way.)

[2020-01-10 20:49] victoriadrake commented on #249
Oh, no, I’m the one that missed it. Though now that I look at it, it does look redundant.

For now I’ll say either is fine, and it will probably come down to how the files are organized in the repo, and how @ThunderSon imagines a latest-version-redirect to take place.

[2020-01-10 20:58] kingthorin commented on #249
Okay.

I agree it looks redundant, I just figured structurally it'd have to be a layer deeper than the project 'about' type content.

[2020-01-11 13:18] ThunderSon commented on #248
@rejahrehim @hblankenship Might any of you be aware of any technique that could allow us to achieve the above mentioned redirection using gh-pages? Open for other suggestions as well.

[2020-01-11 13:22] ThunderSon commented on #249
For the v5 issues, I guess me and Rick should finalize in the coming week the sheet? Stay tuned 😄
Yeah, let's drop the `wstg` bit. We're good without it. This provides an opportunity.
The default page holds the project's book straight up, and directly loads the tests? I doubt that would be doable in the `www` repo. @victoriadrake what do you think we can do to make this look the best?
And should w

[2020-01-11 20:24] RiieCco commented on #8
I can pick this one up, we already have a small lab for this, i will improve the write-up to be more worthy and have more detailed explanation. After that i can include it in the testing guide :-)

Lab is found here:
https://owasp-skf.gitbook.io/asvs-write-ups/kbid-6-xxe

[2020-01-11 20:27] RiieCco commented on #7
Hey @vermava,

How far did you get with writing test scenario's for this one?
I can maybe give some assistance here since we also already have labs for insecure
deserialization.

https://owasp-skf.gitbook.io/asvs-write-ups/kbid-xxx-deserialisation-yaml
https://owasp-skf.gitbook.io/asvs-write-ups/kbid-xxx-des-pickle-2

[2020-01-11 22:45] victoriadrake commented on #249
@ThunderSon regarding duplicate content: see [Google’s breakdown](https://support.google.com/webmasters/answer/66359?hl=en). It may help to provide links to the current version on the page.

I’ve combed the [Jekyll docs](https://jekyllrb.com/docs/pages) and it seems that the page structure is really up to us. We’ll just have to ensure that the site theme (www—site-theme) supports it. I have some i

[2020-01-11 23:13] victoriadrake opened #250 "Add reviewer's guide"
**What's the issue?**
CONTRIBUTING.md does not cover guidance for reviewers.

**How do we solve it?**
Add guidance for editorial and technical reviews.

[2020-01-11 23:16] ThunderSon commented on #250
Let's create a new file for this. Maybe `REVIEWERS.md`? I'd like to keep those 2 separated. 😄

[2020-01-11 23:18] ThunderSon commented on #7
@RiieCco I tried tagging Verma on another issue. No replies. You can move forward with this 😄

[2020-01-15 11:01] patrickceg commented on #224
I can try researching for new resources for this.

I use format strings a lot as a developer and know by experience they can be troublesome. In my workplace's codebase, I've seen our app crash due to bugs in the logging (with format strings) even though the algorithm that was being logged handled the invalid input just fine.

At the same time I can see what techniques there are to attack them and

[2020-01-15 18:18] Zeerg commented on #224
I'm thinking

https://cs155.stanford.edu/papers/formatstring-1.2.pdf
https://www.win.tue.nl/~aeb/linux/hh/formats-teso.html
https://www.usna.edu/Users/cs/aviv/classes/si485h/s17/units/06/unit.html

[2020-01-15 18:37] victoriadrake commented on #224
Thanks @patrickceg!

@Zeerg would you like to be assigned?

[2020-01-16 01:23] patrickceg commented on #224
I'm going to keep notes in a Github GIST for now (which will mainly be a scratchpad of links) https://gist.github.com/patrickceg/f29eb27abe2dc770a62f00ea80288ac2

 @anantshri @Zeerg I'm open to ideas as well: at this point I'm exclusively looking for articles regarding the tests for format strings (trying to limit my search to 2015 and newer), and after piling all of that up, we can see what we ca

[2020-01-16 08:15] #241 closed

[2020-01-16 14:19] victoriadrake commented on #13
Hi @gitcnd! I think this issue could make a useful addition to the Introduction section (2.x). Are you still interested in covering it?

If so, might we start with a point-form list of the advice you'd like to cover? That way we can give some feedback with minimal time investment to start.

[2020-01-16 14:22] victoriadrake commented on #14
@tolo7010 Would you like to be assigned to this one?

[2020-01-16 14:37] victoriadrake commented on #140
@patrickceg It looks like we have a point-form list of the things this topic should cover instead. So far we have:

- "remember me" forms/tokens
- web app vs browser password remembering
- password managers
- relation to session tokens
- relation to 4.5.4

Is there anything you'd like to add for a contributor to tackle a rewrite?

[2020-01-16 14:43] tolo7010 commented on #14
@victoriadrake sure thank you. But please give me more instruction on this since this is my first time here. I am pleased if I can be a part of upcoming testing guide v5. I am from bug bounty field however I am not a native English writer so I need some one to revise this after the first draft.

[2020-01-16 14:45] #149 closed

[2020-01-16 14:46] kingthorin commented on #14
That's no problem at all. We can provide feedback during the Pull Request review period.

To get started checkout the contributing info here: https://github.com/OWASP/wstg/blob/master/CONTRIBUTING.md

[2020-01-16 14:51] victoriadrake commented on #171
@J3rry367 How do you see this integrating into the WSTG? It's not focused on specific tests, so if it's a guide, what is the criteria for having followed it?

[2020-01-16 14:52] tolo7010 commented on #14
Hi @kingthorin , thank you for your clarification. I notice that there is already OTG-CONFIG-010 section at https://github.com/OWASP/wstg/blob/master/document/4_Web_Application_Security_Testing/4.3_Configuration_and_Deployment_Management_Testing/4.3.10_Test_for_Subdomain_Takeover_OTG-CONFIG-010.md

Can I rename this section and reassign it to, e.g: OTG-CONFIG-011?

[2020-01-16 14:54] victoriadrake commented on #172
@ThunderSon We seem to have lost the reference to the comment and section in question. Would you please update this issue?

[2020-01-16 15:00] kingthorin commented on #14
So there were a number of bullets in the original ticket.

If `Unclaimed CNAME domains (DNS?): ...` fits in to CONFIG-010 then feel free to update that article. If all of them need a new item on their own then sure creating CONFIG-011 is fine (or 11, 12, 13, as applicable) [you can also do level 4 sub-sections like some of the items in 4.8 do if that helps].

You could also create it/them un-numbe

[2020-01-16 15:03] tolo7010 commented on #14
Thank you @kingthorin , one more question. what is the dead line for this first draft submission?

[2020-01-16 15:07] victoriadrake commented on #5
#76 partially addressed this issue. A review of existing articles is still outstanding.

[2020-01-16 15:14] kingthorin commented on #172
I've updated the link.

Just in case something changes again here's a screencap:
![image](https://user-images.githubusercontent.com/7570458/72536799-f7896980-3848-11ea-8ec2-118d248ef35a.png)

[2020-01-16 15:14] victoriadrake commented on #6
Is instruction on regression testing in scope for the WSTG? Or have I got the wrong idea?

[2020-01-16 15:16] kingthorin commented on #14
Yesterday :rofl: Hahahahaha just kidding.

You tell us, we're all volunteers and flexible. If you need something to work toward I can pick one for you but really it's up to you.

[2020-01-16 15:27] ThunderSon commented on #171
@victoriadrake I don't think it's creating new test cases. It's creating a sheet that covers the Top 10.
It's a simple list of simply the top 10 vulnerabilities, which we can create from the map we have between issues and test cases.

[2020-01-16 15:28] victoriadrake commented on #138
Is recommending tools in scope for WSTG?

[2020-01-16 15:30] kingthorin commented on #138
Yes, testers need to be able to use appropriate tools for testing. While we don't expect any of the suggestions to be exhaustive lists it does make sense to suggest tools that a known to offer a relevant feature or functionality. (Of course testers are always welcome to use whatever they prefer, the guide we have suggestions not requirements...)

[2020-01-16 15:34] ThunderSon commented on #14
@kingthorin we simply didn't ask the ticket opener to tackle the issue ... How ignorant of us 🤦‍♂ @victoriadrake what would we do without you.

[2020-01-16 15:48] ThunderSon commented on #6
@victoriadrake we believe (me and @kingthorin ) that it could be a nice to have, nothing core to the project or its latest release. The project focuses more on guidance a tester through the stages in a manual approach more so than an automated one.

[2020-01-16 16:38] J3rry367 commented on #171
@victoriadrake yeah, the lack of specific tests is exactly what I'm running into. Like @ThunderSon said I don't think anything new needs to be added, rather something like "here's the top 10(ish) vulnerabilities to check for based on what is currently prevalent" or even "at the bare minimum all apps should have these controls." I guess, basically, I'm thinking something similar to how the MSTG has

[2020-01-16 16:43] kingthorin commented on #171
Is addressed by the Proactive Controls project: https://owasp.org/www-project-proactive-controls/ (See 'Quick Access' in the right nav sidebar)

[2020-01-16 17:31] victoriadrake opened #253 "Properly order document sections"
**What's the issue?**

The WSTG has a legacy layout that doesn't account for some new sections and tests. I think section 4 itself has become an unnecessary layer, and the test types can be surfaced by a step for easier navigation of the guide. Article titles would benefit from the removal of redundant words, like "Testing of."

**How do we solve it?**

Reorder sections into a more sensible and fu

[2020-01-16 19:55] victoriadrake commented on #250
I'm going to include it in CONTRIBUTING.md since "REVIEWERS.md" isn't one of the [community health files](https://help.github.com/en/github/building-a-strong-community/creating-a-default-community-health-file#supported-file-types) that is surfaced appropriately on GitHub.

[2020-01-16 22:01] victoriadrake commented on #172
Thank you @kingthorin. To pick up the conversation, I'm with @patrickceg on removing the unsupported claim for v4.1. @ThunderSon how do you feel about that?

[2020-01-16 22:21] victoriadrake commented on #14
Not ask the issue opener to tackle the issue, I guess :grin: /smartass

Thank you for taking this on @tolo7010!

[2020-01-16 22:49] gitcnd commented on #13
Hi Victoria - sure; I will take a stab at some points.  Can we also reword some things?  e.g.: "This framework helps organizations test their web applications in order to build reliable and secure software." which is misleading.  *WE* know that the sentence means "HELPS", but the consumers of this guide are not going to interpret that sentence that way - they're going to read "do this and you are

[2020-01-16 22:57] victoriadrake commented on #171
I could see this becoming a broad overview section, maybe as part of the [proposed](https://github.com/OWASP/wstg/pull/254/files) (#254) `Introduction_to_Web_Testing` section grouping. @J3rry367 are you willing to point-form a sort of Top 10 overview article so we can better envision it?

[2020-01-16 23:28] gitcnd commented on #13
Here is an antique version from 13+ years ago:-

http://www.owasp.org/index.php/Comprehensive_list_of_Threats_to_Authentication_Procedures_and_Data

I'll do a newer one with updates and fixed formatting that stays on topic for you as well.

[2020-01-17 09:55] righettod opened #258 "Add testing for authorization bypass via X-Original-URL and X-Rewrite-URL request headers"
**What would you like added?**

Add information into the section about testing authorization that show how to test if the target site support *X-Original-URL* or *X-Rewrite-URL* request headers and try to leverage them to bypass the authorization check.

This [source](https://portswigger.net/web-security/access-control) will be used as support and mentioned:

![image](https://user-images.githubuse

[2020-01-17 12:15] ThunderSon commented on #172
@victoriadrake Onwards! If we feel that this is something we need to re-inject, we can open an issue about it and try researching. I don't see it as a critical thing to be tackled now.

[2020-01-17 12:21] ThunderSon commented on #253
We need to take into consideration how other projects are setting this up, which could allow for an easier process to migrate if something was to happen.
As discussions are erupting as well with the ASVS team in order to make it easier for the mapping between the 2 projects, I think we need to properly discuss this and visualize a structure that could allow us to easily map ASVS to WSTG, if it was

[2020-01-17 12:22] ThunderSon commented on #250
Doesn't hurt. The way you re-wrote the contributing guide is nice and enough

[2020-01-17 12:24] righettod commented on #258
Are you agree if I add a new section in this [page](https://github.com/owasp/wstg/blob/master/document/4_Web_Application_Security_Testing/4.6_Authorization_Testing/4.6.2_Testing_for_Bypassing_Authorization_Schema_OTG-AUTHZ-002.md) named *Testing for X-Original-URL or X-Rewrite-URL request headers supports* ?

[2020-01-17 12:32] kingthorin commented on #258
That seems fine to me.

[2020-01-17 12:34] #250 closed

[2020-01-17 12:38] kingthorin commented on #253
Hmmm I'm not entirely sure about the alpha ordering.

Dropping chapter identifiers could be fine, but then we also need to drop figure numbering (which is probably fine, but we should agree and be sure).

I think dropping test identifiers is a mistake though (as that's the most simple mechanism by which projects can cross-reference each other's content) and will cause confusion as far as renumberi

[2020-01-17 12:42] ThunderSon commented on #258
@righettod Thanks for tackling this! It's great to have you on here.
I can see you adding a point or two in the summary, and creating a section maybe like:
`Testing for Special Request Header Redirection`? @kingthorin what do you think?

[2020-01-17 12:47] kingthorin commented on #258
How about `Testing for Special Request Header Handling`? In case it isn't a redirect and is simply internal handling of the header value, or if there are other scenarios added later (like X-Forwarded-For etc).

[2020-01-17 13:06] ThunderSon commented on #258
Works for me. @righettod your acceptance is required 😄
`Testing for Special Request Header Handling`

[2020-01-17 13:42] victoriadrake commented on #253
I didn’t think we’d drop either of those; sorry, I scattered my info between the issue and the PR. I’ve updated my issue comment to include everything now. For clarity, the chapter and section numbers should be added in after we’ve settled the ordering (since they will have grown) and same for the test IDs.

[2020-01-17 15:42] righettod commented on #258
It's a very good proposal for `Testing for Special Request Header Handling` and, thanks a lot for that, because it allow to extend this section later with future headers for this kind of testing...

I will initiate it with *X-Original-URL* or *X-Rewrite-URL*.

I will deliver a initial PR quickly (I like to be exposed one time again to the deep/massive review of @ThunderSon, it will remind me somes

[2020-01-17 16:08] ThunderSon commented on #258
Hahaha let's go for it! Waiting for that PR 😄

[2020-01-17 17:25] J3rry367 commented on #171
Thanks @kingthorin I didn't know that existed I will definitely check that out.
Sure, @victoriadrake I can take a stab at it based on what I've been seeing requested.

[2020-01-19 00:40] patrickceg commented on #224
I'll have to look in to this a bit more, but I found a Python format string example from https://www.netsparker.com/blog/web-security/string-concatenation-format-string-vulnerabilities/ which  could cause a Python web app to disclose more than what the programmer wanted about an object, but it wouldn't go in the buffer overflow section as the disclosure is not from an out of bounds memory read. (T

[2020-01-19 01:23] patrickceg commented on #140
@victoriadrake Two items:

1) For reviewers, verify that after updates, we match ASVS on the same topic https://github.com/OWASP/ASVS/blob/master/4.0/en/0x11-V2-Authentication.md

If there is a contradiction, ether we should pick resources to match ASVS, or if ASVS needs updating, file against that project.

2) That ("Remediation: Ensure that no credentials are stored in clear text or are easily r

[2020-01-19 01:59] patrickceg commented on #6
@ThunderSon Does that mean there's another OWASP project that focuses on adversarial unit tests that we should make sure to link to?

On this issue in general, the framework of Defect Dojo seems to work as a bit of a guide to write security tests: https://defectdojo.readthedocs.io/en/latest/models.html#engagements / https://owasp.org/www-project-defectdojo/

Personally, I handle security type test

[2020-01-19 02:21] patrickceg commented on #253
Syncing with ASVS is definitely a good idea, although I'm worried it won't make sense in a lot of cases. Examples

-  ASVS v1.1, v1.8 deals with app design and (human) management process don't map to anything in scope of WSTG
- Any input sanitization or serialization checks could apply to multiple areas (ASVS v2,x ASVS v4.x) because of course failure of any user input verification can break authen

[2020-01-19 09:54] ThunderSon commented on #140
Thanks guys for tackling this 😄 Great point mapping this to the ASVS, as this is one of our v5 targets. I agree to the remediation part. I think based on the written context, the sentence can be judged and fixed.

[2020-01-19 09:59] ThunderSon commented on #6
What I read from DD (defect dojo) doesn't actually fit what is being discussed in here.
The project _can_ contain these points, but at this stage, we see a bigger value in actually updating the tests written, adding the missing tests, and mapping to the ASVS.
Tests discussed in this issue are part of the automated pipeline that could be run.
If you feel like tackling this point, or anyone, we don'

[2020-01-19 10:53] ThunderSon commented on #253
Those are valid points. Requirements can map to multiple test scenarios, the opposite can happen as well. Requirements are the lowest level in the chain, so I'd expect more from that side.
No need to mimic the structure. The structure won't bother anyone. It could assist, and you raised important points to it. I think we'll be able to finalize how this links in 2 weeks if we keep these discussions

[2020-01-19 21:24] victoriadrake commented on #224
Thank you for the updates @patrickceg!

[2020-01-19 21:31] victoriadrake commented on #140
Sounds good @patrickceg. Advice on remediation should be kept to a minimum in the WSTG, as it's in scope for other OWASP projects but not so much for this testing guide (see [article template explanation](https://github.com/OWASP/wstg/blob/master/template/999.2_Template_Explanation_OTG-FOO-002.md)).

@ThunderSon I'm not sure which sentence you're referring to.

Opening up this issue for a rewrite

[2020-01-19 21:40] victoriadrake commented on #253
Besides the possibility of sections in WSTG or ASVS moving around in the future, I don't think attempting to match up section numbers with the other guides would be helpful. I worry it will be more confusing than convenient, to @patrickceg's point.

I think the most helpful we could be for creating mappings is just to mention related sections of ASVS in the text of the WSTG, where appropriate.

[2020-01-20 07:39] RiieCco opened #261 "Map WSTG to ASVS and determine coverage and possible knowledge gaps"
**What would you like added?**
See how the testing guide content correlates to ASVS controls and determine effective coverage. This will help ASVS users to get more context with the controls. This can than also be used in SKF when generating requirements

**Would you like to be assigned to this issue?**
Check the box if you will submit a PR to add the proposed content. Please read CONTRIBUTING.md.

[2020-01-20 07:48] RiieCco opened #262 "Map OWASP SKF labs to WSTG examples"
**What would you like added?**
OWASP SKF has a lot of different labs with write ups on "how to test".
We can reference these labs in parts of the testing guide

The Lab write up can be found here:
https://owasp-skf.gitbook.io/asvs-write-ups/

i.e the following lab:
https://owasp-skf.gitbook.io/asvs-write-ups/kbid-46-sqli-union-select

could be referenced somewhere here in the testing guide:
https:

[2020-01-20 14:48] #172 closed

[2020-01-21 03:30] patrickceg commented on #253
I was thinking about that, and my idea was another project that just maintains a graph (the discrete mathematics graph https://en.wikibooks.org/wiki/Discrete_Mathematics/Graph_theory#Introduction ) that maps various section or article IDs (OWASP WSTG, OWAS MSTG, OWASP ASVS, Cheat Sheet, OWASP Top 10, CWE, SANS top 25, whatever else comes out next week). The linker project would then have a bunch o

[2020-01-21 15:31] RiieCco opened #263 "Remove text about commenting best practices"
**What's the issue?**
In the file "4.3.2_Test_Application_Platform_Configuration_OTG-CONFIG-002.md"
i find the following line in chapter *Comment Review*

[code]

From the software development books focussed on QA this is contradictive to the best practices described there. The code evolves over time and comments are mostly
not changed when the code is updated. This ultimately leads to comments th

[2020-01-21 16:20] RiieCco commented on #261
https://docs.google.com/spreadsheets/d/1CPaeT1bCoI7OydbNJaIVb4i9QEgyxMydGqSiBSK0aKk

[2020-01-21 18:30] kgeorgiou commented on #9
May I pick this up? :)

[2020-01-21 19:41] victoriadrake commented on #9
Assigned! Thank you @kgeorgiou!

[2020-01-22 12:47] ThunderSon commented on #253
It is a project currently being studied @patrickceg 😄 I will DM you about it.
@victoriadrake let's say we're moving the current structure numbering, what would we use? I am looking into a friendlier way than having `<section-number>_<name><test-id>`. What would be a neat way to do this? I would love to keep the test structure though, it helps to have unique URLs for tests for references, instead o

[2020-01-22 17:16] tek911 commented on #15
Interested in possibly contributing to the project on this item.

[2020-01-22 18:10] victoriadrake commented on #15
Thanks @tek911!

[2020-01-22 20:34] victoriadrake opened #264 "Develop Testing for Server-Side Request Forgery (SSRF)"
**What would you like added?**

Further develop [Testing for Server-Side Request Forgery](https://github.com/OWASP/wstg/blob/master/Testing_for_Server-Side_Request_Forgery.md) and ensure it meets the [article standard](https://github.com/OWASP/wstg/blob/master/template/999-Foo_Testing/2-Template_Explanation.md).

[2020-01-22 20:56] victoriadrake opened #265 "Develop Testing for Horizontal Bypassing Authorization Schema"
**What would you like added?**

Further develop [Testing for Horizontal Bypassing Authorization Schema](https://github.com/OWASP/wstg/blob/master/Testing_for_Horizontal_Bypassing_Authorization_Schema_WSTG-AUTHZ-002.md) and ensure it meets the [article standard](https://github.com/OWASP/wstg/blob/master/template/999-Foo_Testing/2-Template_Explanation.md).

[2020-01-22 21:00] victoriadrake opened #266 "Develop Testing for Vertical Bypassing Authorization Schema"
**What would you like added?**

Further develop [Testing for Vertical Bypassing Authorization Schema](https://github.com/OWASP/wstg/blob/master/Testing_for_Vertical_Bypassing_Authorization_Schema_WSTG-AUTHZ-00X.md) and ensure it meets the [article standard](https://github.com/OWASP/wstg/blob/master/template/999.2_Template_Explanation_WSTG-FOO-002.md).

[2020-01-22 21:09] victoriadrake opened #267 "Find a place for Testing_for_APIs.md"
**What's the issue?**

The document [Testing_for_APIs.md](https://github.com/OWASP/wstg/blob/master/Testing_for_APIs.md) has no section but is otherwise prepared to be included in a new minor release.
API testing should be integrated inside of the pre-existing tests where it fits.

[2020-01-22 21:14] victoriadrake opened #268 "Add OAuth Testing (OTG-AUTHN)"
**What would you like added?**
Add an article on testing Oauth. Ensure it follows the [article standard](https://github.com/OWASP/wstg/blob/master/template/999.2_Template_Explanation_WSTG-FOO-002.md).

[2020-01-22 21:20] victoriadrake opened #269 "Add Self DOM-Based Cross-Site Scripting Testing"
**What would you like added?**

Add an article for Self DOM-Based Cross-Site Scripting Testing and ensure it meets the [article standards](https://github.com/OWASP/wstg/blob/master/template/999.2_Template_Explanation_WSTG-FOO-002.md).

Refer to: https://hackerone.com/reports/406587

[2020-01-22 21:27] victoriadrake opened #270 "Revise Testing for ORM Injection"
**What's the issue?**

Update [4.8.7_Testing_for_ORM_Injection_WSTG-INPVAL-007.md](https://github.com/OWASP/wstg/blob/master/document/4_Web_Application_Security_Testing/4.8_Input_Validation_Testing/4.8.7_Testing_for_ORM_Injection_WSTG-INPVAL-007.md) and ensure it meets the [article standard](https://github.com/OWASP/wstg/blob/master/template/999.2_Template_Explanation_WSTG-FOO-002.md).

[2020-01-22 21:34] victoriadrake opened #271 "Revise 4.7.5_Testing_for_CSRF_OTG-SESS-005.md"
**What's the issue?**

- [ ] Update and revise [Testing for CSRF](https://github.com/OWASP/wstg/blob/f0d85613d888f77915b3e41ba09c664cad45c387/document/4_Web_Application_Security_Testing/4.7_Session_Management_Testing/4.7.5_Testing_for_CSRF_OTG-SESS-005.md) to ensure it meets the [article standards](https://github.com/OWASP/wstg/blob/master/template/999.2_Template_Explanation_WSTG-FOO-002.md).

- [

[2020-01-22 21:36] victoriadrake opened #272 "Revise, Develop 4.8.5_Testing_for_SQL_Injection_OTG-INPVAL-005.md"
**What's the issue?**

Update [Testing for SQL Injection](https://github.com/OWASP/wstg/blob/f0d85613d888f77915b3e41ba09c664cad45c387/document/4_Web_Application_Security_Testing/4.8_Input_Validation_Testing/4.8.5_Testing_for_SQL_Injection_OTG-INPVAL-005.md) and:

- [ ] Add client-side SQLi (To consider: https://portswigger.net/kb/issues/00200332_client-side-sql-injection-stored-dom-based)
- [ ] En

[2020-01-24 02:54] novalagung opened #273 "Update README in WAST folder"
**What's the issue?**
Few links are invalid, and some file has incorrect title.

**How do we solve it?**
Update the WAST README file

Would you like to be assigned to this issue?
Check the box if you will submit a PR to fix this issue. Please read CONTRIBUTING.md.
- [x] Assign me, please!

[2020-01-24 13:34] victoriadrake opened #275 "Update links in Appx.A"
**What's the issue?**

Some links in this section still use HTTP and should be changed to HTTPS. Two links seem to not resolve.

**How do we solve it?**

Update the appropriate links. The tool [markdown-link-check](https://github.com/tcort/markdown-link-check) may be helpful.

[2020-01-24 13:37] victoriadrake opened #276 "Update links in Appx.B"
**What's the issue?**

Some links in this section still use HTTP and should be changed to HTTPS. Three links seem to not resolve.

**How do we solve it?**

Update the appropriate links. The tool [markdown-link-check](https://github.com/tcort/markdown-link-check) may be helpful.

[2020-01-24 14:07] victoriadrake opened #277 "Update links in 1.2"
**What's the issue?**

Some links in this section still use HTTP and should be changed to HTTPS. Four links seem to not resolve.

**How do we solve it?**

Update the appropriate links. The tool [markdown-link-check](https://github.com/tcort/markdown-link-check) may be helpful.

[2020-01-24 14:07] victoriadrake commented on #180
I believe this was partially closed in #182. I'm going to open a specific issues for the remaining work.

[2020-01-24 14:07] #180 closed

[2020-01-24 14:15] victoriadrake opened #278 "Update links in 2_Introduction.md"
**What's the issue?**

One link seems to not resolve.

**How do we solve it?**

Update the appropriate links. The tool [markdown-link-check](https://github.com/tcort/markdown-link-check) may be helpful.

[2020-01-24 14:19] victoriadrake opened #279 "Update links in 4.3.10_Test_for_Subdomain_Takeover_OTG-CONFIG-010.md"
**What's the issue?**

Some links seem to not resolve.

**How do we solve it?**

Update the appropriate links. The tool [markdown-link-check](https://github.com/tcort/markdown-link-check) may be helpful.

[2020-01-24 14:20] victoriadrake opened #280 "Update links in 4.3.5_Enumerate_Infrastructure_and_Application_Admin_Interfaces_OTG-CONFIG-005.md"
**What's the issue?**

Some links in this section still use HTTP and should be changed to HTTPS. One link seem to not resolve.

**How do we solve it?**

Update the appropriate links. The tool [markdown-link-check](https://github.com/tcort/markdown-link-check) may be helpful.

[2020-01-24 14:22] victoriadrake opened #281 "Update links in 4.3.2_Test_Application_Platform_Configuration_OTG-CONFIG-002.md"
**What's the issue?**

One link seem to not resolve.

**How do we solve it?**

Update the appropriate links. The tool [markdown-link-check](https://github.com/tcort/markdown-link-check) may be helpful.

[2020-01-24 14:23] victoriadrake opened #282 "Update links in 4.8.14.1_Testing_for_Heap_Overflow.md"
**What's the issue?**

Some links in this section still use HTTP and should be changed to HTTPS. One link seem to not resolve.

**How do we solve it?**

Update the appropriate links. The tool [markdown-link-check](https://github.com/tcort/markdown-link-check) may be helpful.

[2020-01-24 14:24] victoriadrake opened #283 "Update links in 4.8.13_Testing_for_Command_Injection_OTG-INPVAL-013.md"
**What's the issue?**

Some links in this section still use HTTP and should be changed to HTTPS. One link seem to not resolve.

**How do we solve it?**

Update the appropriate links. The tool [markdown-link-check](https://github.com/tcort/markdown-link-check) may be helpful.

[2020-01-24 14:25] victoriadrake opened #284 "Update links in 4.8.5.3_Testing_for_SQL_Server.md"
**What's the issue?**

Some links in this section still use HTTP and should be changed to HTTPS. One link seem to not resolve.

**How do we solve it?**

Update the appropriate links. The tool [markdown-link-check](https://github.com/tcort/markdown-link-check) may be helpful.

[2020-01-24 14:27] victoriadrake opened #285 "Update links in 4.8.6_Testing_for_LDAP_Injection_OTG-INPVAL-006.md"
**What's the issue?**

Four links seem to not resolve.

**How do we solve it?**

Update the appropriate links. The tool [markdown-link-check](https://github.com/tcort/markdown-link-check) may be helpful.

[2020-01-24 14:30] victoriadrake opened #286 "Update links in 4.6.1_Testing_Directory_Traversal_File_Include_OTG-AUTHZ-001.md"
**What's the issue?**

One link seems to not resolve.

**How do we solve it?**

Update the appropriate links. The tool [markdown-link-check](https://github.com/tcort/markdown-link-check) may be helpful.

[2020-01-24 14:33] victoriadrake opened #287 "Update links in 4.8.1_Testing_for_Reflected_Cross_Site_Scripting_OTG-INPVAL-001.md"
**What's the issue?**

Some links in this section still use HTTP and should be changed to HTTPS. One link seems to not resolve.

**How do we solve it?**

Update the appropriate links. The tool [markdown-link-check](https://github.com/tcort/markdown-link-check) may be helpful.

[2020-01-24 14:34] victoriadrake opened #288 "Update links in 4.8.14.1_Testing_for_Heap_Overflow.md"
**What's the issue?**

Some links in this section still use HTTP and should be changed to HTTPS. One link seems to not resolve.

**How do we solve it?**

Update the appropriate links. The tool [markdown-link-check](https://github.com/tcort/markdown-link-check) may be helpful.

[2020-01-24 14:37] victoriadrake opened #289 "Update links in 4.8.5.2_Testing_for_MySQL.md"
**What's the issue?**

One link seems to not resolve.

**How do we solve it?**

Update the appropriate links. The tool [markdown-link-check](https://github.com/tcort/markdown-link-check) may be helpful.

[2020-01-24 14:41] victoriadrake opened #290 "Update link in 4.8_Input_Validation_Testing/README.md"
**What's the issue?**

One link seems to not resolve.

**How do we solve it?**

Update the appropriate links. The tool [markdown-link-check](https://github.com/tcort/markdown-link-check) may be helpful.

[2020-01-24 14:43] victoriadrake opened #291 "Update links in 4.8.4_Testing_for_HTTP_Parameter_Pollution_OTG-INPVAL-004.md"
**What's the issue?**

Some links in this section still use HTTP and should be changed to HTTPS. One link seems to not resolve.

**How do we solve it?**

Update the appropriate links. The tool [markdown-link-check](https://github.com/tcort/markdown-link-check) may be helpful.

[2020-01-24 14:44] victoriadrake opened #292 "Update links in 4.8.14.3_Testing_for_Format_String.md"
**What's the issue?**

Some links in this section still use HTTP and should be changed to HTTPS. Three links seem to not resolve.

**How do we solve it?**

Update the appropriate links. The tool [markdown-link-check](https://github.com/tcort/markdown-link-check) may be helpful.

[2020-01-24 15:27] victoriadrake opened #297 "Update links in 4.8.2_Testing_for_Stored_Cross_Site_Scripting_OTG-INPVAL-002.md"
**What's the issue?**

Some links in this section still use HTTP and should be changed to HTTPS. One link seems to not resolve.

**How do we solve it?**

Update the appropriate links. The tool [markdown-link-check](https://github.com/tcort/markdown-link-check) may be helpful.

[2020-01-24 15:29] victoriadrake opened #298 "Update links in 4.8.16_Testing_for_HTTP_Splitting_Smuggling_OTG-INPVAL-016.md"
**What's the issue?**

Some links in this section still use HTTP and should be changed to HTTPS. One link seems to not resolve.

**How do we solve it?**

Update the appropriate links. The tool [markdown-link-check](https://github.com/tcort/markdown-link-check) may be helpful.

[2020-01-24 15:30] victoriadrake opened #299 "Update links in 4.8.14.2_Testing_for_Stack_Overflow.md"
**What's the issue?**

Some links in this section still use HTTP and should be changed to HTTPS. Two links seem to not resolve.

**How do we solve it?**

Update the appropriate links. The tool [markdown-link-check](https://github.com/tcort/markdown-link-check) may be helpful.

[2020-01-24 15:31] victoriadrake opened #300 "Update links in 4.8.15_Testing_for_Incubated_Vulnerability_OTG-INPVAL-015.md"
**What's the issue?**

Some links in this section still use HTTP and should be changed to HTTPS. Two links seem to not resolve.

**How do we solve it?**

Update the appropriate links. The tool [markdown-link-check](https://github.com/tcort/markdown-link-check) may be helpful.

[2020-01-24 15:32] victoriadrake opened #301 "Update links in 4.10.4_Testing_for_Weak_Encryption_OTG-CRYPST-004.md"
**What's the issue?**

Two links seem to not resolve.

**How do we solve it?**

Update the appropriate links. The tool [markdown-link-check](https://github.com/tcort/markdown-link-check) may be helpful.

[2020-01-24 15:33] novalagung commented on #273
I'm closing this issue since https://github.com/OWASP/wstg/pull/274 is already merged

[2020-01-24 15:33] #273 closed

[2020-01-24 15:33] victoriadrake opened #302 "Update links in 4.11.9_Test_Upload_of_Malicious_Files_OTG-BUSLOGIC-009.md"
**What's the issue?**

Some links in this section still use HTTP and should be changed to HTTPS. Three links seem to not resolve.

**How do we solve it?**

Update the appropriate links. The tool [markdown-link-check](https://github.com/tcort/markdown-link-check) may be helpful.

[2020-01-24 15:35] victoriadrake opened #303 "Update links in 4.11.6_Testing_for_the_Circumvention_of_Work_Flows_OTG-BUSLOGIC-006.md"
**What's the issue?**

One link seems to not resolve.

**How do we solve it?**

Update the appropriate links. The tool [markdown-link-check](https://github.com/tcort/markdown-link-check) may be helpful.

[2020-01-24 15:36] victoriadrake opened #304 "Update links in 4.11.8_Test_Upload_of_Unexpected_File_Types_OTG-BUSLOGIC-008.md"
**What's the issue?**

Some links in this section still use HTTP and should be changed to HTTPS. Three links seem to not resolve.

**How do we solve it?**

Update the appropriate links. The tool [markdown-link-check](https://github.com/tcort/markdown-link-check) may be helpful.

[2020-01-24 15:37] victoriadrake opened #305 "Update links in 4.11.5_Test_Number_of_Times_a_Function_Can_Be_Used_Limits_OTG-BUSLOGIC-005.md"
**What's the issue?**

Some links in this section still use HTTP and should be changed to HTTPS. Two links seem to not resolve.

**How do we solve it?**

Update the appropriate links. The tool [markdown-link-check](https://github.com/tcort/markdown-link-check) may be helpful.

[2020-01-24 15:39] victoriadrake opened #306 "Update links in 4.11.7_Test_Defenses_Against_Application_Mis-use_OTG-BUSLOGIC-007.md"
**What's the issue?**

Some links in this section still use HTTP and should be changed to HTTPS. One link seems to not resolve.

**How do we solve it?**

Update the appropriate links. The tool [markdown-link-check](https://github.com/tcort/markdown-link-check) may be helpful.

[2020-01-24 15:41] victoriadrake opened #307 "Update links in 4.2.7_Map_Execution_Paths_Through_Application_OTG-INFO-007.md"
**What's the issue?**

One link seems to not resolve.

**How do we solve it?**

Update the appropriate links. The tool [markdown-link-check](https://github.com/tcort/markdown-link-check) may be helpful.

[2020-01-24 15:43] victoriadrake opened #308 "Update links in 4_Web_Application_Security_Testing/README.md"
**What's the issue?**

No links resolve.

**How do we solve it?**

Update the appropriate links. The tool [markdown-link-check](https://github.com/tcort/markdown-link-check) may be helpful.

[2020-01-24 15:45] victoriadrake opened #309 "Update links in 4.12.9_Testing_for_Clickjacking_OTG-CLIENT-009.md"
**What's the issue?**

One link seems not to resolve.

**How do we solve it?**

Update the appropriate links. The tool [markdown-link-check](https://github.com/tcort/markdown-link-check) may be helpful.

[2020-01-24 15:46] victoriadrake opened #310 "Update links in 4.12_Client_Side_Testing/README.md"
**What's the issue?**

Three links seem not to resolve.

**How do we solve it?**

Update the appropriate links. The tool [markdown-link-check](https://github.com/tcort/markdown-link-check) may be helpful.

[2020-01-24 15:47] victoriadrake opened #311 "Update links in 4.5.2_Testing_for_Default_Credentials_OTG-AUTHN-002.md"
**What's the issue?**

Some links in this section still use HTTP and should be changed to HTTPS. Two links seem to not resolve.

**How do we solve it?**

Update the appropriate links. The tool [markdown-link-check](https://github.com/tcort/markdown-link-check) may be helpful.

[2020-01-24 15:47] victoriadrake opened #312 "Update links in 4.5.1_Testing_for_Credentials_Transported_over_an_Encrypted_Channel_OTG-AUTHN-001.md"
**What's the issue?**

Some links in this section still use HTTP and should be changed to HTTPS. Four links seem to not resolve.

**How do we solve it?**

Update the appropriate links. The tool [markdown-link-check](https://github.com/tcort/markdown-link-check) may be helpful.

[2020-01-24 15:57] victoriadrake commented on #180
I've broken out the remaining work into issues:

#275, #276, #277, #278, #279, #280, #281, #282, #283, #284, #285, #286, #287, #288, #289, #290, #291, #292, #293, #295, #296, #297, #298, #299, #300, #301, #302, #303, #304, #305, #306, #307, #308, #309, #310, #311, #312

Also there's a new issue template for reporting broken links.

[2020-01-26 02:03] patrickceg commented on #224
I think I have enough newer links to start changes with pull request being available in 1-2 weeks (because this will require multiple sittings to see how the old instructions and the new articles line up).

It looks like in non-C languages you can cause information disclosure but usually not buffer overflow. How would you like me to handle the change? Should I just do a quick update to the links,

[2020-01-27 06:18] ThunderSon commented on #224
@kingthorin You think that maybe we should do something to the lines of how SQL injection is done/handled? Have a bigger topic (SQLi), and then create smaller tests that relate to it (NoSQL, MSSQL, etc.)?
I think this follows either each page follow a certain attack scenario. I was trying to see Client Side Testing .. I didn't feel that it covered all cases (Which is why it's put in the v5 outcome

[2020-01-27 16:16] victoriadrake commented on #224
Maintainer's note: this will close #292.

I'm minded to nuke the whole [section README](https://github.com/OWASP/wstg/blob/master/document/4_Web_Application_Security_Testing/4.8_Input_Validation_Testing/README.md) page in favor of a table of contents listing, anyway. As we develop these topics, the categories that page proposes will become less relevant and more limiting. I guess that's my vote fo

[2020-01-27 16:18] victoriadrake commented on #292
Will be closed by #224.

[2020-01-27 16:22] victoriadrake commented on #243
As mentioned in #224, my vote is for section front pages (README.md of each section folder) to be a simple table of contents listing, without other text.

As is the case with the Format String article issue, that section's front page presents categories for the articles it contains that are unhelpful, and limits the development of the articles themselves. It's also just more text to keep updated,

[2020-01-28 14:07] RiieCco commented on #263
With no discussion on this ticket can i make the assumption everybody agrees and create a PR? :-)

[2020-01-28 14:12] kingthorin commented on #263
I agree, please proceed :grin:

[2020-01-28 14:16] RiieCco commented on #263
Awesome thanks!  ^^

[2020-02-01 02:33] #263 closed

[2020-02-02 16:21] rejahrehim commented on #276
**Following links are broken:**

**FILE:**document/Appx.B_Suggested_Reading/Appx.B_Suggested_Reading.md

[✖] https://www.nist.gov/sites/default/files/documents/director/planning/report02-3.pdf → Status: 404
[✖] https://www.owasp.org/index.php/Phoenix/Tools → Status: 404

[2020-02-02 16:22] rejahrehim commented on #278
**Following links are broken:**

**FILE:** document/2_Introduction/2_Introduction.md
[✖] https://www.archive.ece.cmu.edu/~ganger/712.fall02/papers/p761-thompson.pdf → Status: 0

[2020-02-02 16:23] rejahrehim commented on #275
**Following links are broken:**

**FILE:** document/Appx.A_Testing_Tools_Resource/Appx.A_Testing_Tools.md
[✖] https://www.kali.org/ → Status: 403
[✖] http://bugtraq-team.com/ → Status: 0

[2020-02-02 16:25] rejahrehim commented on #291
**Following links are broken:**

**FILE:** document/4_Web_Application_Security_Testing/4.8_Input_Validation_Testing/4.8.4_Testing_for_HTTP_Parameter_Pollution_OTG-INPVAL-004.md
[✖] https://chrome.google.com/webstore/detail/hpp-finder → Status: 404

[2020-02-02 16:26] rejahrehim commented on #285
**Following links are broken:**

**FILE:** document/4_Web_Application_Security_Testing/4.8_Input_Validation_Testing/4.8.6_Testing_for_LDAP_Injection_OTG-INPVAL-006.md
[✖] https://en.wikipedia.org/wiki/Polish_notation_prefix_notation → Status: 404
[✖] https://www.networkdls.com/articles/ldapinjection.pdf → Status: 0
[✖] https://www.redbooks.ibm.com/redbooks/SG244986.html → Status: 404

[2020-02-02 16:27] rejahrehim commented on #292
**Following links are broken:**

**FILE:** document/4_Web_Application_Security_Testing/4.8_Input_Validation_Testing/4.8.14.3_Testing_for_Format_String.md
[✖] http://comsec.theclerk.com/CISSP/FormatString.pdf → Status: 404
[✖] http://www.cs.ucsb.edu/~jzhou/security/formats-teso.html → Status: 404
[✖] http://julianor.tripod.com/format-bug-analysis.pdf → Status: 404

[2020-02-02 16:28] rejahrehim commented on #298
**Following links are broken:**

**FILE:** document/4_Web_Application_Security_Testing/4.8_Input_Validation_Testing/4.8.16_Testing_for_HTTP_Splitting_Smuggling_OTG-INPVAL-016.md
[✖] http://www.victim.com/redirect.asp → Status: 0

[2020-02-02 16:30] rejahrehim commented on #299
**Following links are broken:**

**FILE:** document/4_Web_Application_Security_Testing/4.8_Input_Validation_Testing/4.8.14.2_Testing_for_Stack_Overflow.md
[✖] https://www.owasp.org/index.php/Stack_overflow → Status: 404
[✖] https://www.xfocus.org/documents/200307/2.html → Status: 0

[2020-02-02 16:30] rejahrehim commented on #288
**Following links are broken:**

**FILE:** document/4_Web_Application_Security_Testing/4.8_Input_Validation_Testing/4.8.14.1_Testing_for_Heap_Overflow.md
[✖] https://www.owasp.org/index.php/Heap_overflow → Status: 404

[2020-02-02 17:36] victoriadrake commented on #298
I don't believe this is meant to be a valid link. It should be code-formatted.

[2020-02-03 08:00] scalzava opened #317 "Testing for session integrity"
**What would you like added?**
In recent research work, we proposed testing strategies covering a wide range of session integrity vulnerabilities, i.e., session hijacking, session fixation and cross-site request forgery. Compared to traditional approaches, these testing strategies are: 1. More principled, being parametric with respect to assumptions on the attacker's capabilities and 2. Simpler to

[2020-02-03 16:13] victoriadrake commented on #317
Thank you @scalzava! It would be great to have this contribution from the original authors, if you can find the time.

In the meantime, this one's up for grabs!

[2020-02-03 19:21] scalzava commented on #317
Great to hear you are interested into this! I'll try to investigate whether some of my students is willing to pick this up. In the meanwhile, any interested contributor is warmly encouraged to have a look into the paper and start working on this. I'll be glad to provide extensive feedback, but I just lack the time to contribute to this myself at the time being :(

[2020-02-05 19:29] kingthorin commented on #152
Re-opening there are still occurrences or Paros.

Also ZAP references should all be updated to www.zaproxy.org.

[2020-02-08 00:12] patrickceg commented on #224
Update: I'm starting an outline (again in my  GIST scratchpad https://gist.github.com/patrickceg/f29eb27abe2dc770a62f00ea80288ac2 ) to lay out what pieces of information I want in the new article.

It's essentially going to be a rewrite because even if I ignored the non-Java format string (or logging framework string) bits, it's surprising that the original article puts way too much emphasis on th

[2020-02-08 00:52] kingthorin commented on #224
Thanks for the update, the outline is looking good to me.

[2020-02-11 11:31] kingthorin commented on #224
Don’t let it get overwhelming, tackling this in steps will be easier to assemble and review. It doesn’t have to be one giant PR (unless that’s what you prefer for some reason of course).

[2020-02-12 09:55] davisfreimanis commented on #278
This seems to be fixed in PR #319
markdown-link-check reports no broken links

[2020-02-12 09:57] #278 closed

[2020-02-12 15:35] #276 closed

[2020-02-12 15:39] ThunderSon commented on #275
@rejahrehim do we still have an issue with kali? I received a positive response. Maybe it's caused by a header that gets automatically 403ed?

[2020-02-12 15:39] kingthorin commented on #275
www.kali.org works fine for me.

Perhaps you were behind a corporate proxy that prevents access to 'hacking tools' or something?

[2020-02-12 15:45] ThunderSon commented on #291
Link removed

[2020-02-12 15:45] #291 closed

[2020-02-12 15:53] ThunderSon opened #320 "Update OTG IDs to WSTG"
Go over the whole document and update all OTG abbreviations to WSTG in order to push forward the mapping across the repository and with other projects.

[2020-02-12 15:56] ThunderSon commented on #285
Is there still an issue with the LDAP injection? If yes, it's because it is a downloadable PDF, and not something that could be handled by a bot I believe.
The other 2 are covered

[2020-02-12 15:57] victoriadrake commented on #320
I highly recommend exploring interactive usage of find-and-replace for this issue. Command line options include `sed` and Vim.

[2020-02-12 16:11] kingthorin commented on #320
I'm pretty sure it can be done easily in Eclipse or Notepad++

[2020-02-12 17:28] N1ghtCrawl3r commented on #320
Hi, I would like to work on this. To be clear, all abbreviations named "OTG" should be changed to "WSTG" in all the documents in this repo. Is that so?

[2020-02-12 19:59] kingthorin commented on #320
I haven't search yet myself, but tentatively yes. I can't think of another word that OTG falls within...

[2020-02-12 20:16] ThunderSon commented on #320
Yep, that's it. We're talking both file-names, and in the whole repository.

[2020-02-13 12:52] kingthorin commented on #152
For the third item on the current list:

[2020-02-13 12:53] kingthorin commented on #152
For the first item on the current list:

[2020-02-13 14:30] y-mehta commented on #264
I would like to work on this.

[2020-02-13 14:39] kingthorin commented on #264
Great, assigned 🎉

[2020-02-13 15:07] #320 closed

[2020-02-14 06:36] jeremychoi opened #324 "spelling errors in 4.3.9_Test_File_Permission"
**What's the issue?**
There are a few spelling errors in 4.3.9_Test_File_Permission_WSTG-CONFIG-009.md

**How do we solve it?**
fix the errors

Would you like to be assigned to this issue?
Check the box if you will submit a PR to fix this issue. Please read CONTRIBUTING.md.
- [x] Assign me, please!

[2020-02-17 14:27] jeremychoi opened #328 "new content - test cloud storage (mainly on Amazon S3)"
**What would you like added?**
Briefly describe the topic of the new content. Is this a new section or an addition to an existing topic?

This is a new section under configuration category (i.e. could be 4.3.11?). The topic is about **testing cloud storage** mainly focusing on testing Amazon S3 bucket misconfiguration.

A brief intro - a part of the whole section what I've already written:

Cloud

[2020-02-17 14:33] jeremychoi commented on #328
I just saw https://github.com/OWASP/wstg/issues/14 include Amazon AWS bucket service. Has any draft been written for it? I've finished a draft of mine. Can I get any guidance on how to proceed?

[2020-02-17 14:35] kingthorin commented on #328
I think it's fine for you to proceed, I haven't heard of any movement on 14 and they can always add to your content if necessary (or propose to move it if there's a good reason to).

4.3.11 seems fine to me.

[2020-02-17 15:06] jeremychoi commented on #328
ok thanks :) PR - https://github.com/OWASP/wstg/pull/329

[2020-02-17 16:18] kingthorin commented on #277
Fixed in https://github.com/OWASP/wstg/pull/318/

[2020-02-17 16:19] kingthorin commented on #275
Fixed in https://github.com/OWASP/wstg/pull/318/

[2020-02-17 16:19] #275 closed

[2020-02-17 16:20] #277 closed

[2020-02-17 16:21] kingthorin commented on #279
Fixed in https://github.com/OWASP/wstg/pull/318/

[2020-02-17 16:21] #279 closed

[2020-02-17 16:22] kingthorin commented on #280
Fixed in https://github.com/OWASP/wstg/pull/318/

[2020-02-17 16:22] #280 closed

[2020-02-17 16:23] kingthorin commented on #282
Fixed in https://github.com/OWASP/wstg/pull/318/

[2020-02-17 16:23] #282 closed

[2020-02-17 16:23] kingthorin commented on #282
Fixed in https://github.com/OWASP/wstg/pull/318/

[2020-02-17 16:24] kingthorin commented on #284
Fixed in https://github.com/OWASP/wstg/pull/318/

[2020-02-17 16:24] #284 closed

[2020-02-17 16:25] kingthorin commented on #286
Fixed in https://github.com/OWASP/wstg/pull/318/

[2020-02-17 16:25] #286 closed

[2020-02-17 16:25] kingthorin commented on #288
Fixed in https://github.com/OWASP/wstg/pull/318/

[2020-02-17 16:25] #288 closed

[2020-02-17 16:26] kingthorin commented on #297
Fixed in https://github.com/OWASP/wstg/pull/318/

[2020-02-17 16:26] #297 closed

[2020-02-17 16:27] kingthorin commented on #300
Fixed in https://github.com/OWASP/wstg/pull/318/

[2020-02-17 16:27] #300 closed

[2020-02-17 16:28] kingthorin commented on #302
Fixed in https://github.com/OWASP/wstg/pull/318/

[2020-02-17 16:28] #302 closed

[2020-02-17 16:28] kingthorin commented on #303
Fixed in https://github.com/OWASP/wstg/pull/318/

[2020-02-17 16:28] #303 closed

[2020-02-17 16:29] kingthorin commented on #306
Fixed in https://github.com/OWASP/wstg/pull/318/

[2020-02-17 16:29] #306 closed

[2020-02-17 16:30] kingthorin commented on #309
Fixed in https://github.com/OWASP/wstg/pull/318/

[2020-02-17 16:30] #309 closed

[2020-02-17 16:30] kingthorin commented on #311
Fixed in https://github.com/OWASP/wstg/pull/318/

[2020-02-17 16:30] #311 closed

[2020-02-17 16:31] kingthorin commented on #312
Fixed in https://github.com/OWASP/wstg/pull/318/

[2020-02-17 16:31] #312 closed

[2020-02-17 16:35] kingthorin commented on #304
This seems to be addressed in https://github.com/OWASP/wstg/pull/326 and #316

[2020-02-17 16:35] #304 closed

[2020-02-17 23:27] tolo7010 commented on #328
Hi team! since #14 is a main section for testing integration / third party service (it should be 4.3.11). As you said we need collaboration and I will provide general information / overall about how 3rd party applications (cloud / installed) could be misused, but each individual technology should be added by someone who really getting used (expert) at it. The specific detail of each technology (Am

[2020-02-17 23:27] tolo7010 commented on #14
Hi team! since #14 is a main section for testing integration / third party service (it should be 4.3.11). As you said we need collaboration and I will provide general information / overall about how 3rd party applications (cloud / installed) could be misused, but each individual technology should be added by someone who really getting used (expert) at it. The specific detail of each technology (Am

[2020-02-17 23:31] tolo7010 commented on #328
For future PR, anything about 3rd party integration (cloud / local-install / embedded scripts, ...) such as issue tracker, customer support channel, etc...) should also be added to be well-organized

[2020-02-17 23:31] tolo7010 commented on #14
For future PR, anything about 3rd party integration (cloud / local-install / embedded scripts, ...) such as issue tracker, customer support channel, etc...) should also be added to be well-organized

[2020-02-17 23:37] tolo7010 commented on #328
Because technology changes every day, I think we need one dedicated section for this and add a sub-section for each new technology in the future.

[2020-02-17 23:38] tolo7010 commented on #14
Because technology changes every day, I think we need one dedicated section for this and add a sub-section for each new technology in the future.

[2020-02-18 00:50] #324 closed

[2020-02-18 02:31] jeremychoi commented on #328
thanks @tolo7010. For me, either each having a separate topic(each could have more general concepts like the way I did for Amazon S3: e.g. amazon S3 - test cloud storage. For another example, writing a topic as test CDN for Cloudflare) or having an integrated one with sub sections is fine.

[2020-02-18 03:36] tolo7010 commented on #328
Hi @jeremychoi , first of all thanks for the AWS stuff! I understand your point but I am trying to think about expansion in the future. We should categorized what company uses as part of thair business and it doesn't limit to only AWS, for example:
- Cloud service (S3, storage, vpn, cdn) ...
- Git repo hosting (i.e: data leak, misconfig read/wire permission).
- Embeded javsscripts and / or API/SDK

[2020-02-18 10:40] ThunderSon commented on #328
It is true.
4.3.11 isn't the final ID that's for sure. It's just something to keep the work going.
We'll make sure to update you with how we'll be moving forward with this. If you have any additional updates on how you see this (other than the last comment in this thread), share with us in order to take them into consideration. We'll update this issue to reflect what we're thinking as well as a te

[2020-02-18 20:21] kingthorin commented on #281
As of d1b05fa:

[code]

[2020-02-18 20:21] #281 closed

[2020-02-19 01:45] kingthorin commented on #283
[code]

[2020-02-19 01:45] #283 closed

[2020-02-19 01:46] kingthorin commented on #310
[code]

[2020-02-19 01:46] #310 closed

[2020-02-19 01:47] kingthorin commented on #308
[code]

[2020-02-19 01:47] #308 closed

[2020-02-19 01:48] kingthorin commented on #307
[code]

[2020-02-19 01:48] #307 closed

[2020-02-19 01:48] kingthorin commented on #305
[code]

[2020-02-19 01:48] #305 closed

[2020-02-19 01:50] kingthorin commented on #301
[code]

[2020-02-19 01:50] #301 closed

[2020-02-19 01:51] kingthorin commented on #299
[code]

[2020-02-19 01:51] #299 closed

[2020-02-19 01:52] kingthorin commented on #298
[code]

[2020-02-19 01:52] #298 closed

[2020-02-19 01:52] kingthorin commented on #292
[code]

[2020-02-19 01:52] #292 closed

[2020-02-19 01:53] kingthorin commented on #290
[code]

[2020-02-19 01:53] #290 closed

[2020-02-19 01:53] kingthorin commented on #289
[code]

[2020-02-19 01:53] #289 closed

[2020-02-19 01:54] kingthorin commented on #287
[code]

[2020-02-19 01:54] #287 closed

[2020-02-19 01:55] kingthorin commented on #285
The one exception resolves fine manually.

[code]

[2020-02-19 01:55] #285 closed

[2020-02-19 01:57] kingthorin commented on #271
[code]

[2020-02-19 13:44] #328 closed

[2020-02-19 13:51] victoriadrake commented on #328
@tolo7010 This would be my preference as well.

The WSTG is currently a living thing here on GitHub, so I’m not concerned about getting the organization perfect before we have the relevant material. My preference is to focus on the new content coming in, and organizing the sections second. I’m looking forward to #14!

[2020-02-20 01:43] kingthorin commented on #272
[code]

[2020-02-20 05:03] jeremychoi opened #334 "Add content to 4.2.6_Identify_Application_Entry_Points_WSTG-INFO-006"
**What would you like added?**

add about taking advantage of OWASP attack surface detector [https://owasp.org/www-project-attack-surface-detector/](https://owasp.org/www-project-attack-surface-detector/) for gray-box testing

Would you like to be assigned to this issue?
Check the box if you will submit a PR to add the proposed content. Please read CONTRIBUTING.md.
- [x] Assign me, please!

[2020-02-21 19:00] kingthorin commented on #243
I'm good with shortening/simplifying.

As things are trimmed and brought into conformance we should consider if any of the intro or summary text should be moved into the actual section(s).

[2020-02-23 00:39] patrickceg commented on #224
I was planning to just leave a comment but the "draft pull request" button was easier to find than my commit 😄 I'm sure there's a whole lot of errors in there that I won't be able to see until later.

[2020-02-23 00:58] kingthorin commented on #141
@patrickceg did you have anything more specific in mind on the mobile browser front?

I can go looking (it isn't something I've dealt with yet), but am glad for anything you (or anyone) had/have in mind.

[2020-02-23 01:03] kingthorin commented on #9
@kgeorgiou it's been a month, any news on this?

[2020-02-23 06:06] kgeorgiou commented on #9
Hey @kingthorin, you can check the progress on my [forked branch](https://github.com/kgeorgiou/wstg/blob/update-client-side-storage-document/document/4_Web_Application_Security_Testing/4.12_Client_Side_Testing/4.12.12_Testing_Web_Storage_OTG-CLIENT-012.md) - please let me know if you have any feedback so far.

If this is time-sensitive I can have a PR ready by Monday :)

[2020-02-23 07:55] kingthorin commented on #9
Thanks, there isn't a particular rush. I just wanted to make sure it was in progress.

[2020-02-23 11:13] jeremychoi commented on #270
How about integrating the ORM injection to the 4.8.5 SQL injection? To me ORM injection is just a kind of SQL injection that applies to a few different software rather than popular DBMS. It'd make sense if we said "The ORM software is vulnerable to SQL injection" just like this example, https://snyk.io/blog/sequelize-orm-npm-library-found-vulnerable-to-sql-injection-attacks/

[2020-02-24 01:05] patrickceg commented on #141
The comment I meant to make is many web pages treat mobile browsers differently, to the point where sites have a "m.mysite.com" versus a "mysite.com" pointing to different front-ends. That said the comment about mobile being different probably applies to many other parts of the article.

For the purposes of cache testing, it would be good to have instructions to check the cache of at least the def

[2020-02-24 01:09] kingthorin commented on #141
Thanks!

[2020-02-24 08:56] #152 closed

[2020-02-24 20:21] ThunderSon commented on #270
Hi Jeremy. This issue especially pertains to updating the document to a certain standard. The article itself states that underneath it's a SQL injection occurring, in a different way.
Could you possibly open up another issue for this so that it is tackled there?
Thanks for your interest in this 😄

[2020-02-24 20:26] #271 closed

[2020-02-26 01:45] kingthorin commented on #56
All the items in the original ticket were addressed in https://github.com/OWASP/wstg/pull/61

[2020-02-26 01:45] #56 closed

[2020-02-28 18:21] #141 closed

[2020-02-28 18:29] kingthorin commented on #270
I think it's fine to sit on it's own, maybe we should just move it to be another level 4 item in the 4.8.5 grouping (4.8.5.7?)?
![image](https://user-images.githubusercontent.com/7570458/75576595-458bb280-5a2e-11ea-974a-db153e1dad98.png)

[2020-02-29 14:24] ThunderSon commented on #270
@kingthorin Let's not dabble a lot in this matter under this issue. The test definitely requires a full re-write (it doesn't define any special test cases). It could even be scratched off completely. It'll all be based on who does the re-write and how it comes off.

[2020-03-01 18:27] ThunderSon commented on #243
Definitely. Let's make the `4` chapter, where every section (`4.x`) goes to drill down attacks, become more so of a ToC of the current things to be discussed. That'll give the readers a better way to access content. Is this what we're looking at?

[2020-03-03 11:52] JulienRouse commented on #269
@victoriadrake the link for article standard goes to a 404, do you mean to link to this page https://github.com/OWASP/wstg/blob/master/template/999.2_Template_Explanation_WSTG-FOO-002.md?

[2020-03-03 12:00] kingthorin commented on #269
Yes and fixed :+1:

[2020-03-03 14:17] kingthorin commented on #270
Refs:
- https://capec.mitre.org/data/definitions/109.html
- https://insinuator.net/2016/06/new-methods-for-exploiting-orm-injections-in-java-applications-hitb16/
- https://www.valencynetworks.com/blogs/sql-injection-attack-via-orm-sink/

[2020-03-03 14:20] kingthorin opened #344 "Re-work Section 1"
Section one doesn't need to carry a ton of Org/Board info. 1.2 can be removed and a few key points added to the README

https://github.com/OWASP/wstg/tree/master/document/1_Frontispiece

[2020-03-04 10:47] kingthorin opened #346 "Update all old wiki links"
All references to `http(s)://www.owasp.org/index.php` should be re-pointed to current resources on `owasp.org`.

[2020-03-05 07:40] #346 closed

[2020-03-05 07:48] ThunderSon commented on #243
@victoriadrake @kingthorin does my last comment properly tackle the issue raised?

[2020-03-05 08:52] kingthorin commented on #243
I think so.

[2020-03-05 15:52] ThunderSon commented on #334
Hi @jeremychoi ! Any updates on this issue?

[2020-03-06 19:27] ThunderSon opened #351 "Merge Rest Assessment CS into WSTG"
**What would you like added?**
Following the issue from the CheatSheets project, Issue 367 discusses the move of [Rest Assessment CS](https://github.com/OWASP/CheatSheetSeries/blob/master/cheatsheets/REST_Assessment_Cheat_Sheet.md) to WSTG

What do you think? If yes, this can modified to fit with the REST testing scenario

[2020-03-07 18:07] #344 closed

[2020-03-08 12:56] ThunderSon opened #352 "SQL Injection Specific Tests Non-Uniform Titles"
**What's the issue?**
SQL Injection specific test cases have random Titles and are not uniform in any way.

**How do we solve it?**
Titles should be uniform. They need to follow that they are under Input Validation, SQL Injection, and by that, their names become clear to what they actually are.
I'll leave the naming to @victoriadrake or @kingthorin as they are more fit to name things.

[2020-03-08 17:25] rbsec opened #353 "Add SameSite to cookie attributes"
The [cookie attributes](https://github.com/OWASP/wstg/blob/master/document/4_Web_Application_Security_Testing/4.7_Session_Management_Testing/4.7.2_Testing_for_Cookies_Attributes_WSTG-SESS-002.md#testing-for-cookie-attribute-vulnerabilities) testing guide doesn't mention `SameSite` which is supported by pretty much everything and is beign set by default in some browsers.

[2020-03-08 17:56] ThunderSon commented on #353
Cookie **prefixes** as well. I'd say those are as important as the attributes.

[2020-03-10 08:02] RiieCco opened #354 "Add more references in - 4.11.1_Test_Business_Logic_Data_Validation_WSTG-BUSLOGIC-001.md"
**What's the issue?**
In this chapter we can add more references to further describe the problem.
These sources can also help get the developer get a better understanding of
the remediation strategy.

**How do we solve it?**
For references:
https://owasp.org/www-project-proactive-controls/v3/en/c5-validate-inputs
https://cheatsheetseries.owasp.org/cheatsheets/Input_Validation_Cheat_Sheet.html

Wou

[2020-03-10 08:27] RiieCco opened #355 "Add flowchart to help understand "Process Timing" vulnerability better in WSTG-BUSL-04"
**What would you like added?**
When explaining the side-channel attack for login we can maybe add a
flowchart that helps the reader visualize the vulnerability like:

![Schermafbeelding 2020-03-10 om 09 23 58](https://user-images.githubusercontent.com/8506705/76293275-0b81a280-62b1-11ea-80be-dd92e24214c1.png)

We do need to create our own image because this one i *borrowed* from an other example
o

[2020-03-10 08:47] ThunderSon commented on #355
Images are always interesting. We can definitely have that.

[2020-03-11 17:21] DomKoe commented on #268
@victoriadrake link is broken, so I leave this one here, I believe it is the correct one atm.
**https://github.com/OWASP/wstg/blob/master/template/999.2_Template_Explanation_WSTG-FOO-002.md**

[2020-03-11 17:34] DomKoe commented on #266
I am not sure what document is referred here, as the link is broken. When this is regarding vertical privilege escalation, I can work on this.

[2020-03-11 23:20] victoriadrake commented on #266
Updated links. Thank you @DomKoe, I will assign you.

[2020-03-12 02:07] kingthorin commented on #268
Fixed. Tickets were opened before the OTG > WSTG change

[2020-03-12 14:54] pr1malbyt3s opened #357 "4.3.10 Misspelled Domain Name in Example2"
**What's the issue?**
Numbered item 2 in Example2 - Expired Domain contains misspelled domain name, ictimmotherdomain.com.

**How do we solve it?**
Update spelling. Ensure it meets style requirements.

Would you like to be assigned to this issue?
- [x] Assign me, please!

[2020-03-12 15:05] ThunderSon commented on #357
Thank you for identifying that. Please go ahead 😄 You can tackle grammar issues straight up, no need for issues when it comes to simple things like that.

[2020-03-12 15:26] pr1malbyt3s commented on #357
@ThunderSon Thanks! Noted for future edits.

[2020-03-12 16:27] #357 closed

[2020-03-13 13:58] ThunderSon commented on #268
Thanks to @garethventon, provided me with the following link to identify prevention mechanisms. This link can help us write out the tests for this testing scenario:
[Facebook OAuth Framework Vulnerability](https://www.amolbaikar.com/facebook-oauth-framework-vulnerability/)

[2020-03-13 14:21] Ix76y opened #359 "4.11.9 Upload of Malicious Files - Error in Example backdoor usage"
**What's the issue?**
In the **Test Upload of Malicious Files** section, under **WebShell Backdoor** the example php code checks for the parameter `rq`but below the code snippet the example url http://TargetVictimSite.com/WebShell-backdoor.php?cmd=cat+/etc/passwd is given.

**How to solve it?**
In the example url **cmd** should be replaced with **rq**

[2020-03-13 14:25] jespunya opened #360 "Common Platform Enumeration (CPE) naming schema on information gathering process"
**What would you like added?**
Common Platform Enumeration (CPE) is a structured naming scheme for information technology systems, software, and packages. Based upon the generic syntax for Uniform Resource Identifiers (URI), CPE includes a formal name format, a method for checking names against a system, and a description format for binding text and tests to a name.

The usage of CPE naming is esp

[2020-03-13 14:27] ThunderSon commented on #359
Thanks @Ix76y !

[2020-03-13 15:03] ThunderSon commented on #360
I'd really this topic to be injected into the WSTG.
Points to consider:
- We need to define properly where to inject its definition - could be in an appendix, in a chapter in 4.2, etc. - to properly allow the reader to go through it and use it.
- The document gets updated incrementally to entertain this topic and properly use CPE across its chapters.
- Be ready by the v5 release to properly contai

[2020-03-13 23:46] victoriadrake opened #363 "Add WIP procedures to contribution guide"
**What's the issue?**

We need a way for contributors working on a PR to indicate it’s not yet ready for review. We created a label, but there’s no written usage guidance.

**How do we solve it?**

Write up the use of the `work_in_progress` label or find a more robust solution.

Would you like to be assigned to this issue?
Check the box if you will submit a PR to fix this issue. Please read CONTRI

[2020-03-13 23:57] kingthorin commented on #363
IMHO using draft PRs would be better, however, that does require people to familiarize themselves with the github web ui.

[2020-03-14 14:51] kingthorin commented on #360
I have no further context for this tweet right now just wanted to keep track of it somehow: https://mobile.twitter.com/manicode/status/1238835388757823493

[2020-03-14 17:01] ThunderSon commented on #360
@stevespringett @jmanico would you be able to provide us with input on the above topic?

[2020-03-14 18:57] stevespringett commented on #360
In general, a section on naming would be good. CPE is one method of naming. There are others including Package URL and SWID.

CPE is inherently flawed. It's centralized. The vendor/product/versions often do not reflect reality. And most importantly, CPEs are typically not created until a CVE is created. So it's not an authoritative source of software, rather vulnerable software.

Naming is hard. V

[2020-03-15 17:14] #359 closed

[2020-03-15 18:16] victoriadrake commented on #363
@kingthorin You're probably right. It doesn't appear we can change a PR from standard mode to draft mode, though. Should we keep the label as an alternate method? Or would that be confusing?

[2020-03-15 18:23] kingthorin commented on #363
Nope that’s a good point, draft from start if possible. Label after the fact otherwise.

😊

[2020-03-15 18:50] victoriadrake commented on #363
Doh.

I suppose those with write access can manage it still.

[2020-03-15 19:06] kingthorin commented on #363
Well the team can also stay on top of it. We can also add a ‘ready for review’ label.

I read basically every notification so we can just do our best 🤷‍♂️

[2020-03-15 21:42] ThunderSon commented on #363
Don't worry that much about it 😄 Draft PRs should only be used prior. That's the concept behind them. They're a harbor for people to have something to share, but not to be reviewed, prior to the official PR. Once it's official, either you close it and tell the author to fix so much

[2020-03-15 23:10] victoriadrake commented on #363
Every one! You're a machine! 🤖💨

I'll go with that for guidance. Draft PR preferred, but if you made a standard one and it's not ready, just comment and say so and we'll label it appropriately.

[2020-03-15 23:40] kingthorin commented on #363
I was totally NOT trying to imply that 😔

[2020-03-16 11:12] rbsec opened #364 "4.2.3 - Add other common metadata files"
4.2.3 (Review Webserver Metafiles for Information Leakage) currently only really talks about the `robots.txt` file, but there are some other files on the site that can contain interesting information, such as:

- security.txt
- sitemap.xml
- [Various other services](https://en.wikipedia.org/wiki/List_of_/.well-known/_services_offered_by_webservers) in the `.well-known` directory

Some of these are

[2020-03-16 11:19] rbsec opened #365 "4.2.5 - don't recommend <meta> cache control header"
The discussion of `<meta>` tags in 4.2.5 (Review Webpage Comments and Metadata for Information Leakage) gives some examples of the `http-equiv` tags:

https://github.com/OWASP/wstg/blob/master/document/4_Web_Application_Security_Testing/4.2_Information_Gathering/4.2.5_Review_Webpage_Comments_and_Metadata_for_Information_Leakage_WSTG-INFO-005.md#black-box-testing

This is a dangerous example to giv

[2020-03-16 11:49] rbsec opened #366 "Consider consolidating fingerprinting guides (4.2.8 and 4.2.9)"
Reading through the information gathering section, there's a page on fingerprinting [web application frameworks](https://github.com/rbsec/wstg/blob/master/document/4_Web_Application_Security_Testing/4.2_Information_Gathering/4.2.8_Fingerprint_Web_Application_Framework_WSTG-INFO-008.md) which says:

It talks about both frameworks (CakePHP, Laravel, etc), and also CMS (WordPress), and discusses vari

[2020-03-16 14:44] rbsec opened #368 "Consider removing CIS-CAT reference in 4.3.2"
The [System Configuration](https://github.com/OWASP/wstg/blob/master/document/4_Web_Application_Security_Testing/4.3_Configuration_and_Deployment_Management_Testing/4.3.2_Test_Application_Platform_Configuration_WSTG-CONFIG-002.md#system-configuration) section under the "Black-Box Testing" section in 4.3.2 (Test Application Platform Configuration) links to the CIS benchmarks and CIS-CAT. While thes

[2020-03-16 15:42] rbsec opened #369 "Review and fix HTTP POST request examples (4.5.1)"
There are a number of example POST requests in 4.5.1 (Testing for Credentials Transported over an Encrypted Channel), such as the one below:

[code]

There are a few things wrong with this:

- The first line is invalid (the protocol and hostname shouldn't be here, and it's missing the `HTTP/1.1`)
- The `Host` header is invalid (shouldn't have the protocol or the path)
- There's a lot of noise (use

[2020-03-16 15:48] rbsec opened #370 "Expand forgotten password link testing (4.5.9)"
Expand the guidance around the testing forgotten password links in 4.5.9 to include checks that the link:

- Is actually random (not something stupid like `sha1($email)`
- Can only be used once
- Expires after a period of time
- Doesn't include a user ID or other value that can be tampered
- If they're using a JWT for the link, that it's not vulnerable to the usual stuff

- [ ] Assign me, please!

[2020-03-16 16:09] kingthorin commented on #369
Closer to option two would be my choice.

Include the method/verb in the code block, correct the host header, and provide some realistic/relevant header fields.

[2020-03-16 20:02] ThunderSon commented on #369
Yeah, something like this:
[code]
Your examples had a mismatch between host and domain, but I'll let that go for now 😛

[2020-03-16 20:05] ThunderSon commented on #369
Hmm, we'll need to set this under a milestone. How about we look at later versions, prior to releasing v5 maybe, or after getting over with the more critical versions, say till 4.3 the least?

[2020-03-16 20:05] rbsec commented on #369
@ThunderSon the only issue with that approach is that it doesn't show the protocol. A lot of the time it's irrelevant, but in 4.5.1 (for example) it's talking about HTTP vs HTTPS in some of the issues, so there would need to be some thought about how to display that.

Also the `Host` header can probably be removed - unless it's relevant to the issue there's not much point having a `Host` header th

[2020-03-16 20:07] rbsec commented on #369
Also, if when a decision is made on how GET/POST requests should be shown, it might be worth updating the style guide with it.

[2020-03-16 20:08] ThunderSon commented on #369
Valid point. `Host` is required in `HTTP/1.1`, so I'd prefer keeping it.

Good note about the style guide. @kingthorin we had a discussion on this same topic, guess we missed the bad examples and focused on some other semantics back then.

[2020-03-16 20:11] rbsec commented on #369
@ThunderSon that's fair. Personally I tend to remove it when I report stuff as it's just noise, but I can see the value to keeping the requests valid.

[2020-03-16 20:24] ThunderSon commented on #366
Will be considered and added to an uplift milestone later down the line. Thanks!

[2020-03-17 17:50] DomKoe commented on #269
I would like to be assigned to this.

[2020-03-17 23:58] kingthorin commented on #360
Further details on CPE/SWID concerns: https://groups.google.com/a/owasp.org/forum/m/#!topic/leaders/eQPCC7-nQj4

[2020-03-18 15:10] pr1malbyt3s opened #374 "Add CAPTCHA bypass testing to 4.4.3: Testing for Weak Lock Out Mechanism"
**What would you like added?**
Add CAPTCHA bypass test cases to demonstrate risks associated with improper CAPTCHA implementation.

Would you like to be assigned to this issue?
Check the box if you will submit a PR to add the proposed content. Please read CONTRIBUTING.md.
- [x] Assign me, please!

[2020-03-19 08:36] hazcod opened #376 "[Feature] JSON format"
Hi, I think it would be awesome if we could compile all WSTGs into a JSON format as part of the CI/CD chain, e.g. https://github.com/bugcrowd/HUNT/blob/master/Burp/conf/owasptg.json

[2020-03-20 12:36] DomKoe commented on #266
Do you want me to remodel the testing example to close this issue, or what do you have in mind?

[2020-03-21 09:48] ThunderSon commented on #266
You have done a great job. I will be adding a PR to just fix something minor. Another issue will be opened to give it a nice ID, I guess that'll be postponed a bit till we agree on the versioning that we'll be following from now on. Thanks @DomKoe !

[2020-03-21 12:19] ThunderSon opened #380 "Cookie Prefixes 4.7.2"
**What would you like added?**
Scenario [4.7.2 Testing for Cookies Attributes](https://github.com/OWASP/wstg/blob/master/document/4_Web_Application_Security_Testing/4.7_Session_Management_Testing/4.7.2_Testing_for_Cookies_Attributes_WSTG-SESS-002.md) is missing Cookie Prefixes

References:
- [Cookies Prefixes MDN](https://developer.mozilla.org/en-US/docs/Web/HTTP/Cookies#Cookie_prefixes)
- [Google

[2020-03-21 12:21] ThunderSon commented on #380
Should the section title change as well? This is not an attribute per se.

[2020-03-21 12:23] ThunderSon opened #381 "Testing and Remediation Sections Update in 4.7.2"
Following on PR #362 , under the following [comment](https://github.com/OWASP/wstg/pull/362#issuecomment-602032798), the testing scenario requires an update to the:
- `Testing for Cookie Authentication Replay` section
- Remediation section

[2020-03-21 12:25] kingthorin commented on #380
I'm okay sticking with "attributes"

[2020-03-21 13:10] victoriadrake commented on #352
@ThunderSon Which section are you referring to? [This](https://github.com/OWASP/wstg/blob/4f8198d57d0359774471d2e49175bb7df0a117b1/document/4_Web_Application_Security_Testing/4.8_Input_Validation_Testing/4.8.5_Testing_for_SQL_Injection_WSTG-INPVAL-005.md)?

[2020-03-21 13:14] ThunderSon commented on #352
I am discussing all the tests that follow after SQL Injection (MSSQL, MySQL, etc.). They don't have a naming convention, they are just thrown randomly based on the author's discretion.

[2020-03-21 13:17] #353 closed

[2020-03-21 13:43] victoriadrake commented on #243
So we’re in agreement to remove the intro text from READMEs, turn them into TOC lists instead, and where appropriate move the intro text into the section.

[2020-03-21 13:46] kingthorin commented on #243
Yes, from my point of view.

[2020-03-21 14:11] jespunya commented on #380
Can you please assign me this issue please.

[2020-03-21 15:19] victoriadrake commented on #352
Ah. This will be addressed in #253 and the [proposed v5 layout](https://github.com/OWASP/wstg/pull/254/files?short_path=2312a8f#diff-2312a8ff16d1c93b4d27c19f549d6ec9) that has the tests alphabetized.

We're addressing it in v5 because changing the order of the sections will introduce the breaking change of different section numbers.

[2020-03-21 15:19] #352 closed

[2020-03-21 16:23] kingthorin commented on #253
The layout has been agreed upon in: https://github.com/OWASP/wstg/pull/254 as follows:

# WSTG Table of Contents

- README.md (Table of Contents)
- Foreword
  - README.md (formerly 0_Foreword.md)
- Frontispiece
  - README.md (formerly 1_Frontispiece.md)
- Introduction_to_the_Guide
  - README.md (formerly 2_Introduction.md)
- Introduction_to_Web_Testing (formerly 4.1_Introduction_to_Web_Testing)

[2020-03-22 12:58] #334 closed

[2020-03-22 13:54] #266 closed

[2020-03-23 11:12] #243 closed

[2020-03-27 10:00] #380 closed

[2020-03-28 13:21] #224 closed

[2020-03-28 17:19] #9 closed

[2020-03-28 18:13] #270 closed

[2020-03-28 18:30] #272 closed

[2020-03-28 18:53] #140 closed

[2020-03-28 21:35] kingthorin commented on #249
Both TODOs done, closing.

[2020-03-28 21:35] #249 closed

[2020-03-28 22:34] #365 closed

[2020-03-28 22:35] #138 closed

[2020-03-29 13:42] #354 closed

[2020-03-29 17:23] #381 closed

[2020-04-02 23:16] kingthorin commented on #265
As discussed elsewhere this document should probably be merged into `4-Web_Application_Security_Testing/05-Authorization_Testing/02-Testing_for_Bypassing_Authorization_Schema.md`

[2020-04-02 23:19] kingthorin opened #407 "Merge "Testing_for_Vertical_Bypassing_Authorization_Schema" into"
Merge `/Testing_for_Vertical_Bypassing_Authorization_Schema_WSTG-AUTHZ-00X.md` into `4-Web_Application_Security_Testing/05-Authorization_Testing/03-Testing_for_Privilege_Escalation.md`

[2020-04-03 09:19] DomKoe commented on #407
I would like to be assigned to this.

[2020-04-03 09:21] DomKoe commented on #265
I would like to be assigned to this.

[2020-04-03 15:38] kingthorin opened #408 "Tweak Wappalyzer References"
Edit: During [PR review](https://github.com/OWASP/wstg/pull/457) the decission was agreed upon that the data collection note should just be removed.

~**What would you like to happen?**~
~The TG currently has to references to Wappalyzer noting that it's associated with data collection. Add a note and ref to Zap's Wappalyzer implementation which is not subject to such collection.~

~- https://githu

[2020-04-06 14:30] #248 closed

[2020-04-09 10:34] patrickceg commented on #369
I know the issue is looking specifically at the HTTP requests, but I see issues with the article as a whole if I read it as just someone wanting to test for the problem.

I assume this is the article?
https://github.com/OWASP/wstg/blob/master/document/4-Web_Application_Security_Testing/04-Authentication_Testing/01-Testing_for_Credentials_Transported_over_an_Encrypted_Channel.md#how-to-test

---

F

[2020-04-09 11:58] kingthorin commented on #363
Pull requests can now be turned into drafts if needed (if that helps here):
https://twitter.com/github/status/1247981718453334019

[2020-04-09 14:49] kingthorin opened #419 "Content Review: Testing for Credentials Transported over an Encrypted Channel"
Split from: https://github.com/OWASP/wstg/issues/369

----
Quote: @patrickceg

I know the issue is looking specifically at the HTTP requests, but I see issues with the article as a whole if I read it as just someone wanting to test for the problem.

I assume this is the article?
https://github.com/OWASP/wstg/blob/master/document/4-Web_Application_Security_Testing/04-Authentication_Testing/01-Testi

[2020-04-10 09:58] nirdev opened #423 "Adding Content Security Policy (CSP) Mitigation"
Hi,

I'm representing my company([Sayfer](https://sayfer.io)), we learned a lot from the WSTG standard and would like to contribute back.

**What would you like added?**
Content Security Policy (CSP) - we believe this is an important addition to the testing checklist.
We think this should be under `06-Session_Management_Testing` section.

**Why it is important?**
CSP is an important line of defens

[2020-04-16 01:57] kingthorin commented on #423
@nirdev while some of the tests do have small sections on remediation they're meant mainly to reference other resources and provide insight which might trigger a tester to look further. (I don't see the connection between session management and CSP.)

If what you really want to write is totally about mitigation it likely fits better as a contribution to the https://github.com/OWASP/CheatSheetSerie

[2020-04-16 02:06] kingthorin commented on #261
This kind of requires ASVS to formalize their reference standard: https://github.com/OWASP/ASVS/issues/715

[2020-04-16 02:12] kingthorin commented on #258
Assigning myself to investigate and write about other possabilities as mentioned earlier.

[2020-04-16 10:20] ThunderSon commented on #261
The above doc kind of shifted gears and is actually building the full CRE repository, and inside it there is a direct mapping between ASVS and WSTG and other projects.

[2020-04-16 10:34] kingthorin commented on #261
What I was getting at is that if we are going to reference ASVS in WSTG we need a solid way to do it.

[2020-04-16 10:39] ThunderSon commented on #423
Indeed, as mentioned, if you're mainly looking at remediation, there is a [CSP cheat sheet](https://github.com/OWASP/CheatSheetSeries/blob/master/cheatsheets/Content_Security_Policy_Cheat_Sheet.md)
If we're looking at creating a test scenario for poking at policies, then that's a different thing and should be part of WSTG.

[2020-04-18 15:32] righettod commented on #258
Feel free to ask in case of need regarding this topic 😃

[2020-04-18 16:10] kingthorin commented on #258
Thanks @righettod !

[2020-04-18 16:56] victoriadrake commented on #234
Closed in #235

[2020-04-18 16:56] #234 closed

[2020-04-20 08:18] #363 closed

[2020-04-22 08:19] hazanasec commented on #268
I'm happy to begin some work on this

[2020-04-22 23:59] irgoncalves opened #446 "HTTP Method overriding testing"
I am proposing to add a new testing in the Test HTTP Methods section called 'Testing for HTTP Method Overriding'. This will encompass the usage of alternative HTTP headers to override the actual HTTP method in the request.

Would you like to be assigned to this issue?
Check the box if you will submit a PR to add the proposed content. Please read CONTRIBUTING.md.
- [x] Assign me, please!

[2020-04-24 06:08] #446 closed

[2020-04-24 18:34] kingthorin commented on #15
@tek911 any news/progress?

[2020-04-24 18:36] kingthorin commented on #13
@gitcnd any news/progress?

[2020-04-25 14:52] crazykid95 opened #450 "Add Review Frontend for Sensitive Data Exposure (WSTG-INFO)"
**What would you like added?**
Modern web models have separate Frontend with the Backend API, Frontend often expose sensitive information, such as hardcoded Google Private API Key, Google Map API Key in Javascript variables but not restricted or exposing WebPack map files that contains sensitive routes. This section helps people review Frontend at the Information Gathering stage to quickly identif

[2020-04-25 17:22] ThunderSon commented on #450
Interesting. @kingthorin do you think this could be part of [WSTG-INFO-05](https://github.com/OWASP/wstg/blob/master/document/4-Web_Application_Security_Testing/01-Information_Gathering/05-Review_Webpage_Comments_and_Metadata_for_Information_Leakage.md)?

[2020-04-26 00:31] crazykid95 commented on #450
Good Ideal @ThunderSon. I will write it as part of WSTG-INFO-05

[2020-04-26 12:13] kingthorin opened #451 "Terminology Consistency"
All occurrences of "Open Source" within the document should use title caps.

In agreement with: https://perens.com/2017/09/26/on-usage-of-the-phrase-open-source/

[2020-04-28 01:22] kingthorin commented on #376
Something like:
[code]

Can be generated pretty simply with `tree -J -I 'images|README.md|00-*' --dirsfirst > list.json` then using `sed` to make some replacements. I had to manually trim a few things but I'm sure they're automateable too. The only thing I have left to sort out is extracting or grepping out the test IDs and maybe trimming/removing `.md`.... anyway something can be done simply enou

[2020-04-28 06:02] rejahrehim commented on #376
I can work on it. @kingthorin

[2020-04-28 11:41] kingthorin commented on #423
@nirdev do you have further feedback on this?

[2020-04-28 11:45] kingthorin commented on #6
@itscooper any chance you want to contribute some content to address this?

[2020-04-28 11:46] kingthorin commented on #8
@vermava any luck putting something together as you mentioned earlier?

[2020-04-28 16:39] ThunderSon commented on #376
@rejahrehim Let's first agree on the structure that this list could hold. Having the IDs as such without anything on top looks to be really basic and raw. For now, I have 2 additional fields in mind. Link to the stable spot of this (or on github, doesn't really matter), and another one which describes the attack.
I was thinking that the Test Objective sentences could help with this as they are sho

[2020-04-28 16:43] jespunya opened #455 "Improve LFI text, introduce path truncation bypass & php wrappers"
**What would you like added?**
The LFI section can be improved with other ways to exploit it and bypass the limitations on real world scenarios. I think that at least the following should be introduced:

* Path truncation to bypass the concatenation of the file extension
* PHP wrappers to get Remote Code Execution from a LFI

Additionally I would like to introduce a few minor improvements to the s

[2020-04-28 17:15] rejahrehim commented on #376
Test id like `WSTG-ATHN-01` and Test Objective sentences we have to add. Also, what you think of adding cross references to ASVS when its ready?

[2020-04-29 17:01] ThunderSon commented on #376
Category IDs can definitely be used. What do you think about this:
[code]
The arrays X objects is done for easy digestion by tools. It would start at 0, but people taking this into a tool should know that.

CRE (instead of ASVS) is where the references are happening and should be ready by v5 release, hopefully :crossed_fingers:

[2020-04-29 17:02] ThunderSon commented on #376
@RiieCco Do you think the above is needed Vs. what we're doing in the CRE? The [input schema](https://github.com/OWASP/www-project-integration-standards/pull/17) is starting to look like this. The inventory schema is still being built (well hopefully, I'll be done with it by tomorrow).

[2020-04-29 17:08] kingthorin commented on #376
The suggested schema seems decent. I think we should set the "category" as the actual folder text or whatever (just because it removes any potential confusion around the acronyms in the identifiers), and then we should include the actual identifiers to remove consumers' need to count properly etc. (Which also gives us some future proofing in retiring or merging IDs etc)

[2020-04-29 17:10] rejahrehim commented on #376
If we put `category` as actual folder name, then we have to put category Id as `WSTG-ATHN` What you think ?

[2020-04-29 17:13] kingthorin commented on #376
Sure that'd be fine, however if we're including the actual full test id (WSTG-AUTH-01) do we need it? I dunno, I guess there's no reason not to include it as a categoryId.

In the end, in a text based representation that will compress ridiculously well and be consumed by other programs/projects there's not much reason to exclude details. More really can be more.

[2020-04-29 17:15] rejahrehim commented on #376
I thought of adding some identifier that could programmatically validated if used by some tools or scripts.

[2020-04-29 17:52] kingthorin commented on #376
[code]

[2020-04-29 17:54] rejahrehim commented on #376
`CRE_ID` or `CRE-ID`  Can we use hyphen like  `WSTG-ATHN-01` @ThunderSon

[2020-04-29 19:11] ThunderSon commented on #376
I doubt it's going to be in the first build of this JSON file. It could be `cre` or `cre-id` it doesn't really matter. This is used to be consumed.
I like the schema as well. Thanks :smile:

[2020-05-01 14:49] #450 closed

[2020-05-01 15:16] cBiscuit87 opened #459 "WSTG Checklist v4.0 Likelihood rating reversal"
**What's the issue?**
Describe the problem and why it should be fixed. Be concise and specific. Reference sections where appropriate.

It seems the Likelihood Factors for Threat-Agent-Factors.Skills-Required is reversed. Intuitively, it would get less likely as the skill required increases for a given vulnerability.  So, if a vulnerability requires a Professional Pentester to exploit it, it's less

[2020-05-01 15:27] kingthorin commented on #459
Thanks for the offer, however we are probably going to remove this component. This particular detail resulted in many edit wars and issues on the old owasp wiki.

It actually is proper the way the values currently are, the problem is that skill isn't really part of likelihood. A more skilled attacker should result in greater risk. (Or the word skill is just the wrong word...)

[2020-05-01 15:29] #459 closed

[2020-05-01 15:33] cBiscuit87 commented on #459
I guess I would just add, I agree you can't put a likelihood on the skill of the actual attacker, but you can put a likelihood on the exploitability by assessing the skill required to attack.

[2020-05-01 20:22] #455 closed

[2020-05-01 20:27] ThunderSon commented on #459
@cBiscuit87 Does it happen that you'd like to update the checklist as we grow and move forward? Or might you have any other interests? :smile:

[2020-05-01 21:02] cBiscuit87 commented on #459
@ThunderSon I'd be happy to help wherever I can.

[2020-05-04 01:37] #408 closed

[2020-05-04 02:09] kingthorin commented on #364
https://www.contributejson.org/

[2020-05-04 02:29] kingthorin commented on #364
http://humanstxt.org/

[2020-05-05 04:56] johanna-a opened #463 "Deduplicate sections 4.2.6 Test HTTP Methods and 4.7.3 Testing for HTTP Verb Tampering"
**What's the issue?**
The sections 4.2.6 Test HTTP Methods and 4.7.3 Testing for HTTP Verb Tampering are very similar in subject. They both for example list the allowed HTTP methods in HTTP 1.1. They both refer Arshan Dabirsiaghi's work, although one only with a link in the References section and the other with a mention of Arshans work in the text with a reference to a link that does not exist. T

[2020-05-05 13:04] ThunderSon commented on #463
I believe this fits more into the configuration of the server, more than input validation.
This is set based on what the server requires to allow external parties to interact with, and moreover, this belongs to the HTTP protocol, which should be *configured*.

This whole chapter (Chapter 4.2) could be revised and better tackled to contain the newer headers (CORS, CSP, etc.). Thanks for pointing th

[2020-05-05 13:22] kingthorin commented on #463
Ya I think it makes sense to consolidate the content under 4.2.6, I agree that it isn't really an input validation item.

[2020-05-05 21:34] kingthorin commented on #451
It seems there are also places where `javascript` &gt; `JavaScript` is still warranted.

[2020-05-06 05:44] Hsiang-Chih opened #465 "addition to "The Web Security Testing Framework""
**What would you like added?**
It's an addition to an existing topic?  "The Web Security Testing Framework"
As I was the original author of the section, I didn't quite complete the section. I would like to add more information based on existing section. Refer here.
https://github.com/OWASP/wstg/blob/master/document/3-The_OWASP_Testing_Framework/0-The_Web_Security_Testing_Framework.md

Here is my p

[2020-05-06 08:41] ThunderSon commented on #465
Hi @Hsiang-Chih ! Thank you for reaching out and putting effort on this section of the guide. We'd love to receive your new content!
The section you referred to is [3.1 - Penetration Testing Methodologies](https://github.com/OWASP/wstg/blob/master/document/3-The_OWASP_Testing_Framework/1-Penetration_Testing_Methodologies.md). Let us know how we can land a hand if needed :smile:

[2020-05-06 09:46] Hsiang-Chih commented on #465
Thank you. working on it.

[2020-05-06 09:48] Hsiang-Chih commented on #465
Can you help to assign this issue to me again?  My mistake wrongly clicked the "assign" button.

[2020-05-06 10:54] ThunderSon commented on #459
@cBiscuit87 Could you probably [join us on slack](https://github.com/OWASP/wstg#chat-with-us) in order to properly focus your contributions? Thanks :smile:

[2020-05-07 09:56] #368 closed

[2020-05-11 07:57] nirdev commented on #423
Thanks guys for the clarifications, sorry for the slow response.
I'll be looking into the cheat sheet, thanks! :pray:

[2020-05-11 09:40] #364 closed

[2020-05-12 00:28] Franccisco opened #476 "Typos in 04-Testing_for_Weak_Encryption.md"
**What's the issue?**
There are three typos in the [Source Code Review](https://github.com/OWASP/wstg/blob/master/document/4-Web_Application_Security_Testing/09-Testing_for_Weak_Cryptography/04-Testing_for_Weak_Encryption.md#source-code-review) section of this file:
1. "encyprtion" instead of "encryption".
2. Two blank spaces instead of one in `secret Key,  private key`.
3. "althorithm" instead of

[2020-05-12 02:36] kingthorin commented on #476
Thanks for tackling this. If you're going to tackle something essentially immediately and there's little concern of someone else tackling the same task you can just go ahead with a PR without an issue.

Nice work!

[2020-05-12 07:23] #476 closed

[2020-05-12 18:57] Franccisco commented on #476
Understood. You're welcome!

[2020-05-13 14:06] #369 closed

[2020-05-14 17:49] #423 closed

[2020-05-16 12:39] marevalo10 opened #481 "Remove Blindelephant Reference"
**What's the issue?**
In some of the information gathering pages it is refered the Blindelephant software. However, it is not available anymore after following the links and the reference in their page.

**How do we solve it?**
I think it should not be refered anymore. I found this github but I'm not sure if this is official or not: https://github.com/lokifer/BlindElephant

Would you like to be as

[2020-05-16 13:28] marevalo10 opened #482 "PCI DSS referenced to a previous version"
**What's the issue?**
PCI DSS 3.1 and PA-DSS 2.0 are mentioned however current versions are 3.2.1 and 3.2. Here is the link to the page containing this reference: https://github.com/OWASP/wstg/blob/master/document/4-Web_Application_Security_Testing/02-Configuration_and_Deployment_Management_Testing/02-Test_Application_Platform_Configuration.md
The link is ok because it refers to the PCI library, n

[2020-05-16 16:38] calabacito commented on #481
The software hasn't been updated in ages but URL is still working.

[2020-05-16 16:43] #482 closed

[2020-05-16 17:02] ThunderSon commented on #481
Indeed it is old and no longer supported, and as such will be removed.

[2020-05-16 17:02] ThunderSon commented on #481
Indeed it is old and no longer supported, and as such will be removed.

[2020-05-16 22:19] kingthorin commented on #481
Looking at http://blindelephant.sourceforge.net, it lists a few similar tools of which it seems WhatWeb is the only thing still alive and kicking.

[2020-05-16 22:25] kingthorin commented on #13
@gitcnd any news/progress?

[2020-05-16 23:43] gitcnd commented on #13
It's actually a lot more work that I realized, plus I'm somewhat disillusioned because I've done similar things in the past and ended up having it all discarded by folk who over-zealously enforce scope-demarcation.  My philosophy is "fix the problem", but 99% of the security world worships a different theme: "keep the scope so narrow that all holes are someone else's problem". (or, tin-foil-hat-on

[2020-05-17 00:43] kingthorin commented on #13
Okay the core team can tackle it. There is a scope and it is a guide not a standard. Yes things can be re-worded. But, I don’t want you to end up feeling you’ve wasted time or effort.

Thanks for your ideas and references so far!

[2020-05-17 13:10] victoriadrake commented on #451
Just a caution that article intends for the capitalization to apply to:

There may be occurrences in the WSTG where this context is not the case.

JavaScript is a no-brainer.

[2020-05-17 19:06] ThunderSon commented on #451
So when open source is used as a descriptive term, it shouldn't be capitalized, no?

[2020-05-17 19:13] ThunderSon commented on #13
Just to add a bit on the above.
@gitcnd If someone up the line dismissed your thoughts and ideas, it doesn't mean they're correct 😄 We don't enjoy throwing this to someone else's plate. Not the direction that AppSec is taking.

Would you prefer working this with us? We can share ideas and thoughts between here and Slack, and then agree on what could be done and what could be accepted, without maki

[2020-05-19 18:08] #366 closed

[2020-05-19 18:08] #481 closed

[2020-05-21 00:16] kingthorin commented on #451
Ya I read and re-read that a number of times when I created this issue, but my interpretation of that statement was that in the majority of cases "Open Source" likely applies. I guess there might be some abstract references which aren't directly about software in which it might not be applicable. But, my take away was that it should be caps more often than not.

[2020-05-21 15:56] rcorsi opened #488 "Summary Chapter in 3.1 Re-Order"
**What's the issue?**
At start of Ch 3.1, the summary of items is out of order with how the items are present later in the chapter.

**How do we solve it?**
Would like to change the summary so matches the current order of the document.

Would you like to be assigned to this issue?
Check the box if you will submit a PR to fix this issue. Please read CONTRIBUTING.md.
- [X] Assign me, please!

[2020-05-21 16:10] ThunderSon commented on #488
Go ahead! @rcorsi Thanks :)

[2020-05-21 16:38] rcorsi commented on #488
Will do. Thank you.

[2020-05-23 21:34] rcorsi commented on #488
Thanks for the commit.

[2020-05-23 21:38] rcorsi commented on #488
I meant merge.  :-)

[2020-05-23 22:23] #488 closed

[2020-06-03 15:51] themayursinha commented on #261
Is it going to be released in WSTG v5?

[2020-06-03 15:57] ThunderSon commented on #261
Hello @themayursinha!
This task is somewhat going to be a bit bigger. Since we since such a huge opportunity out of this, a project is currently being run in parallel to map out requirements, test guides, code advice, standards, policies, etc.
This project is the [Integration Standards Project](https://owasp.org/www-project-integration-standards/). We are looking to have some sort of an MVP in the

[2020-06-04 08:17] #451 closed

[2020-06-05 13:08] ThunderSon opened #492 "Study of API Testing"
**What would you like to happen?**
APIs come in different flavors, REST, SOAP, GraphQL, etc.
To simply say API Testing, that's a little bit ludicrous, and be broken down better.

What do you think? I believe this can handle a call, or maybe trying to plan it out and then combine our ideas in one thread to see what would work best.

Pinging the API Security team to get their feedback on this in ord

[2020-06-05 18:49] Abhi-M opened #493 "Web app security testing with browser dev tools"
In the following document, I have outlined techniques for using dev tools on popular browsers to perform some web app security tests - [getmantra.com/web-app-security-testing-with-browser](https://getmantra.com/web-app-security-testing-with-browsers/).

**Why?**
- Developers are more likely to be familiar with browser dev tools instead of proxies. So, it is better to use browser dev tools for demo

[2020-06-05 19:02] kingthorin commented on #493
Well it would either have to be added an an appendix, or broken up and fit into the proper sections.

We do already have some coverage for cache, cookies, and localstorage with regard to devtools but it could probably be improved.

[2020-06-07 09:37] ThunderSon commented on #493
That was my same thought. It could fit as an appendix, as it is a quick guide to do it. Breaking it down into the sections could be done, but I still find value in having it on its own. Lots of people search on how to simply do tests using browsers and that could help.

[2020-06-07 09:54] rejahrehim commented on #493
Adding detailed section in Appendix and linking those sections to appropriate chapter section will be a good option.

[2020-06-07 10:42] kingthorin commented on #493
@Abhi-M are you up for tackling this and adding it as an appendix?

[2020-06-07 13:06] kingthorin opened #494 "repo: Implement 'textlint terminology'"
https://github.com/sapegin/textlint-rule-terminology

Start with a stripped down version of:
https://github.com/sapegin/textlint-rule-terminology/blob/master/terms.json

Consider:
- [x] ~https://github.com/OWASP/wstg/pull/491~
- [x] ~https://github.com/OWASP/wstg/pull/487~
- [x] https://github.com/OWASP/wstg/pull/477
- [x] https://github.com/OWASP/wstg/pull/468
- [x] https://github.com/OWASP/wstg/

[2020-06-09 07:37] ThunderSon commented on #494
Is this good to close, or are we looking to monitor an additional PR to see how it behaves?

[2020-06-09 11:43] kingthorin commented on #494
There's still more to tackle, I'll add some details later today.

[2020-06-09 18:28] Abhi-M commented on #493
Sure. I will add it to the appendix. Thanks.

[2020-06-10 17:21] raphaelhagi opened #497 "Translation to pt-BR"
Hello there,

Me and some other friends just started a new forked repo for a translation for brazilian portuguese.

https://github.com/raphaelhagi/wstg

We think this translation will be helpful for a bunch of developers and security professionals in our country.

[2020-06-12 23:38] telekomancer opened #499 "Spanish Language"
**Translation Support**
There is a possibility to add some kind of support to internalization (like .po files) to the entire proyect and framework, with that i think that is possible to make a bigger community, we have a lot of people that can help to translate to another languages (spanish, for example, latam region) and contribute to the project itself.

[2020-06-13 01:12] kingthorin commented on #499
Thanks, this is the second translation inquiry this week. Here’s the relevant bit of response from the other ticket:

[2020-06-13 01:19] telekomancer commented on #499
Thanks for your reply @kingthorin, i was thought in something like a "verified" user or someone at WSTG project that can verify the uploads, and commit the changes, i think that we are able to translate the entire project, with time obviously, and for example, use the "stars" mechanism to make a kind of "voting" about translation, do you have some other idea ?

[2020-06-14 11:22] kingthorin commented on #494
Sorry I never added the details, however I think it's all been addressed as either part of OWASP/wstg#496 and subsequent PRs that have been subject to the action.

[2020-06-14 11:28] kingthorin commented on #7
@RiieCco are you going to be able to tackle this?

[2020-06-14 11:28] kingthorin commented on #8
@vermava any luck putting something together as you mentioned earlier?

[2020-06-14 11:33] kingthorin commented on #14
@tolo7010 if you're ready to tackle this please proceed with the outline that's been suggested elsewhere:

[2020-06-14 11:33] kingthorin commented on #15
@tek911 any news/progress?

[2020-06-14 11:34] kingthorin commented on #264
@y-mehta are you going to be able to tackle this?

[2020-06-14 11:34] kingthorin commented on #265
@DomKoe are you going to be able to tackle this?

[2020-06-14 11:34] kingthorin commented on #268
@hazanasec are you going to be able to tackle this?

[2020-06-14 11:35] kingthorin commented on #360
@jespunya are you going to be able to tackle this?

[2020-06-14 11:36] kingthorin commented on #374
@pr1malbyt3s are you going to be able to tackle this?

[2020-06-14 11:36] kingthorin commented on #376
@rejahrehim are you going to be able to tackle this?

[2020-06-14 11:37] kingthorin commented on #465
@Hsiang-Chih are you going to be able to tackle this?

[2020-06-14 11:39] kingthorin commented on #494
I'm going to close this. If any issues come up with the action just open an issue or hit me up on slack.

[2020-06-14 13:39] Hsiang-Chih commented on #465
Yes working on it. Thanks to remind me again

[2020-06-15 08:44] PauloASilva commented on #492
Thanks for pinging.
I do agree we can do a better job breaking the API Testing per "API flavor".

Since GraphQL is getting lots of attention, I suggest starting with this one, followed by REST and SOAP. I think we should leave the door open to other flavors such as JSON-RPC, ...

What's the plan?

Cheers,
Paulo A. Silva

[2020-06-15 09:54] ThunderSon commented on #492
I agree with that, as GraphQL is the least documented attack vector between them.

What I have in mind is this:
1. Create the issues, with priorities (GQL -> REST -> SOAP)
2. Create an outline on the test scenario.
3. Divide the work between the possible attack vectors for every scenario in order to be tackled by contributors (whether it was from our side, or yours, if it's of interest to you).

I

[2020-06-15 09:56] ThunderSon commented on #15
I believe this is safe to unassign as this the second call

[2020-06-15 14:33] hazanasec commented on #268
@kingthorin I'm about half way through, was slowed down by personal things

[2020-06-15 14:57] kingthorin commented on #268
No worries, was just checking in. Life happens 👍

[2020-06-16 07:15] Hsiang-Chih commented on #465
@kingthorin I have done the updated version. How can I submit for review? refer to the attached
[1-Penetration_Testing_Methodologies.txt](https://github.com/OWASP/wstg/files/4784978/1-Penetration_Testing_Methodologies.txt)

[2020-06-16 07:45] ThunderSon commented on #465
Hi @Hsiang-Chih
I will provide you with the steps in the most frictionless fashion:
1. Delete your fork and create a new fork of the project.
2. [Create a new branch](https://help.github.com/en/desktop/contributing-to-projects/creating-a-branch-for-your-work)
3. Go to the directory -> `wstg/document/3-The_OWASP_Testing_Framework/1-...` It's going to be on the following URL once you fork: https://g

[2020-06-16 20:37] pr1malbyt3s commented on #374
@kingthorin Yes- will try to be done between now and end of next week.

[2020-06-17 00:23] kingthorin commented on #258
On it 👍

[2020-06-17 07:03] johanna-a commented on #463
This is (hopefully) about to be implemented with PR #480 which turned into #502

[2020-06-17 07:58] Hsiang-Chih commented on #465
to create a branch I will need collaborator permissions on a repository?  Do I have the permission? @ThunderSon

[2020-06-17 08:02] Hsiang-Chih commented on #465
"Delete your fork and create a new fork of the project."   I can't find anyway to delete the my fork on the web UI.     Do you mean delete my fork this one?  "https://github.com/Hsiang-Chih/wstg" and create a new fork of the project. "https://github.com/OWASP/wstg" ?

[2020-06-17 08:12] Hsiang-Chih commented on #465
It helps. I have submitted the pull request for your review. thanks.

[2020-06-17 10:11] Hsiang-Chih commented on #183
"4.12.9 Testing for Clickjacking"
For the testing instructions, I think, it was provided. i.e. below.
Do you mean instead of the whole section description, it's suggested to list step 1, step 2....?

**Suggested Tests**
Step 1: Create a HTML "ClickJacking.html" with your target testing website as below.

   <body>
        <iframe src="http://www.target.site" width="500" height="500"></iframe>

[2020-06-17 10:26] JustAMurph opened #507 "Fix grammar in Test HTTP Strict Transport Security"
**What would you like added?**
Fix typo:
The HTTP Strict Transport Security (HSTS) feature lets a web **application to inform** the browser,

to:

The HTTP Strict Transport Security (HSTS) feature lets a web application inform the browser,

Remove comma to remove 'pause' mid sentence:
The HTTP Strict Transport Security (HSTS) feature lets a web application to inform the browser **,** through

to:

[2020-06-17 10:26] Hsiang-Chih commented on #7
For serialization issue, there are blackbox and whitebox  approaches.
Refer to the section I have done for the CheatSheet. Let me know any section I can help to add?
[Deserialization_Cheat_Sheet.html](https://cheatsheetseries.owasp.org/cheatsheets/Deserialization_Cheat_Sheet.html)

[2020-06-17 10:32] Hsiang-Chih commented on #6
"how a tester can write programmatic test cases as a form of output, that developers can re-run to determine if an issue has been fixed."?
I can help if it's the "BDD Security testing". It will require the integration of BDD framework.
However, is the topic "How to do Behavior-Based Driven Security Testing" what OWASP testing guide would like to add?

i.e. By applying the BDD security, and testing

[2020-06-17 10:39] Hsiang-Chih commented on #8
There are blackbox & whitebox approaches to test the XXE.
For a large scale projects, it's recommended to do whitebox source review based on specific API.
Refer to my previous work XXE CheatSheet.  Let me know if I can do any help to add any contents for the testing guide.

[https://cheatsheetseries.owasp.org/cheatsheets/XML_External_Entity_Prevention_Cheat_Sheet.html](https://cheatsheetseries.owa

[2020-06-17 10:54] #507 closed

[2020-06-17 12:48] kingthorin commented on #493
I haven't watched this yet but you might be interested in it and there might be some tidbits worth adding or maybe just include it as a reference. The BHIS guys tend to know their stuff so I figured it couldn't hurt to pass along: https://www.blackhillsinfosec.com/webcast-free-tools-how-to-use-developer-tools-and-javascript-in-webapp-pentests/

[2020-06-17 13:30] JustAMurph opened #509 "Simplify sentence structure in Test HTTP Strict Transport Security"
**What would you like added?**

The current sentence is a little long winded. Simplify the sentence while leaving the message in tact.

Change:
Testing for the presence of the HSTS header can be done by checking for the existence of the HSTS header in the server's response in an interception proxy, or by using CURL as follows:

To:
The presence of the the HSTS header can be confirmed by examining

[2020-06-17 13:37] kingthorin commented on #509
You don't need to open a new issue for every little thing. You can bundle up a bunch of changes and just submit a PR. There's no reason this couldn't have been done as part of the other submission.

Unless you're going to be working on it for days/weeks and are worried about conflicts.

[2020-06-17 13:38] kingthorin commented on #509
Also you should not use the "Add New Content" issue template for fixes/revisions....

[2020-06-17 13:39] JustAMurph commented on #509
Thank you. Will correct these issues in future.

Didn't expect to do another one at the time of the other submission.

[2020-06-17 14:12] kingthorin commented on #509
Alrighty, thanks!

[2020-06-17 17:44] #463 closed

[2020-06-17 18:03] ThunderSon opened #510 "Update WSTG IDs after Merging INPV-03"
After #502 , we need to update the ID tables in order to remove INPV-03 and fix the later ones.

Should this issue be left open till the end of 4.2 and update the tables before release?

[2020-06-17 18:20] kingthorin commented on #510
There was also: https://github.com/OWASP/wstg/pull/485

[2020-06-17 18:28] ThunderSon commented on #7
Looking at the CS, that CS should belong in this project. It's purely offensive.
@rbsec @kingthorin what are your thoughts on this?

[2020-06-17 18:33] #465 closed

[2020-06-17 18:45] kingthorin commented on #7
It ends with some offensive references but the majority of the article is about Deserializing Safely (from my skim of the content).

As for white vs blackbox. Although code review is mentioned in the TG it isn't really "testing", so blackbox is probably more applicable (ex: ways you'd identify and exploit during a penetration test or leveraging DAST).

[2020-06-17 18:57] rbsec commented on #7
The black/white box review stuff doesn't really belong, but there's a load of defensive stuff for Java and .NET.

It could certainly do with a cleanup, but I think it still has a place the in the cheat sheets project.

[2020-06-17 20:47] ThunderSon commented on #7
Lovely. This is something we can look at. (Rick it's not porting the whole CS)

Getting data from that CS for the WSTG, and refreshing the focus and look of the Deserialization CS.

[2020-06-17 21:58] kingthorin commented on #7
Sounds good 👍

[2020-06-17 23:32] Hsiang-Chih commented on #7
1. "How to test for Deserialisation of Untrusted Data" Is there any existing section or it will be a new section?

2. agree that the whitebox review can't verify the deserialization results, it can only narrow the scope

[2020-06-17 23:57] Hsiang-Chih commented on #317
After comparing these two, I think, the existing testing guide has covered the session testing scenarios.
[esorics19.pdf](https://github.com/OWASP/wstg/files/4146775/esorics19.pdf)

Refer to - [4.6 Session Management Testing]
(https://github.com/OWASP/wstg/blob/cf65e4592678a3df267abc1fdca1e695e56355da/document/4-Web_Application_Security_Testing/06-Session_Management_Testing/README.md)

[2020-06-18 08:47] ThunderSon commented on #7
This needs to be added. I am getting vibes of adding this to Business Logic Testing, as it's on an object level and how processing is going to handle the object. If not, we downgrade to Input Val Testing
@kingthorin let me know what you think.

[2020-06-18 12:59] kingthorin commented on #7
To me it's an Input Validation issue. Business Logic is more specific for things like improper handling of pricing, rebates, HR processes, orders, manufacturing, etc.

[2020-06-20 14:04] y-mehta commented on #264
@kingthorin Sorry for the delay :) I'm almost half the way and PR will be ready by next weekend.

[2020-06-22 01:04] victoriadrake commented on #510
We can do this in v5, with #253.

[2020-06-22 05:38] Hsiang-Chih commented on #262
@kingthorin
I will help  to update the SKF labs & testing tools into the target -
https://github.com/OWASP/wstg/blob/master/document/4-Web_Application_Security_Testing/07-Input_Validation_Testing/05-Testing_for_SQL_Injection.md

[v] Assign me, please!

[2020-06-22 06:57] Hsiang-Chih commented on #351
@kingthorin
I can help, but I am thinking where/which section we may add the information? Any advices?

Reference
[REST_Security_Cheat_Sheet](https://github.com/OWASP/CheatSheetSeries/blob/master/cheatsheets/REST_Security_Cheat_Sheet.md)

[REST_Assessment cs](https://github.com/OWASP/CheatSheetSeries/blob/master/cheatsheets/REST_Assessment_Cheat_Sheet.md)

[2020-06-22 07:17] ThunderSon commented on #351
@Hsiang-Chih This will be part of #492
Let's discuss this there and see how things can be structured.
We can create a section for API testing that will contain them, we'll have to review the identifiers and how this can be smooth in terms of usage.
If you're willing to lead on the REST effort, I don't mind having it in parallel.

[2020-06-22 09:43] kingthorin commented on #262
That was just one example, the ticket is open to attach them everywhere they are applicable.

We also need to decide how/where it should be done.
* ID table?
* Reference list?
* Some new construct?

[2020-06-25 07:51] scalzava commented on #317
Hi Hsiang-Chih, there are certainly connections between the two documents, most notably because the security best practices are well known. However, I also think there are two important differences, which should be considered for inclusion in the Testing Guide:

1. Focus on testing. The OWASP Testing Guide provides recommendations such as "all cookies should be marked Secure". Of course, this is a

[2020-06-25 13:06] ThunderSon commented on #317
@scalzava I am interested to see if you'll be able to tackle this topic. You mainly opposed the Cookie Attributes page. I read the paper, it's interesting that it discusses the different aspects of every attack, how to model and look at them, and the steps required to tackle it. How would you see this implemented in the project? I can try and help set this in and then see how it looks, or what cou

[2020-06-25 13:22] fransvanbuul opened #515 "Fortify missing from commercial tools in Appendix A"
Hello,

First of all, full disclosure: I work for Micro Focus Fortify as a presales representative.

Appendix A as a testing guide mentions both open-source and commercial testing tools. Fortify is one of the leading commercial application security testing tool suites. It is, for instance, in the Gartner MQ Leader Quadrant for application security testing. However, it is missing from the list in A