[2020-06-25 13:37] #515 closed

[2020-06-25 17:34] scalzava commented on #317
@ThunderSon thanks for your interest!

My availability is fairly limited, but I can try to find some time and maybe a couple of students to help with this. If you can help kickstarting the process, I guess it's going to be easier for me. Providing content is not going to be super complicated, considered we already have a paper... the hard part is getting familiar with the TG and finding the right

[2020-06-25 20:11] ThunderSon commented on #317
Sure thing. Hit me up on elie.saad@owasp.org when possible.
I should be able to create a rough overview or plan in the coming days, unless anyone beats me to it :)

[2020-06-27 11:17] ThunderSon commented on #267
Will be tackled in the above mentioned issue.

[2020-06-27 11:17] #267 closed

[2020-06-27 11:39] ThunderSon commented on #317
Doing a closer review, @scalzava Session Hijacking is mentioned inside of the Session Fixation attack. That is definitely a place to expand this attack further! Threat models are a lovely addition that I am more than happy to welcome.

I'd say you were a bit rough in the way you reviewed the `Secure` attribute mention, despite you delivering a sane point. In 4.6.2, we clearly mentioned that based

[2020-06-29 11:21] scalzava commented on #317
Hi, thanks for the extra feedback! I'll try to get a student in the loop :) I can also help, the only problem is finding some spare time... I'll drop you a line by email

[2020-06-29 21:47] jespunya commented on #360
@kingthorin I still think that it would be interesting, but I don't have a clear idea about how to address it.
What would be your idea? Maybe a subsection of the section 5 (Reporting) exposing what's Naming, it's usages and limitations and a introduction to the CPE, Package URL & SWID proposed by @stevespringett? Any other idea?

[2020-06-29 21:56] jespunya opened #520 "Merge the sections 4.7.11.1 & 4.7.11.2"
**What would you like to happen?**
The sections  4.7.11.1 Testing for Local File Inclusion & 4.7.11.2 Testing for Remote File Inclusion address two attack vectors that are very similar one to the other. Given this situation and the few documentation on the Remote injection one, my proposal would be to merge both in a single section called Testing for File Injection.

[2020-06-29 22:18] jespunya commented on #7
I agree with @kingthorin this is more regarding about Input Validation since it's the abuse of unexpected inputs to perform an action not desired or authorized. Commonly the impact would be a Business Logic exploitation but that's not a must condition. For example you can have an XML bomb that would be part of the deserialization of untrusted Data and results in a DoS instead of the manipulation o

[2020-06-30 00:09] victoriadrake commented on #520
Thank you @jespunya! Are you willing to tackle a first draft of this?

[2020-06-30 13:28] jespunya commented on #520
I can do it if there is consensus about it

[2020-06-30 22:23] kingthorin commented on #520
I haven't looked at the content yet. But these are level 4 sections so the separation does actually represent two topics (IDs) but does make things easy for editing/maintenance. If there's some benefit to merging them then go for it, but if it just creates a ridiculously monolithic page then it might be better to keep it small and more easily maintainable.

(There are actually parts earlier on in

[2020-07-01 06:49] jespunya commented on #520
Totally agree about the Injection --> Inclusion. It was my mistake, I wrote it too fast.

[2020-07-01 07:33] ThunderSon commented on #520
This adds on Rick's comment. These 2 scenarios have no IDs, so are not a big issue in terms of structure.

My question to you @jespunya would be the following:
If we go ahead and merge them all into one section (Code Inclusion or whatever we decide on naming it), how will the testing steps be defined, how will the recommendations be, and will they be properly separated? Or will there be some sort

[2020-07-01 07:38] ThunderSon commented on #7
Mhm, agreed. I had a discussion back then with @kingthorin and we agreed on it being in Input Validation.
@Hsiang-Chih to answer you (apologies), this will have to be a new section.

[2020-07-01 07:41] ThunderSon commented on #360
I would scrap CPE as it's going to be deprecated and move forward with it. @stevespringett what would you advise for this call?

[2020-07-01 07:48] ThunderSon commented on #262
SKF mapping will not happen as such.
SKF guides will be merged into WSTG, and referenced from SKF. SKF is a KB.
@RiieCco Would you like that @Hsiang-Chih give a hand? :)

[2020-07-01 16:26] stevespringett commented on #360
CPE will be around for a few more years. The NVD will be supporting it while they migrate to SWID and commercial sources of vulnerability intelligence (VulnDB, Secunia, etc) continue to support it. So for the foreseeable future, I would include CPE, SWID, and PURL.

https://cyclonedx.org/use-cases/#known-vulnerabilities has some recommendations on which of these three to use based on the type of s

[2020-07-01 18:41] jespunya commented on #360
Thanks @stevespringett I will try to make a first version  during the following days so we could have something more specific to talk about it.

[2020-07-01 19:03] jespunya commented on #520
@ThunderSon I didn't think on those details. My idea was just a big picture proposal.

Even though, I agree with you that the different tests should be in some how separated.

Maybe we could have a structure such as:
- What's file inclusion as general concept
- Difference between Local & Remote File Injection as  different attack taxonomy vectors
- Deep exposure of the LFI
- Deep exposure of the R

[2020-07-02 08:02] ThunderSon opened #522 "Status Tab in WSTG Checklist"
**What would you like to happen?**
Add a new tab, Status tab, to the WSTG Checklist both in the Reporting section and the Checklists folder

[2020-07-03 05:03] ThunderSon commented on #360
@jespunya if you require any help or support, ping away :) Thanks for tackling this!

[2020-07-03 11:41] #258 closed

[2020-07-07 14:33] LCraddock opened #523 "Missing category in list"
The list of 11 sub-categories of Active Tests only has 10 items.
Information Gathering is missing from the list.

[2020-07-07 14:38] kingthorin commented on #523
Issue transferred from www repo to project repo.

[2020-07-07 14:52] eleumasc commented on #317
Hi, I would join the contribution team for this issue.

[2020-07-07 14:54] AlessiaMichelaDiCampi commented on #317
Hi, I would be happy to participate in the issue

[2020-07-07 14:55] kingthorin commented on #317
Great, thanks you both!

[2020-07-07 15:05] kingthorin commented on #523
I believe this is the part that @LCraddock is referring to: https://github.com/OWASP/wstg/tree/master/document/4-Web_Application_Security_Testing/00-Introduction_and_Objectives#active-testing

[2020-07-07 19:40] #523 closed

[2020-07-09 14:16] ThunderSon commented on #520
The idea that all of these follow is code injection. It happens in various ways and methods. If you want, just as a visualization effort to just try to cram them all under one file.
What do you feel like doing about this? Let me try to understand better how we can work on this effort.

What you're proposing could definitely be needed. The Section 4.11 is not a biggie or anything of important. 4.11

[2020-07-09 14:18] ThunderSon commented on #492
Work has started on the GraphQL Cheat Sheet.
Once that is done, I believe effort will come over to this side to write to the offensive part.

[2020-07-09 15:25] kingthorin commented on #494
Re-opening so that I don't forget to deal with "client side" and "server side".

Ref: https://twitter.com/owasp_wstg/status/1281245964888608769

[2020-07-14 13:50] #494 closed

[2020-07-15 08:19] ThunderSon commented on #261
As this is the work of another project, this will be closed and tracking should follow with the other project :)

[2020-07-17 01:51] patrickceg commented on #419
It looks like there were some changes since the last time I saw this, but I can take another look at the article and see if it still needs restructuring. You can assign the task to me to review the current state of the article.

(My limited knowledge on the topic is catching teams making what they think are protected services when they ask username and password and the entire server is HTTP and cl

[2020-07-17 20:48] patrickceg commented on #419
Okay... I did my initial pass through the article, and I have some questions:

About the article as a whole: Is there ever a reason to use HTTP without the S in production in 2020 other than big downloads that get verified after they make it to the client (i.e. Linux package updates)?

* Any modern browser will give you the insecure flag on the address bar if any content of your site is HTTP which

[2020-07-20 18:50] kingthorin commented on #419
Hey @patrickceg thanks for looking in to this.

I'd be fine with this being respun a bit.

I'm not sure we're worried about network compromise, I think it can generally be said if you're trusting your traffic to a network that's untrustworthy there are plenty of bad things that can happen.

It doesn't have to be limited. Nearly everyone that does web app testing uses a proxy, however, as you're po

[2020-07-23 07:18] fransvanbuul opened #529 "Fix link to Fortify products in Appendix A"
**What's the issue?**
In issue #515, PR #516, Micro Focus Fortify was added as a commercial scanning product in Appendix A.

The included link was to https://www.microfocus.com/en-us/products/application-security-testing/overview. However, this is not the right link, as it links to one specific part of Fortify (Fortify-on-Demand). It's not the best landing page for users of the guide.

**How do we

[2020-07-23 12:38] #529 closed

[2020-07-23 20:55] telekomancer commented on #499
Maybe this issue, @kingthorin can be helped to spanish people, like latin americans, spains, and so on

[2020-07-23 20:59] patrickceg commented on #419
The reason I mentioned Wireshark or other tools is I'm not sure how you would test a web app running on a mobile device or other platform where you can't conveniently have a whole debugging panel (again thinking about the web pages that present a completely different experience to a phone which may or may not mean communication with the back-end is also different).

I'm open to ideas on how you te

[2020-07-23 21:10] kingthorin commented on #499
There are a few options/mechanisms being considered. Thanks for your continued interest/support.

[2020-07-23 21:16] kingthorin commented on #419
The options I've seen for mobile usually involve one or many of:

* Manipulating user agents.
* Using mobile device emulators.
* Responsive design mode.
* Networking manipulation to send traffic to ZAP/Burp/Charles/Fiddler.

Anyway, I'm happy for wireshark etc to be included just keep in mind this is a single test scenario.

[2020-07-26 19:25] patrickceg commented on #419
Does anyone know of a good site where I can test fake logins? For my changes to the article, I'm going to need logs of ZAP recording all the interactions of logging in to a site. (i.e. POSTing the credential and getting back a token or cookie) If I need to set up locally, then I plan to spin up a local MediaWiki server with HTTPS and capture interactions with that. (I figured MediaWiki would have

[2020-07-26 19:56] kingthorin commented on #419
You could use the one click Heroku deploy of Juice Shop: https://github.com/bkimminich/juice-shop#deploy-on-heroku-free-0month-dyno

[2020-07-28 13:22] rbsec opened #532 "Updates to malicious file upload testing"
**What's the issue?**
Reading through the [malicious file upload testing](https://github.com/OWASP/wstg/blob/master/document/4-Web_Application_Security_Testing/10-Business_Logic_Testing/09-Test_Upload_of_Malicious_Files.md) guide there are a few issues:

* Broken link to EICAR
* No warning that leaving world accessible web shells is a _really bad idea_.
* Random third party domain used in examples

[2020-08-04 10:08] ThunderSon commented on #492
An attack that was disclosed just today on Twitter's GraphQL:
https://hackerone.com/reports/885539

[2020-08-04 10:16] ThunderSon opened #535 "Hackerone and Bugcrowd Links"
**What would you like to happen?**
What do you think about adding to every test scenario possible bug bounty reports that are relevant and provide value.
One example would be for file upload XSS since we are updating it: https://hackerone.com/reports/880099

CC: @rbsec @kingthorin

[2020-08-04 10:46] kingthorin commented on #535
I'd be good with that, any reference source seems fine/logical to me.

[2020-08-04 11:15] PauloASilva commented on #492
Nice one.

We (me and @dsopas) will present and discuss two GraphQL issues we've found recently as part of our DefCon AppSec Village talk: [API (in)Security TOP 10: Guided tour to the Wild Wild World of APIs](https://www.appsecvillage.com/agenda/2020/api-in-security-top-10-guided-tour-to-the-wild-wild-world-of-apis).

Since DefCon is in Safe Mode, you'll be able to watch this and all other talks a

[2020-08-04 11:16] PauloASilva commented on #492
Nice one.

We (me and @dsopas) will present and discuss two GraphQL issues we've found recently as part of our DefCon AppSec Village talk: [API (in)Security TOP 10: Guided tour to the Wild Wild World of APIs](https://www.appsecvillage.com/agenda/2020/api-in-security-top-10-guided-tour-to-the-wild-wild-world-of-apis).

Since DefCon is in Safe Mode, you'll be able to watch this and all other talks a

[2020-08-04 11:23] ThunderSon commented on #492
Sounds lovely! Looking forward to it :)

[2020-08-04 15:07] kingthorin opened #536 "Check/Tweak MiTM Refs/usage (textlint & content)"
May as well align on "manipulator-in-the-middle":

Ref:
- https://twitter.com/psiinon/status/1290229663713726467
- https://github.com/zaproxy/zap-core-help/pull/315

[2020-08-04 17:07] rbsec commented on #535
I could see some value to an giving some references to examples of the issue, but I think it'd need to be carefully curated. The examples would have to be well written (both in terms of technical content and style), and should be relatively straightforward examples of the issues. While it's interesting to link to really obscure or clever vulnerabilities, it's probably not very useful for most read

[2020-08-07 12:14] 1160301013 opened #540 "the content of this link is unrelated"
**What and where?**
Please give the broken URL. Where is the link located?

The bad URL is <http://www.encription.co.uk/downloads/more_advanced_sql_injection.pdf>. It is not broken. But when I clicked it, an unrelated webpage was opened. The URL is in [this article](https://owasp.org/www-project-web-security-testing-guide/stable/4-Web_Application_Security_Testing/07-Input_Validation_Testing/05-Tes

[2020-08-09 08:07] bhaskar-codes-121 commented on #540
I can help with this.

[2020-08-09 16:35] bhaskar-codes-121 commented on #540
@kingthorin Please review. #541

[2020-08-09 17:27] #540 closed

[2020-08-09 23:54] patrickceg commented on #419
It definitely took longer than I wanted, but I finally have my pentesting box pointed at a target to gather ZAP logs. (I'm noticing the effects on my concentration from the infamous global event this year... I just lost two hours due to a fumble with root privileges on one of my lab machines.)

Anyway for the task:

I'm going to first try getting the necessary data for a test case failure logging

[2020-08-12 07:09] #536 closed

[2020-08-14 09:40] jeremychoi commented on #261
While this was closed and there was the other project, I've created https://github.com/jeremychoi/owasp-asvs-wstg-checklist which would be relevant to this issue.

[2020-08-14 10:28] ThunderSon commented on #261
@jeremychoi this is different! I love it. @kingthorin this is something we should look into taking in.

Why this is different?
This allows the attacker and the reviewer to understand the level of coverage, and their stance overall, which is different from simply mapping everything together!
The new project will map things out, but not give smart information (yet) :)

I'll await Rick's comments, on

[2020-08-15 00:12] kingthorin commented on #493
On it!

[2020-08-15 22:58] victoriadrake opened #546 "Support for GitHub Codespaces"
**What would you like to happen?**

[Codespaces](https://docs.github.com/en/github/developing-online-with-codespaces/about-codespaces) is in limited beta. I'd love to add a configuration to our project as this feature will allow new contributors to quickly and easily get started on issues.

[2020-08-17 14:55] DomKoe commented on #265
This is also tackled in #467  We can also again put this into separate PRs once #467 was reviewed.

[2020-08-18 01:09] jeremychoi commented on #261
@ThunderSon  I see. Thanks. If the files could be added to this repo, that would be great.  One thing I am not sure about is if there is something to be done with regards to the license(MIT) of the spreadsheet file. I created them based on https://github.com/shenril/owasp-asvs-checklist and added the WSTG mapping information to it. Your help would be appreciated on that.

[2020-08-18 15:52] ThunderSon commented on #546
I did love the new tool coming out, yet I believe it's gonna be behind a paywall (from the release of it).

I am not sure it's that interesting to add to the project, especially that it might carry with it bugs.
What do you think @kingthorin ?

[2020-08-18 15:56] victoriadrake commented on #546
Bugs? Can you elaborate?

[2020-08-18 15:58] ThunderSon commented on #546
It's in Beta. There are no promises for it to be stable, not contain bugs/issues, and you know things that come along with a Beta release.

[2020-08-18 16:02] ThunderSon commented on #532
This was closed in #533

[2020-08-18 16:02] #532 closed

[2020-08-19 03:12] patrickceg commented on #419
Hmm I just started testing, and Juice Shop with intentionally misconfigured nginx providing HTTPS but not properly rejecting sensitive HTTP will work great as a "fail" case.

However I'll have to set up a "pass" case where even if I deliberately force HTTP login by making OWASP ZAP or similar tool replay the request for the login or "I forgot my password" page over HTTP without the S, the server r

[2020-08-19 08:53] ThunderSon commented on #419
@patrickceg from my understanding, you're running nginx correct? It's pretty straight forward with a couple of lines:
[code]

For the cookie bit, they need to be set with the `Secure` directive in order to enforce TLS usage for them.
For the nginx redirection, if you only want it for a certain URL, we'll need to create a location under the `server` block of `port 80` and it's easily doable as well

[2020-08-20 00:32] kingthorin commented on #499
@telekomancer could you have a look at [GitLocalize](https://gitlocalize.com/) and let me know what you think?

It seems to be used by some large projects. I did some quick tests with it this evening on a temporary repo and it seems like it could help us here.

[2020-08-20 00:33] kingthorin commented on #497
@raphaelhagi  could you have a look at [GitLocalize](https://gitlocalize.com/) and let me know what you think?

It seems to be used by some large projects. I did some quick tests with it this evening on a temporary repo and it seems like it could help us here.

[2020-08-20 00:39] telekomancer commented on #499
I think that could be a good option. Lets take it and see what happens

[2020-08-20 11:53] kingthorin commented on #497
There's a two min intro video here that covers the basic workflow: https://www.youtube.com/watch?v=b09LDukIJiU

[2020-08-20 11:53] kingthorin commented on #499
There's a two min intro video here that covers the basic workflow: https://www.youtube.com/watch?v=b09LDukIJiU

[2020-08-20 12:10] victoriadrake commented on #546
Oh, I understand. GitHub Codespaces is in beta, however VS Codespaces (formerly Visual Studio Online) itself has been around a while, if that helps to assuage concerns: https://visualstudio.microsoft.com/services/visual-studio-codespaces/

Do you mean you'd prefer to discourage its use? Adding the devcontainer.json settings for codespaces won't introduce any bugs to our repo on their own.

[2020-08-20 12:41] #546 closed

[2020-08-20 13:03] telekomancer commented on #499
Looks good.

But i think that the repo should belong to me ... in this case, "https://github.com/OWASP/wstg", no ?

[2020-08-20 13:04] kingthorin commented on #499
If we're agreed on the mechanism then the WSTG core team will set it up and can then specify moderators per language via GitLocalize.

[2020-08-20 13:07] telekomancer commented on #499
I think that it's a good idea, if you see, there are some request like me to translate to native locale to many of us, so we want to help to do it.

From my side, GitLocalize looks a good tool.

[2020-08-20 13:12] kingthorin commented on #499
Thanks, I"m waiting for some feedback from the core team but hope to get this setup shortly. Will update the translation tickets once things are ready to go.

[2020-08-20 13:13] telekomancer commented on #499
Perfect. I'll be here =)

[2020-08-20 16:51] kingthorin commented on #261
Sure I guess I'm fine with it being added as a checklist artifact. It would be really nice if it was a non-proprietary format like tsv, csv, etc instead of XLS/XLSX though. If it has to be maintained/offered as an Excel file then it should be done similar to the existing one (specifying the hash and other info).

[2020-08-20 18:13] kingthorin commented on #499
@telekomancer are you good with being a Moderator for the Spanish translation? (Ex: review translation contributions via GitLocalize and open PRs for WSTG?)

[2020-08-20 18:37] telekomancer commented on #499
Would be an honor to me.

[2020-08-20 18:45] kingthorin commented on #499
Okay you should be set:
https://gitlocalize.com/repo/5220/

[2020-08-23 19:37] #493 closed

[2020-08-24 19:22] ThunderSon opened #551 "Cryp-01 Rewrite"
**What's the issue?**
The [WSTG-CRYP-01](https://github.com/OWASP/wstg/blob/master/document/4-Web_Application_Security_Testing/09-Testing_for_Weak_Cryptography/01-Testing_for_Weak_SSL_TLS_Ciphers_Insufficient_Transport_Layer_Protection.md) is old and too verbose, too unusable from a testing perspective

**How do we solve it?**
Clearly section it to test for the weaknesses in the protocol implement

[2020-08-24 20:27] rbsec commented on #551
Wow, that guide is.....definitely in need of a rewrite. My thoughts would be to try and align it with the [transport layer security cheat sheet](https://cheatsheetseries.owasp.org/cheatsheets/Transport_Layer_Protection_Cheat_Sheet.html), so a structure something like:

* Intro stuff
* Testing server configuration
  - Protocols
  - Ciphers
  - Other stuff (compression, etc)
* Testing certificates

[2020-08-24 20:36] ThunderSon commented on #551
In the server config I'd add in the "other stuff" the redirections issues from HTTP to HTTPS.
I like it. It covers everything in terms of ensuring TLS security.

[2020-08-24 20:42] rbsec commented on #551
I thought about that - but then the main recommendation there is going to be around implementing HSTS - and that's already a separate check (WSTG-CONF-07).

Should these checks be included here as well, or does it make more sense for it to be somewhere else?

[2020-08-25 00:31] jeremychoi commented on #261
Thanks for the comment. I'll create a csv one soon.

--
Jeremy Choi / Red Hat Product Security

On Fri, Aug 21, 2020 at 2:51 AM kingthorin <notifications@github.com> wrote:

[2020-08-25 10:34] ThunderSon commented on #551
We can directly link to it, instead of explaining it.

[2020-08-25 10:36] ThunderSon commented on #261
@jeremychoi this is not critical nor urgent. Actually this can wait enough till v5 is being prepared.
Since you poked at another issue, #492 , that one is definitely more critical if we can focus on it.

[2020-08-25 23:45] jeremychoi opened #553 "Testing GraphQL API"
**What would you like added?**
Briefly describe the topic of the new content. Is this a new section or an addition to an existing topic?

Adding a new topic on GraphQL API testing, which might be a part of API testing - https://github.com/OWASP/wstg/issues/492

Fixes OWASP/wstg#492

Would you like to be assigned to this issue?
Check the box if you will submit a PR to add the proposed content. Plea

[2020-08-25 23:55] kingthorin commented on #553
Sounds good to me.

[2020-08-26 01:24] kingthorin commented on #553
The ZAP team has a student working on GraphQL support as part of GSoC: https://akshathkothari.com/gsoc/

[2020-08-26 06:49] jeremychoi commented on #553
thanks @kingthorin, can you assign it to 1Oreo, who will provide a draft :)

[2020-08-26 10:18] kingthorin commented on #553
@10reo will need to comment here so that i can set the assignment.

[2020-08-26 10:19] kingthorin commented on #553
I can't see any such user, please have them comment on the issue.

[2020-08-27 07:13] 1Oreo commented on #553
Hey, commenting to your request, Jeremy sent me the link, I'll be contributing since we have done some research on GraphQL in the last couple of weeks. Thank you.

[2020-08-30 21:07] patrickceg commented on #419
I started out drafting the article to figure out which HTTP(S) captures I really need:

https://github.com/OWASP/wstg/compare/master...patrickceg:419-encrypted-channel-revise?expand=1

As I mentioned in the original comment that started this task, I essentially changed "Grey Box Testing" to "Remediation" because it was already worded that way.

While it may seem odd to anyone in application securi

[2020-09-01 04:23] jeremychoi commented on #553
@kingthorin  thanks. great work. we are looking at it.

[2020-09-02 12:07] kingthorin commented on #497
Seems interest in this has waned. GitLocalize has been setup for pt-BR. If someone is interested in moderating the pt-BR contributions please let us know.

[2020-09-02 12:07] #497 closed

[2020-09-02 18:08] kingthorin opened #556 "Proposal: C-Fuzz_Vectors reference based"
Transform the C appendix from a content based appendix to a reference based appendix.

It seems like a waste of space (esp in print) to include appendix C as-is. It will quickly and undoubtedly become outdated or lacking details. I think our readers would be much better served by providing a curated set of references, such as:

- [XssPayload Twitter Feed](https://mobile.twitter.com/XssPayloads)

[2020-09-10 07:10] 1Oreo commented on #553
@kingthorin I'm starting to work on the issue and wanted to ask about which folder it should reside in, as well as ID number etc'.
I can also put the file in the main folder (since I saw there are some newer files there?).
Thank you for your comments, I'll include them in the guide.

[2020-09-10 08:58] ThunderSon commented on #553
API testing is going to be a special case. If it's not going to be integrated inside of other tests, I believe the best action would be to create a new chapter, chapter 12, and plug in API testing with references possibly to other sections where need be. If a new chapter is a bad idea, but we still need it to be its own section, an appendix will have to be our go to.
What do you guys think?

[2020-09-10 12:33] 1Oreo commented on #553
@ThunderSon I agree, that is why I brought it up.
I saw a reference in issue 492[https://github.com/OWASP/wstg/issues/492](url), and if there will be more API testing with commonly used technologies, creating a new chapter which will include many APIs to test, will be the way to go IMO.
I'll create a new folder in the repo I forked and when we're done we'll see how to best place it.
Thank you for

[2020-09-10 20:31] ThunderSon commented on #556
I love this. @righettod what do you think about it? :wink:

I see the risk where links might die out, and it would still be much more resourceful than how it is.
A thing we can do maybe, if we automate grabbing the payloads from specific places, and creating a payload list to be used by fuzzers, unless that's already done, we don't need to re-create it. Yet, that'd be an additional file, not an ap

[2020-09-10 20:40] ThunderSon commented on #535
I will provide more input on this in the coming days, hopefully with an action plan.

[2020-09-11 05:44] jeremychoi commented on #553
+1 to creating a new chapter in the same way as ASVS has a separate one (V13)

[2020-09-11 05:51] righettod commented on #556
Hi, I agree that a list of ref (maintained) is better because this area
evolve quickly and it will be easier to update a ref than a whole content.
A good centralized repo for payloads dictionaries is the SecLists from
Daniel Miessler. It is actively maintained and very useful.

[2020-09-11 05:53] righettod commented on #556
Link: https://github.com/danielmiessler/SecLists

[2020-09-11 17:14] frozenSolid opened #558 "Update checklist excel spreadsheet for WSTG 4.1"
**What's the issue?**
Update Checklist excel spreadsheet for 4.1 (https://github.com/OWASP/wstg/blob/master/checklist/WSTG-Checklist_v4.0.xlsx)

**How do we solve it?**
Update using the content from https://github.com/OWASP/wstg/blob/master/checklist/Testing_Checklist.md which has been updated to 4.1

Would you like to be assigned to this issue?
Check the box if you will submit a PR to fix this is

[2020-09-12 20:10] ThunderSon opened #562 "Add a Chapter Back Button"
**What would you like to happen?**
On every page, add a link to the previous section.
So if I am in a test scenario, I will go back to the full section.
If I am in a specific section, I'll go back to the full chapter content.

I believe this improves the readability of the document on github and on the main website.

[2020-09-12 20:15] kingthorin commented on #562
`../` ?

[2020-09-12 20:16] ThunderSon commented on #562
Yep, basically.

[2020-09-12 20:21] ThunderSon opened #563 "ATHN-01 Can be removed and replaced by the Crypto Tests"
**What's the issue?**
ATHN-01 discussed authenticating over TLS, which is basically the requirements put by cryptography to ensure that communication is happening in a private and secure manner.

**How do we solve it?**
Move this test scenario or merge it with another one in the cryptography tests.

I can take care of this, no problem. I'd prefer seeing it being taken care of by someone trying to

[2020-09-12 20:47] ThunderSon commented on #419
#563 @patrickceg what do you think about this? It'll fit perfectly with the work you're doing.
It's not an agreed upon decision to make the move, I am just opening up the discussion.

[2020-09-12 21:15] ThunderSon opened #564 "ATHN-02 Testing for Default Credentials"
**What's the issue?**
Overwritten test scenario, can be summarized and link to payload lists from other repos

**How do we solve it?**
Chop down the content to the required and needed information, link to payload lists instead of enumerating all possible usernames and passwords, provide further guidance on how to test.

If no one is up to handle it, I can take care of it

[2020-09-13 07:06] ThunderSon opened #565 "GH Actions - Publish only on the main repository"
**What's the issue?**
The publishing actions are activated on all repositories.

**How do we solve it?**
Enforce that only on this repository (OWASP/wstg) deploy actions are activated

[2020-09-13 08:58] ThunderSon commented on #535
So 3 main things to handle:
- Curating reports and writeups. They need to be well written and give a great example.
- Ensure that someone isn't ripping it off from the WSTG. Visibility is us giving back to them, but not plug in whatever is thrown to the WSTG.
- Section name in the references. I'd go with "Vulnerability Writeups". What do you think? No need to have the "examples" word in it. Does v

[2020-09-13 09:31] ThunderSon opened #567 "ATHZ-01 Directory Traversal Payloads"
**What would you like to happen?**
In ATHZ-01, Directory Traversal scenario, there is a lot chit chat and payloads that are possibly outdated, could be improved, etc.

I was going around for payloads for this test, and this section was fantastic:
https://github.com/swisskyrepo/PayloadsAllTheThings/tree/master/Directory%20Traversal

What do you think would be a nice way to merge things? Should we j

[2020-09-13 09:44] kingthorin commented on #565
This is out of our control (as far as I know). If users want actions disabled on their forks they need to visit the settings page and disable them.

[2020-09-13 13:13] patrickceg commented on #419
@ThunderSon I was thinking there should be a test to say that anything that can be considered sensitive in any way should be encrypted in transit using TLS. (I specifically mention TLS because password hashing and salting is a different form of cryptography with a different set of tests).

There's definitely a lot of things other than just credentials to test are transferred over TLS, including:

[2020-09-13 15:46] ThunderSon commented on #419
I'd prefer making the remediation to be more bulleted. This looks like a lot of text.
We can make this fit properly into the guide once you bring in the commit.

@kingthorin one thing is clear from Patrick's comment. The #563 issue is going to change the order of the IDs pretty roughly.
This is now becoming into a cryptography concern, more than an ATHN one. What's your take on this?

[2020-09-13 15:54] ThunderSon commented on #565
Yep, after reading docs it's as such. If we want, we can add a certain flag (If the secret token isn't around, stop it), but I doubt that's really important. Closing it.

[2020-09-13 15:54] #565 closed

[2020-09-13 16:20] #265 closed

[2020-09-13 20:51] patrickceg commented on #419
The existing article's style had a preference for wall of text rather than lists. Are newer articles moving away from that?

Example walls of text:

[2020-09-13 20:56] kingthorin commented on #419
Don't feel stuck with anything that "is" or "was", I personally find bulleted lists easier to consume. But if a particular thing seems better as a paragraph then whatever. There isn't really a right or wrong way IMHO.

I know some questions were asked of me earlier, I'm still trying to digest and decide. If I haven't replied within a few days then please feel free to ping me.

[2020-09-13 22:55] patrickceg commented on #419
Hmm I'm seeing a case where we may want to block this task and then replace it with tasks to start building a cryptography section.

I notice we have the weak cryptography section: https://github.com/OWASP/wstg/tree/master/document/4-Web_Application_Security_Testing/09-Testing_for_Weak_Cryptography

...and there's already an article that's very close to this one in there: https://github.com/OWASP/

[2020-09-13 22:59] patrickceg commented on #419
I'd also like to add that there was one case that actually does belong more in an auth test, specifically the secure attribute/tag in cookies. (If you don't have said tag, the browser is allowed to spit out session tokens over HTTP.)

[2020-09-14 02:24] NFavareto commented on #562
Hello, as I'm new to the project, i am becoming familiar with it. I can do thos enhancement ?

[2020-09-14 02:44] kingthorin commented on #562
It can likely literally be `../`.

README.md is default on GitHub and we create new defaults as part of the automated web deployment(s).

We just need to decide where/how we want them placed.

[2020-09-14 02:50] kingthorin commented on #562
I might even propose that we don't worry about the GitHub experience at all, but just add them on the fly during web deployment. (It'll suck to have to manipulate them for the PDF production.)

However, that means we need to decide on the implementation details and also tweak the deployments for manual triggering after it's been setup and tested locally.
(Also gotta decide if we are going to try t

[2020-09-14 03:24] NFavareto commented on #562
Yes, in this moment, i thought of adding something like `[Back to previous section](../)`  in full section and `[Back to previous section](./)` in test scenario to check more quickly the efficient of this improvement.

[2020-09-14 03:34] NFavareto commented on #562
Wow, so the intention is to make this doc available on the web? Sensational! How can I give my suggestions?

[2020-09-14 07:10] ThunderSon commented on #562
Hello @NFavareto ! Our efforts were put on version 4.1 to make it web accessible.
Web link: https://owasp.org/www-project-web-security-testing-guide/

Decisions on this issue will be from @kingthorin , as he sees things from a better perspective and I am mostly in agreement to anything :yum:
He's more into "How things will map" between this repository and the web one.

[2020-09-14 12:23] NFavareto commented on #562
Hello @ThunderSon ! I agree, I will try to take one of the issues that are aimed at people who are starting to contribute to the project :smile:

[2020-09-14 13:54] #558 closed

[2020-09-14 22:08] kingthorin commented on #419
This scenario deals specifically with auth data. Other types of data and concerns around cookie details are covered elsewhere.

[2020-09-15 09:54] ThunderSon commented on #562
@NFavareto Thank you for your enthusiasm and the PR you opened! I'd be joyful to review what you contribute later on. You can start with simple tasks such as discussing certain issues that are open already, or create new ones, and from there take it to a PR if need be :smile:

[2020-09-15 11:07] ThunderSon commented on #419
@patrickceg I feel like the best thing to be done first is to see what's the progress from your side. No need to worry about #563 for now, it was just a discussion. Can you please open a PR with whatever there is ready, and we'll help with things?

[2020-09-15 13:11] kingthorin opened #570 "Add new section on Domain enumeration and CT Harvesting?"
I think we should add some domain lookup (ala amass etc) and cert transparency harvesting details to the guide.

I'm thinking of adding this to a new section like 4.1.11 but we could fairly reasonably just rename 4.1.1 and include it there (in order to maintain some semblance of workflow/order-of-operations).

So I'm looking for:

1. Thoughts on where to locate it.
2. Tools and other suggestions f

[2020-09-24 19:36] martinbydefault opened #571 "Where is Testing for Race Conditions (OWASP-AT-010) from OTGv3?"
I was trying to map **Testing for Race Conditions (OWASP-AT-010)** from OTGv3 ( https://wiki.owasp.org/index.php/Testing_for_Race_Conditions_(OWASP-AT-010) ) to the latest version but I can't find any material regarding race conditions.

[2020-09-24 19:42] kingthorin commented on #571
https://github.com/OWASP/wstg/blob/master/document/4-Web_Application_Security_Testing/06-Session_Management_Testing/08-Testing_for_Session_Puzzling.md

Looks like it was removed in 4.0: https://wiki.owasp.org/index.php/OWASP_Testing_Guide_v4_Table_of_Contents

[2020-09-24 19:48] martinbydefault commented on #571
Yes I saw that 4.0 doesn't have it.
I don't get why this was removed, given that this is a very specific issue and there are even new techniques to exploit this, for example using BURP Suite Turbo Intruder plugin (https://portswigger.net/research/turbo-intruder-embracing-the-billion-request-attack)

[2020-09-24 19:57] kingthorin commented on #571
I can't say why it might have been removed 8-10 years ago. If someone feels like reviving it I'm good with that. The 3.0 entry is awfully sparse on useful information.

[2020-09-25 08:02] ThunderSon commented on #571
I will try and review the content (from v3) and cross reference it with other locations in the guide to see where it was ported. Pretty doubtful it has been removed, more so renamed or rewritten.
Should have an answer by early next week (unless I take a surprise vacation)

[2020-09-25 09:10] ThunderSon commented on #571
Weird.
@MatOwasp might you know more on this. I was not able to find anything on this matter.

[2020-09-25 09:58] MatOwasp commented on #571
Yes, I remember we decided to drop it because not really executed during a test.

[2020-09-25 13:45] kingthorin commented on #571
Reference testbed:

- http://racetheweb.io/bank
- https://github.com/insp3ctre/race-the-web

[2020-09-25 13:48] kingthorin commented on #571
@martinbydefault any interest in tackling this?

[2020-10-02 09:45] rejahrehim commented on #376
Started working on it

Once we generated the Json what we have to do? commit back to the repo or we can publish in the web (latest) ?
I am planning to trigger it with a Github action.
@kingthorin @ThunderSon

[2020-10-02 10:12] rejahrehim commented on #253
Can we take this forward? We have to make changes in the build scripts accordingly. Need this to be done for Json generation too. @kingthorin @ThunderSon @victoriadrake

[2020-10-02 11:08] kingthorin commented on #253
This one is a bit difficult since it introduces what one might call "breaking changes" as far as where things are located and how they're numbered/sequenced.

I'm personally fine with breaking things in a minor release, however, I understand if others are against that.

[2020-10-02 11:08] kingthorin commented on #376
For the time being I'd suggest the job should open a PR against the checklist directory.

[2020-10-03 00:12] patrickceg commented on #253
I'm on the camp of break things whenever the value to the project is worth it because versions and version control systems exist. Place a note on the README that the big section reorg happened between version X and Y. They can always go back by tags or by using the older PDF version.

As a user, I just expect everything to break every release: I've been like that since I started using Android devi

[2020-10-03 08:24] rejahrehim commented on #253
We are planning for the next big release (V5). Right ? So, We have to do this anyway.

[2020-10-03 09:06] kingthorin commented on #253
The next milestone is currently 4.2.

[2020-10-03 11:49] ThunderSon commented on #376
Yep. Agreed on the location. I would prefer artifacts to be on GH, and not on the website. We can link to them from the website.

[2020-10-03 13:29] victoriadrake commented on #253
If we need this reorg, can we go straight to v5?

[2020-10-03 13:33] kingthorin commented on #253
We could delay longer and plan for that I suppose. That’d be fine with me.

[2020-10-03 19:12] patrickceg commented on #535
That works "Vulnerability Writeups" works (since a lot of these may not be formal reports), although the term doesn't show that it was real-world examples to someone reading the guide for the first time.

- "In the Wild" may be possible wording, although it may be consdered Jargon.
- "Real-World Cases"? Textbooks sometimes call it "case study", but "case study" usually implies you cite the source

[2020-10-04 10:32] ThunderSon commented on #535
@victoriadrake What do you think about this?

[2020-10-04 10:32] ThunderSon commented on #253
Sure, we'd need to make a greater push to give v5 more value to its name :)
Let's see what we can manage to do.

[2020-10-04 13:12] victoriadrake commented on #535
Thanks for the tag @ThunderSon!

By taking on the curation of write ups, we should be aware that we’ll be spending as much time reviewing them for quality and accuracy as we might spend on WSTG contributions. We also can’t control the external content if it is later changed or updated.

I would suggest we take on a “push” approach rather than a “pull” approach to this. If we happen to come across

[2020-10-04 13:40] patrickceg commented on #535
I think another criterion can be:

- The example must describe the impact of the vulnerability when the stakeholders discovered it
    - Note that discovery could be the team discovering it in testing before production, or investigators finding it because the company appeared on the front page of a news site.
    - Was the vulnerability discovered late in the development cycle such that it delayed

[2020-10-04 14:09] victoriadrake commented on #535
@patrickceg I’d list that as a nice-to-have rather than required. While they’re important considerations, I don’t know that business impact is in scope for the WSTG.

[2020-10-04 14:39] patrickceg commented on #535
Will WSTG have any other way to let someone know which test to start with or to make high priority? (example: Issue #171 )

[2020-10-04 14:57] kingthorin commented on #535
IMHO prioritization will depend on tasks outside the Testing Guide, such as: Threat Modelling or Risk Assessment.

[2020-10-06 06:51] 1Oreo commented on #553
Created the PR for this issue and would like to get your review on the guide (#577) .

[2020-10-06 10:23] ThunderSon commented on #553
Well received, thanks @1Oreo !

[2020-10-07 23:25] kingthorin opened #578 "Linter workflow is failing to comment"
Example:
https://github.com/OWASP/wstg/pull/577/checks?check_run_id=1223191129

I believe this is because the output includes backticks which may need to be entity or URL encoded.

[2020-10-08 09:55] #578 closed

[2020-10-09 21:37] kingthorin opened #580 "Sort Out "in-line" quotes/references (for which there isn't a simple link)"
See discussion on: https://github.com/OWASP/wstg/pull/575

The content makes reference to academic research/paper for which a link isn't available. Currently this is handled with asterisk and block quotes. Decide if we stick with that or establish/implement some other format.

[2020-10-09 22:11] rbsec commented on #551
@ThunderSon this issue can be closed now that #555 has been merged.

[2020-10-10 11:52] ThunderSon commented on #580
@victoriadrake I believe you'd be the best on this. I'll think about this in the coming week to see how it would look.

[2020-10-11 00:14] kingthorin opened #581 "workflows: address deprecation of set-env"
Per: https://github.com/actions/toolkit/security/advisories/GHSA-mfwh-5m23-j46w

- https://github.com/actions/toolkit/blob/main/docs/commands.md#set-an-environment-variable

[2020-10-12 00:01] victoriadrake opened #583 "Standardizing capture output"
Discussion in #573 brought up the point of adding a standard format for capture output to the contribution guide. This would exemplify how much information from the capture to provide, as well as the format to provide it in.

The goal is to present the information in an easy-to-read format, with a level of accuracy that is appropriate for educational purposes.

The last iteration of the proposed f

[2020-10-12 00:56] victoriadrake commented on #580
Since we're increasingly moving away from the published book format (which I think makes sense for the future of this guide), in this case I would not fall back on the typical APA-style inline citation with a reference list. Whether we put the reference list at the bottom of the page or in a separate appendix, from a web usability standpoint it will be harder to find and keep updated.

With that i

[2020-10-12 01:19] kingthorin commented on #580
Ya, I kinda like option 2.

[2020-10-12 08:12] #581 closed

[2020-10-12 17:59] rejahrehim commented on #376
Do we need to upload JSON file as release ?

[2020-10-15 13:18] hazcod commented on #268
For reference, the IETF described a set of security practices around OAuth: https://tools.ietf.org/html/draft-ietf-oauth-security-topics-16

[2020-10-16 12:01] ThunderSon commented on #374
@kingthorin safe to close?

[2020-10-16 12:04] kingthorin commented on #374
Yup, sorry I guess I missed editing the PR with a closing keyword/ref.

[2020-10-16 12:04] #374 closed

[2020-10-16 12:04] ThunderSon commented on #268
Mhm, I provided @hazanasec with that and other guidance links. I believe he has something in store for us, just busy I guess with life.
@hazcod Are you interested in helping with this? :)

@hazanasec would you be able to open up a draft PR so maybe we can chime in on it and push it?

[2020-10-16 12:25] hazcod commented on #268
I can review or chime in, but in my opinion I haven't done enough oauth security testing to really author it.

[2020-10-16 13:48] ThunderSon commented on #376
We can, yes. It'd be easier for people to grab the XLSX and the JSON files from the release as well.

[2020-10-16 13:58] kingthorin commented on #376
The XLSX can always be attached manually afterwards. I don't want it to delay any of our releases.

It should be possible to attach the JSON to the existing release (which is currently created by the PDF build on tag push [IIRC]).

[2020-10-17 01:54] kingthorin commented on #562
Do we care if this is actually back (`history.back()` or `history.go(-1)`) vs just another link `../`.

I'm fine with it being just another link and not worrying about people's history, but it's easy to implement either way.

Since it's all markdown based I'm not 100% sure of the effectiveness of:
`[Back](javascript:history.back())` or `[Back](javascript:history.go(-1))`
vs
`[Back](../)`
across th

[2020-10-18 12:41] victoriadrake opened #587 "Add a new test method to Testing for Credentials Transported over an Encrypted Channel"
Add a new test method to Testing for Credentials Transported over an Encrypted Channel that describes an alternative test for cases where forced browsing is not possible.

Please reference the linked PR for context.

_Originally posted by @ThunderSon in https://github.com/OWASP/wstg/pull/573#discussion_r503214145_

[2020-10-18 12:54] #419 closed

[2020-10-18 14:02] #556 closed

[2020-10-18 14:17] patrickceg commented on #583
I won't have time until later this week to even know if I'll have the time for this task, but I think the first step would be to know which of the articles either have captures or should have captures. This is both for follow-up tasks and to know if that format fits all the other articles.

For example, that format may make less sense if you have multiple captures in a row (since you'll take up mo

[2020-10-18 19:58] ThunderSon opened #588 "Fuzzing Improvements"
Following #585 I was interested to see that the [OWASP Community fuzzing link](https://owasp.org/www-community/Fuzzing) is really weak.

In addition, through the cleanup, the categories were removed in Appendix C.
Should we look to improve Appendix C, or to make the community link much better and contain techniques and ways to fuzz?

[2020-10-18 20:01] ThunderSon commented on #562
@victoriadrake @rejahrehim any comments on the proposal of @kingthorin
I am with making it a `../` because the user is asking to go back through the page, and not the browser history.

The floating part is interesting, yet I am not the best to discuss this :)

[2020-10-18 20:50] victoriadrake commented on #562
Thanks for the tag!

I'm not enthused about using `history.back()` for reasons I'm sure y'all can imagine. I'm pretty sure the following will be rendered from Markdown to HTML since since the web site builds with Jekyll:

[code]

For example this would take you from `https://owasp.org/www-project-web-security-testing-guide/v41/0-Foreword/` to `https://owasp.org/www-project-web-security-testing-gui

[2020-10-18 20:53] kingthorin commented on #562
Yup that does work. (At least it’s does in local testing). I just wanted to offer up options since it’s a back link that actually technically goes forward.

[2020-10-18 20:58] victoriadrake commented on #562
Ah, I'm not really worried about that. If we want to make it more clear, we could present it in a breadcrumb format.

[2020-10-19 10:12] #376 closed

[2020-10-19 10:22] rejahrehim opened #589 "Add "Objectives": "<Grab objectives>" in JSON checklist"
Need to update the current JSON checklist with `Objectives`

- Objective can be updated once we have an objective section in each test case.

[2020-10-20 10:03] ThunderSon commented on #583
I prefer having the raw HTTP requests and responses, instead of cleaning them up for readers. That's how they'll be seen everywhere.
Everything that is not relevant to the test scenario at hand is removed, except the first 2 lines (GET / .... HTTP/1.1 and Host) for example. If let's say this is testing auth, a cookie or a token should be present, or a certain service fingerprint.

[2020-10-20 10:06] ThunderSon commented on #589
@rejahrehim Let's start with objectives, and with that the first step would be to identify which scenarios don't have objectives, add them, and then make sure everything is following the same format that gets put into the JSON file.
What would you recommend to go on with this? I don't mind doing the work modifying and adding them objectives for missing ones.

[2020-10-20 10:08] ThunderSon opened #590 "Rewrite Error Handling Tests"
**What's the issue?**
The error handling tests and scenarios are outdated, contain lots of irrelevant content, and just bloat the section without providing the needed content.

**How do we solve it?**
Review and setup a step by step testing methodology to identify all possible errors and how to benefit from them with improved recommendations.

Would you like to be assigned to this issue?
Check the

[2020-10-20 10:16] kingthorin commented on #583
I'm in agreement with @ThunderSon.

[2020-10-20 10:55] ThunderSon opened #591 "XSS Reorganization"
**What's the current setup?**
Reviewing XSS overall in the document, it's split into 2 different chapters, 7 and 11.
At the end of the day, all XSS will target users on the client-side, even if it was stored.

**What would you like to happen?**
Move all XSS to chapter 11, client-side testing, and have one big section for XSS and then going into more tests for other types of testing.
What do you gu

[2020-10-20 14:02] ThunderSon opened #592 "Handover Gray Box and Code Reviews to SKF"
**What would you like to happen?**
Having a Code Review section, where a tester can communicate with the developers and have direct access to the source code is more descriptive than Gray Box, because actually having access to the source code is white box to begin with.

What do you think?

[2020-10-20 14:07] ThunderSon opened #593 "SSI Injection Duplicate"
**What would you like to happen?**
The [SSI Injection test](https://github.com/OWASP/wstg/blob/master/document/4-Web_Application_Security_Testing/07-Input_Validation_Testing/08-Testing_for_SSI_Injection.md) is similar to the [OWASP common description](https://owasp.org/www-community/attacks/Server-Side_Includes_(SSI)_Injection)

@kingthorin what do you think about this?

[2020-10-20 14:13] ThunderSon opened #594 "Command Injection Improvements"
**What would you like to happen?**
- [ ] Add additional techniques for command injection
- [ ] Tabularise languages and their possible command exec APIs
- [ ] General refactor and format touchup

[2020-10-20 14:19] ThunderSon opened #595 "Buffer Overflow Review"
**What would you like to happen?**
The Buffer Overflow tests are not suited or focused to web, except for the format strings.
I can see this becoming into a one improved scenario with references and thought guidance on how this can sometimes occur on web tests.

@rbsec I believe you'd give the best advice on this, open for comments from everyone.

[2020-10-20 14:34] kingthorin commented on #593
Sure some of that content could be adapted, it doesn't seem vastly different but some of it is usable.

[2020-10-20 14:39] kingthorin commented on #592
I'd rather leave code review for the code review guide (whether it's alive or not) or SKF.

[2020-10-20 16:02] ThunderSon commented on #593
So I guess the best way forward is to clean up the test scenario, link the general link inside the test, and go into methodologies?
Or what do you think?

[2020-10-20 16:04] ThunderSon commented on #592
@RiieCco @blabla1337 Hi SKF team :heart:
Would you be interested to host code review recommendations?

@kingthorin should we just remove the sections then that discuss code review?

[2020-10-20 16:05] ThunderSon commented on #562
@kingthorin We are generating the list of files and how they should be organised for the official website. Is there a Jekyll plugin that could help with next and back buttons?
I feel like this could be feasible in a fast way.

[2020-10-20 16:28] kingthorin commented on #562
Not on the GitHub approved list. However, just including it along with the front  matter we already prepend isn’t a big deal.

[2020-10-20 16:30] kingthorin commented on #592
I’m not against mentioning it, I just don’t think it’s the TG’s place to try to be authoritative in it.

[2020-10-20 16:32] ThunderSon commented on #562
Are you discussing the back button, or what I said? Having a next button too would be a really good thing

[2020-10-20 16:34] kingthorin commented on #562
Issue is for a back button 😀

Back is simple and non-specific.
“Next” would have to be highly specific and dynamic. (Ex: for the last scenario of a chapter ‘next’ is the lead-in or index for the following full chapter.)

[2020-10-20 16:38] ThunderSon opened #596 "Improve Request Smuggling"
**What would you like to happen?**
The [test scenario](https://github.com/OWASP/wstg/blob/master/document/4-Web_Application_Security_Testing/07-Input_Validation_Testing/15-Testing_for_HTTP_Splitting_Smuggling.md) can be modified to a newer version based on all the research conducted with more focus on the main pain points of orgs and where it's working mostly.
We can reference and discuss as well

[2020-10-20 17:45] ThunderSon opened #597 "Testing for Incoming Requests"
**What would you like to happen?**
INPV-16, is this really a test the WSTG should consider? And if so, how is this input validation?
This feels weird quite honestly. It has to do more with privacy or in how things ("best practices") should work.

[2020-10-20 18:10] ThunderSon commented on #592
Something to keep in mind; sometimes checking the backend code is essential to validate the security (CRYP-04 is one example). Would that be considered stepping outside of the WSTG boundaries? Or would that be the actual test in that case? You can't actually see for example what encryption is being used and if it's securely implemented from outside.

[2020-10-20 18:15] ThunderSon opened #598 "Merge of Sensitive Information and Credentials Transport in Clear Text"
**What would you like to happen?**
Merge ATHN-01 and CRYP-03 as they represent in their entirety the same thing, just different terms (credentials versus sensitive info).

[2020-10-20 18:22] kingthorin commented on #597
It's a slightly different spin on things. It's questionably input validation. Since it's "just before the server" instead of "just after the client" there's a small chance that you can get away with some form of manipulation that a WAF or some other infrastructure component might prevent. However, it is also highly unlikely that an attacker can get themselves (or their gear) into such a location.

[2020-10-20 18:41] kingthorin commented on #592
Hmmm that's an interesting example, however, if you look through the Code Review section how/where do we draw the lines. There are some examples but they're java'centric. Maybe we don't care but the argument can easily be made by readers "You have java details why don't you have X details" where X is any language under the sun.

It also overlooks a ton of material like DB (at rest) encryption, dri

[2020-10-20 18:43] kingthorin opened #599 "WSTG-CRYP-04 Needs editing"
[WSTG-CRYP-04](https://github.com/OWASP/wstg/blob/master/document/4-Web_Application_Security_Testing/09-Testing_for_Weak_Cryptography/04-Testing_for_Weak_Encryption.md) could use some attention. Things that stick out:

1. Personal/direct author reference? `Tony Hsu - hsiang_chih[at]yahoo.com`
2. Rough English writing, ex: "When the uses of AES128 and AES256, The IV (Initialization Vector) must be

[2020-10-20 18:51] kingthorin commented on #598
Agreed in 2013/2014 before the drive toward all https all the time it made sense for them to be split. Today, however, it probably makes sense for credentials to just be another type of "sensitive information". So lumping them both together makes sense to me. I'd be fine with ATHN-01 being chopped and it's content merged into CRYP-03. (A lead-in (0th page) for 4.4 could be added that clarifies thi

[2020-10-20 19:09] RiieCco commented on #592
@ThunderSon, @kingthorin, we would love to host this!!
How can we help? :-)

[2020-10-21 07:54] ThunderSon commented on #592
That's easy :yum:
From your side, you'd need to have the code review for the test cases. They can be more wide, or not specific to the WSTG.
From our side, we'll link which fits most to the tests.
Pretty sure I can help with that as well :)

Let me know of your timelines and see this through.

[2020-10-22 00:02] patrickceg commented on #583
We should also pick a way to cut out excess information, preferably some way that doesn't mess with all the format scripts. I think ellipsis with no surrounding brackets, so ... seemed to work for the issue I worked on.

Things I think won't work

-  `<>` is bad because it would mess with XML and HTML contents
- Quotation marks in general cause a mess

[2020-10-22 08:55] rejahrehim commented on #589
@ThunderSon  I will create a list of TCs without objectives and share it here.

[2020-10-22 09:02] ThunderSon commented on #589
@rejahrehim my comment was mainly to say "Let's automate that", so no need to create a list by hand, if that's what you're after :smile:
That way we are kind of doing a TDD approach with a live test case.

[2020-10-22 13:16] ThunderSon commented on #588
After reviewing both parts, I believe both should be reviewed and stay independent from each other as fuzzing as a topic is much wider than what WSTG is concerned with.

For the WSTG, the appendix needs to:

- Describe what is fuzzing in short.
- Describe the need for fuzzing in short.
- Mention fuzzing tools that the tester can use
- Wordlists and references (which are already set as it is now) t

[2020-10-24 16:30] rbsec commented on #595
The content that exists at the moment is pretty basic. If you don't already understand buffer overflows then it's not really enough to teach you (it's a pretty big topic). It's also not really appropriate for the **Web** Security Testing Guide - if you're debugging an exe file with ollydbg (on Windows XP in the screenshots, which dates it a little) then you're well outside of the realms of normal

[2020-10-30 11:23] #590 closed

[2020-11-01 11:04] ThunderSon commented on #595
I am in agreement with the analysis. For now I'd keep format strings as is, and remove the rest.
@kingthorin what do you think about this?
Since this has been left for almost 2 weeks, we can take decisions in a clear way.

[2020-11-01 11:53] kingthorin commented on #595
Yup I agree.

[2020-11-01 14:31] ThunderSon commented on #595
Lovely, some more changes to the guide structure. Glad to see this going through. I'll take care of this.
_Next up, XSS restructuring_

[2020-11-01 18:35] ThunderSon opened #602 "Set Testing Objectives For All Test Scenarios"
**What's the issue?**
Not all testing scenarios have a clear and concise objective(s)

**How do we solve it?**
Go over the WSTG and ensure that every test scenario has clear objectives in a UL format (using dashes).

Since this is one of the bigger issues and will cover lots of scenarios, I'll tackle it and make sure to make it fast.

[2020-11-01 20:51] #595 closed

[2020-11-02 13:01] #599 closed

[2020-11-05 04:28] martinbydefault commented on #571
@kingthorin Sorry for the delay in the answer. At the moment I'm not able to tackle this but will try to do it in the near future. I also suggested it in the pool of collaboration ideas of my local OWASP chapter to see if anyone wants to take it sooner than me.

[2020-11-06 01:18] patrickceg commented on #602
I could look at this if no one else takes it on **November 20th, 2020**.
My goal with this project is to help make the guide accessible to people new to testing, so I like this type of task.

In the meantime, what should we consider a good testing objective, so that when we go through the guide, we can also mark tests that need an improved objective section (but not necessarily missing it complete

[2020-11-06 01:55] kingthorin commented on #602
There’s an initial PR in already for the first bunch of sections/scenarios.

[2020-11-06 11:01] ThunderSon commented on #602
@patrickceg Hi Patrick. I am handling them as I need them under a certain format and need. Thanks for the help offer! :)

[2020-11-06 13:16] #580 closed

[2020-11-06 20:21] ThunderSon opened #607 "Local Tools Don't Load Configuration Files"
**What's the issue?**
Local linting no longer takes into account the configurations set in the project (and any other extension we tell the users to set up locally).

**How do we solve it?**
Add a configuration for vscode to locate the config files, or revert back the change.

[2020-11-06 22:27] kingthorin commented on #607
It doesn't seem practical to try to maintain settings files for all possible editors/add-ons that people may choose to use.

That being said this is likely a problem for the Codespaces setup as well.

I'll investigate pointing markdownlint at a config file in a custom location.

[2020-11-06 22:39] kingthorin commented on #607
https://github.com/DavidAnson/vscode-markdownlint/issues/132

[2020-11-09 22:11] n17h31sm commented on #593
I looked over the 2 pages and in my opinion we can improve it in the following way:

- Remove/Cut the 2 paragraphs before the 'How to test' part, because they are essentially just repeating what was already said in the introduction, there are just a couple bits of information that are meaningful and probably can be put in the introduction or just in more concise form.

- Otherwise SSI isn't comple

[2020-11-09 22:36] kingthorin commented on #593
Sounds good to me.

[2020-11-10 13:24] #607 closed

[2020-11-10 20:14] kingthorin commented on #264
@y-mehta what's the scoop? 😉

[2020-11-10 20:15] kingthorin commented on #7
@vermava @RiieCco any news?

[2020-11-10 20:16] kingthorin commented on #268
@hazanasec any news?

[2020-11-10 20:17] kingthorin commented on #8
@vermava @RiieCco any news on this?

[2020-11-11 04:03] kingthorin commented on #562
@ThunderSon are you happy with how this looks?
![image](https://user-images.githubusercontent.com/7570458/98764015-e8ac0e80-23a8-11eb-9366-5ec48e536138.png)

[2020-11-11 08:41] ThunderSon commented on #562
Love it as a concept! This helps people navigate around much easier because the ToC on the right is just too big to be used.

[2020-11-11 11:13] victoriadrake commented on #562
Breadcrumbs! Nice.

`>` or `/`? Either works but my Linux head prefers the `/` :grin:

[2020-11-11 12:39] #562 closed

[2020-11-11 12:49] kingthorin commented on #562
Breadcrumb is now live in the [/latest](https://owasp.org/www-project-web-security-testing-guide/latest/) deployment.

[2020-11-11 12:53] kingthorin commented on #562
I should change it to use a proper css style is `0.8em` too small, should I switch it up to `0.9em` like the sidebar?

[2020-11-11 12:56] ThunderSon commented on #562
Nope, looks good to me, makes a difference between other links in the page.

[2020-11-12 19:41] #509 closed

[2020-11-13 23:13] kingthorin commented on #317
Done in: https://github.com/OWASP/wstg/pull/575

[2020-11-13 23:13] #317 closed

[2020-11-15 16:11] ThunderSon commented on #553
@1Oreo I hope this was a lovely experience with the team! If you have any feedback for the team (positive or negative so we can improve and know our strength points), please send it to my email on elie.saad@owasp.org
Closed by #577

[2020-11-15 16:11] #553 closed

[2020-11-16 08:35] rejahrehim commented on #355
![Image](https://cdn.discordapp.com/attachments/698240583508033586/777811517521395763/side-channel_attack.jpg)

If this image is fine, Please suggest necessary content updates

[2020-11-16 10:15] kingthorin commented on #355
- There's a typo in the bottom diamond, should be "correct".
- The arrows pointing right should have labels.
- Could you increase the spacing between the bold line and nottom-most Yes label just a bit?

[2020-11-16 13:55] rejahrehim commented on #355
![image](https://cdn.discordapp.com/attachments/698240583508033586/777892661742796810/side-channel_attack.jpg)

@kingthorin  Updated

[2020-11-16 14:02] kingthorin commented on #355
Nice, I like it. Thanks! I don't think there was necessarily any content updated needed in the scenario, I think this was mainly meant to help users to understand what was already there.

I believe the image is meant to accompany "Example 2"

[2020-11-17 10:21] rejahrehim opened #623 "Add "CRE_ID": "<CRE_IDn>" in JSON checklist"
Need to update the current JSON checklist with `CRE_ID`

- `CRE_ID` can be added once it is finalized

[2020-11-17 11:11] #355 closed

[2020-11-17 20:05] #589 closed

[2020-11-18 03:10] kingthorin opened #625 "4.2 Release Notes preparation"
Below is the Release Notes I've put together for 4.2. Please let me know if there's anything you disagree with or edits you'd like:

[code]

- Test additions:

| Test ID | Test Name |
|---------|-----------|
| WSTG-SESS-09 | Testing for Session Hijacking |
| WSTG-INPV-19 | Testing for Server-Side Request Forgery |
| WSTG-APIT-01 | Testing GraphQL |

- Test scenarios which were re-written:

| Test

[2020-11-19 00:24] victoriadrake commented on #625
Ditto!

[2020-11-19 10:17] kingthorin commented on #625
I need to add something about adopting gitlocalize, and also need to add translation info to our contribution guide.

[2020-11-19 10:56] ThunderSon commented on #625
Since this didn't touch the guide yet, these are `Repo` matters.

[2020-11-19 11:01] ThunderSon commented on #625
@victoriadrake about your changes, the buffer overflow sections were removed, and not just Update the format strings section.
Another point on error handling, where ERRH-02 was removed as well and merged into 01, so the whole ERRH section was updated, not just ERRH-01

[2020-11-19 11:03] #602 closed

[2020-11-19 11:53] victoriadrake commented on #625
@ThunderSon My approach was just to list: `<keyword> <section title> <code>.` wherever possible, which makes the notes easier to read if you're trying to spot where something has changed. Feel free to tweak if there's something that seems misrepresented.

[2020-11-19 11:55] ThunderSon commented on #625
What would you recommend to better describe the misrepresented points and to follow with your approach?

[2020-11-20 00:14] victoriadrake commented on #625
Made updates above!

[2020-11-20 11:12] #593 closed

[2020-11-20 11:38] n17h31sm commented on #264
If there is none working on this, I can take it.

[2020-11-21 14:35] kingthorin opened #632 "Credits for 4.2"
Please reply below letting us know how you'd like to be listed in the credits: https://github.com/OWASP/wstg/blob/master/document/1-Frontispiece/README.md

Anyone who hasn't replied by 2020-11-28 will be listed simply by their GitHub username, or full name if listed.

## New Authors
- [x] @DomKoe (https://github.com/OWASP/wstg/issues/632#issuecomment-733124250)
- [x] @rishuranjanofficial (https://

[2020-11-21 14:39] najum98 commented on #632
I would like to be listed with my Twitter handle i.e Najum98.

[2020-11-21 14:47] 1Oreo commented on #632
I'd like to be listed with my name "Or Asaf", Thanks.

[2020-11-21 14:53] JustAMurph commented on #632
I'd like to be listed with my name. Eoin Murphy (@JustAMurph). Please and thank you.

[2020-11-21 15:04] rishuranjanofficial commented on #632
Thank you.

I would like to be listed with my name.

*Rishu Ranjan* (https://github.com/rishuranjanofficial)

On Sat, 21 Nov 2020, 20:05 kingthorin, <notifications@github.com> wrote:

[2020-11-21 15:17] scalzava commented on #632
Please use my full name for me: Stefano Calzavara. Thanks,
--
Stefano

Il sab 21 nov 2020, 15:35 kingthorin <notifications@github.com> ha scritto:

[2020-11-21 15:23] AlessiaMichelaDiCampi commented on #632
Hi! it's ok the name of my github account, thanks
    Il sabato 21 novembre 2020, 16:18:01 CET, Stefano Calzavara <notifications@github.com> ha scritto:

Please use my full name for me: Stefano Calzavara. Thanks,
--
Stefano

Il sab 21 nov 2020, 15:35 kingthorin <notifications@github.com> ha scritto:

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitH

[2020-11-21 15:29] kingthorin commented on #632
Heya, glad to list you as “Najum98” or “@Najum98” but please be aware it will just be a text reference like the others (not linked).

[2020-11-21 16:01] eleumasc commented on #632
Hi, please use my full name: Samuele Casarin. Thank you in advance!

[2020-11-21 16:33] najum98 commented on #632
Oh then kindly keep it as, "Najam Ul Saqib" if it's just plain text

[2020-11-21 20:39] n17h31sm commented on #632
Hi, I would like to be listed with my full name "Nikoleta Misheva".

[2020-11-22 06:00] Hsiang-Chih commented on #632
I'd like to be listed with my name

Hsiang-Chih Hsu

[2020-11-22 06:18] Abhi-M commented on #632
Thanks for asking and for including the name. Please use my full name:
`Abhi M Balakrishnan`

[2020-11-23 09:02] imthomas93 commented on #632
Hello!

I would like to be listed with my name - Thomas Lim (@imthomas93). Thank you!

Thomas
________________________________
From: kingthorin <notifications@github.com>
Sent: Saturday, November 21, 2020 10:35 PM
To: OWASP/wstg <wstg@noreply.github.com>
Cc: #THOMAS LIM JUN WEI# <C150089@e.ntu.edu.sg>; Mention <mention@noreply.github.com>
Subject: [OWASP/wstg] Credits for 4.2 (#632)

Please reply

[2020-11-23 09:27] najum98 commented on #632
I cant see my name mentioned at https://github.com/OWASP/wstg/blob/master/document/1-Frontispiece/README.md . When will it be done?

[2020-11-23 10:45] ThunderSon commented on #632
When 4.2 gets released, as the issue states. Please keep this issue for its purposes as there are 19 people in this thread.

[2020-11-24 17:25] DomKoe commented on #632
Hello,
thank you as well for asking. I would like to be listed with: Dominik Koehler
Thank you very much and stay healthy you all!

[2020-11-25 22:37] kingthorin opened #637 "Should SSRF/LFI/RFI be relocated for v5?"
See discussion on this PR: https://github.com/OWASP/wstg/pull/634

[2020-11-26 21:44] ThunderSon opened #639 "Reporting Overhaul"
The reporting page requires some update from the 2013's format.

I will be taking this issue on tomorrow and making it look a bit fresher and directly usable, like clipping pages from the book.

If anyone has any input on this while I work on it, please let me know.

[2020-11-26 21:47] ThunderSon opened #640 "Checklists and Merged IDs"
Should we keep the IDs as normal for tests that are now merged or removed?

Maybe we can set a placeholder instead, or have a special value that we can parse for later terms.

`WSTG-INFO-09` is set twice, I am guessing there's a typo, just making sure it wasn't set specifically.

[2020-11-26 22:07] kingthorin commented on #640
I think that must be a parsing issue due to: https://github.com/OWASP/wstg/blob/master/document/4-Web_Application_Security_Testing/01-Information_Gathering/09-Fingerprint_Web_Application.md

Uh, where are you seeing INFO-09 twice?
https://github.com/OWASP/wstg/blob/master/checklist/checklist.json seems fine...

[2020-11-26 22:37] kingthorin commented on #640
It does seem to be a typo. The placeholders should be left for the time being (IMHO).

![image](https://user-images.githubusercontent.com/7570458/100395197-05ce1780-300e-11eb-9643-7a768c39abd7.png)

(The first of each set should be INFO-08.)

[2020-11-27 09:50] ThunderSon commented on #640
There's the Buffer Overflow one as well, INPV-13. That solution that sounds fair, changing the description, but that won't be replicated in the JSON sadly. That's what I meant by setting a certain "value" that we can parse based on it.
If "value" is set, grab the referenced test in the md file and set the known description for merged tests.

[2020-11-27 11:14] kingthorin commented on #640
Ya if there's some sort of element we want to set on those placeholder pages I'm good with that.

[2020-11-27 11:41] ThunderSon commented on #640
@rejahrehim What do you feel about this?
This is not as well a pre-requirement for v4.2, so no big rush. We'll just update the typos in the checklists for now

[2020-11-27 12:00] rejahrehim commented on #640
Yes. We could keep a common heading which I could parse. If So, we can update the checklist with it.
Also, We should keep a specific format in the checklist to identify expired test cases. Like ` Expired since v4.2`

[2020-11-27 17:29] #264 closed

[2020-11-28 23:22] ThunderSon commented on #625
In addition to the release notes above, there is a need to update the text in the frontispiece for the version 4.2

What do you think that we create a table or a list to showcase what changed for the IDs from 4.1 to 4.2?

[2020-11-29 00:02] kingthorin commented on #625
Sure go for it.

[2020-12-01 03:38] #632 closed

[2020-12-01 11:37] ThunderSon commented on #625
I updated the notes to include the new additions and updates.

For the ID updates I created 3 sections with tables, let me know what you think about them:

- Test Additions:

| Test ID | Test Name |
|---------|-----------|
| WSTG-SESS-09 | Testing for Session Hijacking |
| WSTG-INPV-19 | Testing for Server-Side Request Forgery |
| WSTG-APIT-01 | Testing GraphQL |

- Test ID modifications:

| Test

[2020-12-01 12:23] kingthorin commented on #625
Im not quite clear on table two. The bullet/heading suggests an ID change but then discusses a title change like table 3.

Shouldn't table two cover the 3 merged sections? (And the existing table 2 content be moved into table 3)

[2020-12-01 12:48] Alex-null opened #648 "Add language:Simplified Chinese"
I am willing to moderate GitLocalize efforts for Simplified Chinese.

[2020-12-01 13:03] kingthorin commented on #648
I've just added `Chinese [zh-CN]`  for translation. I was not able to see your GitHub account to assign you as moderator. Let us know once you've logged in.

[2020-12-01 13:11] Alex-null commented on #648
I've logged in.Thanks.

[2020-12-01 13:12] ThunderSon commented on #625
So table two is tests that are no longer the "same", as in the content changed. It's no longer BO, it's format strings. No longer error codes, error handling, etc. Not just the test name.

Feel free to edit as you see fit. About the merged sections, they still appear on the IDs, so they didn't "actually" change?

[2020-12-01 13:38] kingthorin commented on #648
Thanks, once I can see you I'll get you setup as the moderator.

[2020-12-01 13:39] kingthorin commented on #648
All set, needed to use a leading capital ⭐

[2020-12-01 13:39] #648 closed

[2020-12-01 13:43] kingthorin commented on #625
Okay now I see what you’re going for. I’ll just tweak the bullet.

[2020-12-01 14:45] efx commented on #564
I will take a pass at revising the writing for brevity and clarity.

[2020-12-01 15:05] ThunderSon commented on #564
Lovely! Thanks for taking this on!

[2020-12-01 17:52] efx opened #651 "consider adding a package-lock.json or yarn.lock"
**What's the issue?**
The project contains a `package.json` but no `package-lock.json` or `yarn.lock`. Versioning the `package.json` but not a lock file presents 2 problems:
- the dependency version may drift which can make troubleshooting overly complex
- contributors who run `yarn install` or `npm install` will generate 2 different lock files. This will create unnecessary changes in the working

[2020-12-01 18:16] kingthorin commented on #651
There's nothing to lock, look at the content of the file. It defines our project and some scripts we run in GitHub actions.

[2020-12-01 19:58] kingthorin commented on #651
I'm going to leave this open because we should in fact add the two outlined lock files to `.gitignore` so that people who run and install when there's nothing to install don't end-up PRing garbage files 😀

[2020-12-03 02:22] #639 closed

[2020-12-03 02:24] kingthorin commented on #625
This is now complete.

[2020-12-03 02:25] #625 closed

[2020-12-03 20:22] ThunderSon commented on #522
Done

[2020-12-03 20:22] #522 closed

[2020-12-03 20:29] ThunderSon commented on #407
@kingthorin this is done, right?

[2020-12-03 20:32] kingthorin commented on #407
Uh, I think content was added or removed-worked not sure if the merge was done.

[2020-12-03 20:36] ThunderSon commented on #407
From seeing the guide, I think it's done. I'll review it tomorrow when I get time.

[2020-12-04 09:05] phish opened #654 "Add a test for Content Security Policy headers"
I haven't found any test that includes looking at the Content Security Headers.
I would expect this to be included either in

- `02-Configuration_and_Deployment_Management_Testing` or in
-  `11-Client-side_Testing` where it is closely related to `02-Testing_for_JavaScript_Execution.md`

Typically, we should check for unsafe-eval and other potentially dangerous settings.

[2020-12-04 17:25] #651 closed

[2020-12-04 17:38] ThunderSon commented on #654
I believe this fits in the CONF chapter, and bypasses can link to it in the CLNT chapter.

Would love to add this in!

Are you interested to propose a plan for this addition?

[2020-12-05 02:37] jeremychoi opened #656 "Enhance CORS testing guide (Testing Cross Origin Resource Sharing)"
**What's the issue?**
Describe the problem and why it should be fixed. Be concise and specific. Reference sections where appropriate.

The current CORS (4-Web_Application_Security_Testing/11-Client-side_Testing/07-Testing_Cross_Origin_Resource_Sharing.md)

-  shows the examples from the 'client-side' code point of view only, although CORS is the concept that should be focused on the server-side co

[2020-12-05 09:56] ThunderSon commented on #656
@jeremychoi Thanks for opening this issue! It's true as you say.
I highly believe that chapter 11, Client Side testing, requires a whole update.
I don't see it as a client side testing condition. I highly see it as a server config test, and it can be linked to a client side attack where CORS is highly permissive that it allows client-side attacks.

Would you want me to review #657  and then have a

[2020-12-05 12:54] n17h31sm commented on #567
I looked over the current document.  In my opinion we could cut the size of the examples i.e:

1. How do identify vulnerable endpoints ( we can keep it)
2. Mentions the most common examples ( ../../,  External file)
    - Mention it can lead to other vulnerabilities
    - Add the link to PayloadAllTheThings
3. Mention encoding / fuzzing

If there are no other candidates (new joiners and so on) I w

[2020-12-05 13:03] n17h31sm commented on #15
This seems like an interesting topic that I would like to address. I can provide a more high level draft at first, but I consider it a pretty big topic. For example the first thing I could think of is accidentally exposed Kubernetes API, or being able to call it through the container.

If that fits you I will be happy to work on that.

[2020-12-05 21:45] ThunderSon commented on #15
As it's a tremendous topic, let's go with what you're suggesting. We'll refine the first possible look for it and then let it grow :)

[2020-12-05 21:55] rbsec opened #660 "Review and update tool list (appendix A)"
Looking at [Appendix A - Testing Tools](https://github.com/OWASP/wstg/blob/master/document/6-Appendix/A-Testing_Tools_Resource.md) there are a few issues:

* The sslyze repo linked hasn't had any updates for 6 years
* The sslscan version linked is the abandoned sourceforge project
* The version of John the Ripper linked is the original OpenWall version (last release was May 2019), rather than the

[2020-12-05 22:06] jeremychoi commented on #656
@ThunderSon Sure. please go ahead as you like :)

[2020-12-05 23:20] kingthorin commented on #660
@rbsec are you willing to tackle this?

I agree with all your points.

[2020-12-05 23:39] rbsec commented on #660
@kingthorin I can certainly have a stab at some initial cleanup. What do you think about adding `(commercial)` for any tools that aren't free/open source? Or is there a better way to do it?

Longer term, I think the whole page probably needs a review - it's a bit of a mishmash of random tools, with no links back to the specific testing guidance, and lots of things missing - so I guess a decision n

[2020-12-06 00:37] kingthorin commented on #660
Adding a commercial chunk seems good, and yes I agree a clear direction for the future makes sense.

[2020-12-06 09:51] rbsec commented on #660
Thinking about it, I'm not really sure whether this kind of page should include commercial tools at all. This is part of the *Open* Web Application Security Project, and recommending tools that cost thousands (or even tens of thousands) of pounds isn't really in the spirit of that. It also opens up a load of questions about which commercial tools get included (who can then claim to be "recommended

[2020-12-06 11:03] kingthorin commented on #660
I'm totally good with dropping anything commercial.

[2020-12-06 14:00] phish commented on #654
I wont be able to work on this before the end of the year. If nothing has been done by then, I'll be happy to contribute.

[2020-12-07 11:10] kousha1999 opened #663 "Update 06-Test_HTTP_Methods Part line 166"
`X-HTTP-Header` must be `X-HTTP-Method` header at line 166.
v42, latest version both have problem.

[2020-12-07 13:07] kingthorin opened #671 "Exclude /translations from workflows"
Exclude `/translations` from linting and link check workflows.

[2020-12-07 18:40] ThunderSon commented on #663
Closed by #672

[2020-12-07 18:40] #663 closed

[2020-12-07 20:33] kingthorin commented on #671
To be clear.

1. Linting should stay.
2. Link checking should be disabled (for now) internal document links are going to break as things get translated.
3. Text lint isn't relevant for non-English content.

[2020-12-08 11:29] DotDotSlashRepo opened #674 "Enhance subdomain takeover"
**What would you like added?**
Add can-i-take-over-xyz to references in subdomain takeover. https://github.com/EdOverflow/can-i-take-over-xyz/

Would you like to be assigned to this issue?
Check the box if you will submit a PR to add the proposed content. Please read CONTRIBUTING.md.
- [x] Assign me, please!

[2020-12-08 11:57] #674 closed

[2020-12-08 20:45] Nima-Dabbaghi opened #678 "Update Classic SQL Injection of SQL Injection , Commenting part , line 32"
<code> In SQL Injection -> Classic SQL Injection <b> * must be  /* </b> at page 238 line 32. </code>
v42, latest version both have problem.

[2020-12-08 21:02] kingthorin commented on #678
Could you please quote the text that you see the problem in? Line 32 is blank in that file:
![image](https://user-images.githubusercontent.com/7570458/101540872-a5749980-396e-11eb-82cd-15e619b3e24b.png)

[2020-12-08 21:46] ThunderSon commented on #678
As mentioned that it is in the PDF, I tried looking there as well. I found no occurrences of the `*` being used as a comment delimiter instead of `/*`. A screenshot and a reference would help a ton.

[2020-12-08 23:33] #656 closed

[2020-12-09 00:02] Nima-Dabbaghi commented on #678
I think I did not make the correct reference.
This image can better show the incorrect phrase.
<code> <b>As shown in the image * should be corrected to / *.</b> </code>

[![Screenshot-from-2020-12-09-03-07-02.png](https://i.postimg.cc/W1242B6c/Screenshot-from-2020-12-09-03-07-02.png)](https://postimg.cc/MvFw5rF9)

[2020-12-09 00:09] kingthorin commented on #678
Thanks, now we know what you're after.

[2020-12-09 10:38] #678 closed

[2020-12-09 15:25] yuraloginoff opened #680 "Link to a deprecated software"
**What's the issue?**
Here [WSTG-INFO-01](https://owasp.org/www-project-web-security-testing-guide/latest/4-Web_Application_Security_Testing/01-Information_Gathering/01-Conduct_Search_Engine_Discovery_Reconnaissance_for_Information_Leakage.html) is a link to the deprecated tool "Bishop Fox’s Google Hacking Diggity Project." [Proof](https://twitter.com/bishopfox/status/1336354792822587393).

**How

[2020-12-09 15:43] kingthorin commented on #680
Thanks!

[2020-12-09 21:14] #680 closed

[2020-12-10 10:29] ThunderSon commented on #564
Following on #650 's discussion, and after reviewing the IDNT and ATHN scenarios, this should be merged into [ATHN-04](https://github.com/OWASP/wstg/blob/master/document/4-Web_Application_Security_Testing/03-Identity_Management_Testing/04-Testing_for_Account_Enumeration_and_Guessable_User_Account.md).
It can be a section in enumerating users or credentials, tackling default accounts that were not

[2020-12-10 13:36] rbsec commented on #660
@ThunderSon are you happy with commercial tools being removed?

[2020-12-10 13:49] ThunderSon commented on #660
Yes. Please take them out.

Rationale:
1. We don't use any of them while describing any of our tests.
2. We are not testing nor verifying our recommendations as we can't get a hold of them.
3. The more we put, the more security orgs will want to simply contribute their tools, which won't help anyone.
4. This guide is focused to help anyone do web testing, and this doesn't.

[2020-12-11 16:01] efx commented on #564
@ThunderSon 👋 would this be taking the content of ATHN-02 as of (bd0106c5fca40f0d32cc7c7430e22a65006a1af2) and adding it to the appropriate part of ATHN-04?

[2020-12-11 16:37] ThunderSon commented on #564
Feel free to change the content however you see fit to be part of that scenario.

[2020-12-14 11:57] RiieCco opened #685 "Chapter 4.2.2 removing gray-box testing questions for logging"
**What's the issue?**
Also referring to issue:
https://github.com/OWASP/wstg/issues/592

I was looking at chapter 4.2.2 but there is also a lot items with regard to "Logging"
in this chapter. I can imagine you do not want this removed so how can i best approach this?

**How do we solve it?**
I want to open a discussion on how this page should ideally look like

Would you like to be assigned to thi

[2020-12-14 14:12] ThunderSon commented on #592
@kingthorin after @RiieCco was going through the first 2 chapters, the gray box sections seemed to need reformulation, and not full removal.
Looking at this, I am worried that we could waste a lot of time on this, where as we can be restructuring a full test.

My suggestion comes now to close this issue and try to tackle things differently. This was too optimistic.

[2020-12-14 15:03] RiieCco commented on #7
@kingthorin, i am on it again!

[2020-12-15 15:14] kingthorin commented on #592
Alright that's fair. I'm okay with closing it.

@RiieCco if you have notes/thoughts on the content you did look at feel free to open other issues.

[2020-12-16 10:03] ThunderSon opened #687 "Repository in Slow Mode"
Dear Contributors,

As version 4.2 is released and as we start investing in setting the plan for the next release, and as the holidays are around, the team won't be as active as it used to be.

We wish you have a wonderful holiday!
--
WSTG Team

[2020-12-17 08:47] kousha1999 opened #689 "Fix some typo issue"
**What's the issue?**

[Testing for Incubated Vulnerability (Line 80)](https://github.com/OWASP/wstg/blob/c7112558b0b8ba9a35f20db548522c72acf90822/document/4-Web_Application_Security_Testing/07-Input_Validation_Testing/14-Testing_for_Incubated_Vulnerability.md)
**Remove Spaces Between `back door`**
:heavy_multiplication_x: `back door`
:heavy_check_mark: `backdoor`

[Testing for Cross Site Flashing

[2020-12-17 10:30] #689 closed

[2020-12-17 22:07] kousha1999 opened #691 "PoC for Wildcard Access-Control-Allow-Origin in Testing Cross Origin Resource Sharing"
Add a **PoC** for **Wildcard Access-Control-Allow-Origin** in **Testing Cross Origin Resource Sharing**.
I'll PR as soon as possible. Please comment and assign me if you have any idea or if it needs edit.
- [x] Assign me, please!

[2020-12-18 19:11] efx commented on #564
@ThunderSon thanks for the update. Due to other commitments and my lack of understanding I will *not* be finishing this. Can you remove me from being the assignee when you are free? Many thanks!

[2020-12-18 21:50] kingthorin commented on #564
No problem, thanks for your help.

[2020-12-19 06:25] kousha1999 opened #696 "Add Testing for JSON Web Token (JWT)"
There are some types of attacks in JWT. I think it is nice to add a test case scenario for that.

[2020-12-19 10:40] ThunderSon commented on #696
Yes, definitely. I think this fits in sessions chapter. It was to be implemented as new additions were coming to APIs.

@kingthorin @scalzava do you agree on the location of this? What are your thoughts on it?

[2020-12-19 11:07] scalzava commented on #696
Yeah, it should definitely belong to the session management chapter. That would be a great addition to the guide, which I look forward to read! Yet, the right presentation is far from obvious IMHO.

We should be careful on the definition of JWT security. If JWTs are stored in cookies, they largely inherit the same weaknesses of traditional cookie-based sessions. The concern is really providing sug

[2020-12-19 22:17] ThunderSon commented on #696
I agree with both points. When I say let's discuss JWT, it means the weaknesses in that implementation, so point number 1.

For point number 2, the closest I found in the guide was [CLNT-12](https://github.com/OWASP/wstg/blob/master/document/4-Web_Application_Security_Testing/11-Client-side_Testing/12-Testing_Browser_Storage.md), but it doesn't discuss in details the differences for sessions.

No

[2020-12-19 22:31] kingthorin commented on #696
Let’s not confuse JWT with session tokens, there are lots of arguments against using them as such. (Though I’m happy to be proven wrong.)

Just search something like “ jwt are not session tokens”.

Given the number and variety of attacks/weaknesses I’d almost be happy with a separate section. Although maybe we are better with deeper split sections like SQLi?

[2020-12-19 22:44] rbsec commented on #696
My thoughts would be that there are a lot of JWT specific issues that need to be tested for, such as:

* Is the signature actually verified?
* Can you use the `none` (or `NoNe` signature algorithm)?
* Is the HMAC using a weak key?
* Can you mix up the RSA and HMAC methods?
* Can you use a publicly available key to encrypt with RSA?
* etc

I think that these could easily justify a section of the gu

[2020-12-19 22:52] kingthorin commented on #696
I agree, whole heartedly.

[2020-12-20 07:56] scalzava commented on #696
So, if I get the discussion correctly, it seems that:
1. We agree that JWTs require a dedicated section in the guide, in particular focused on best crypto practices.
2. We might consider extending the "Testing browser storage" section to include additional information on using web storage for sessions

Is this an appropriate summary? Also, I agree with the final statement of @rbsec: we don't want

[2020-12-20 09:19] rbsec commented on #696
@scalzava do you think there's anything significant that you feel is missing from the existing [browser storage testing guide](https://github.com/OWASP/wstg/blob/master/document/4-Web_Application_Security_Testing/11-Client-side_Testing/12-Testing_Browser_Storage.md) that should be added? If so, it's probably worth opening a separate issue/PR for that - so this issue doesn't get too mixed up with n

[2020-12-20 10:51] scalzava commented on #696
I'd say the "browser storage testing guide" is not really a testing guide :) Of course, no offense meant to anyone - it just sounds more like a general introduction to client-side storage. I think it can be improved, though I would need to reason about it more formally. I do agree that we should reserve this issue to JWTs alone and open a new issue if we feel the need (not sure it's a top priority

[2020-12-20 11:30] kousha1999 commented on #696
As JWT Website said: JSON Web Token (JWT) is an open standard (RFC 7519) that defines a compact and self-contained way for securely transmitting information between parties as a JSON object. Also it can be use for authentication and authorization and even mostly in API for authentication. So it is hard to tell exactly which chapter is better for this. I'm agreed that it should be separated in diff

[2020-12-20 11:53] ThunderSon commented on #696
I think my comment made things go into various directions. Let me go into more details.

1. The linked test guide was created in a way to help the tester to look into client-side storage. It didn't go into the pros and cons of each one. It mainly goes on to say "Look into these storage types, what can you find, and are they sharing any sensitive data?". I was the main revamper of that test section

[2020-12-20 11:58] rbsec commented on #696
Worth noting that there's already some (fairly high level) JWT testing guidance, but it's not in the main document:

https://github.com/OWASP/wstg/blob/master/Testing_for_APIs.md#specific-testing--token-based-authentication

[2020-12-20 11:58] ThunderSon opened #700 "Browser Storage Methods and Implications"
Following on #696 , a discussion erupted on browser storage methods and [CLNT-12](https://github.com/OWASP/wstg/blob/master/document/4-Web_Application_Security_Testing/11-Client-side_Testing/12-Testing_Browser_Storage.md).

The discussion mainly is about different storage techniques, and their security implications. Should the WSTG handle that or not, and if it should, how should it do so?

[2020-12-20 13:05] kousha1999 opened #701 "Mitigate Clickjacking by Content-Security-Policy"
**What's the issue?**
There is a almost new solution to avoid Clickjacking with `Content-Security-Policy` header.
I'll PR it ASAP. I'm not fluent in English. Can someone check grammar (also technically) please?

- [X] Assign me, please!

[2020-12-20 13:40] kingthorin commented on #701
Keep in mind this guide is about testing not control or countermeasure implementation.

[2020-12-20 18:16] kousha1999 commented on #696
@ThunderSon I would love to but I'm not fluent in English, So it is so hard for me to write something like that by myself, thus I need so much help. I think it is better to someone work on it and I'll help him.

[2020-12-23 19:33] v-zafari opened #704 "Translation to Persian"
Hello everybody

We (My team) want to translation wstg to **persian** language 🎅.
please add persian language in GitLocalize.

[2020-12-24 11:21] kousha1999 commented on #704
I've started this project (Translation to Persian) last month. So i think, it is better to don't bother yourself. I've done 40% of translation. It will be done soon.

[2020-12-24 12:41] kingthorin commented on #704
Persian [fa] has now been added to GitLocalize.

Please let us know who will moderate submissions.

[2020-12-24 18:19] kousha1999 commented on #704
@kingthorin I can moderate this, as i said i already did that in last month some part of it.

[2020-12-24 19:51] kingthorin commented on #704
Okay I’ve set you. I’ll be priming the image directories, etc after the 26th. (That doesn’t keep anyone from moving ahead with translation work.)

[2020-12-24 19:51] #704 closed

[2020-12-25 19:37] v-zafari commented on #704
That's excellent @kousha1999
Our team has also done a lot of translations and it is currently under review.
We are waiting for you to put your (40%) translations in GitLocalize to prevent rework.

Regards
Zafari

[2020-12-26 08:51] Nima-Dabbaghi commented on #704
Do not bother @v-zafari . In total, 60% of the translation of the book has been completed and will be published soon.

[2020-12-26 21:03] v-zafari commented on #704
Thank you for your advice @Nima-Dabbaghi , publishing this book in Persian is good news.
No problem, multiple translations can improve the quality!
Based on your comment (60% progress) and @kousha1999 comment (40% progress), our team seems to be ahead, most of the work is done and it is being finalized.

[2021-01-02 10:05] DotDotSlashRepo opened #705 "Enhance WSTG-BUSL-09 - Upload of Malicious Files"
**What's the issue?**
This is an enhancement request. *Test Upload of Malicious Files* can be enhanced through following suggestions.

- [ ] 1. Filter Evasion : Add magic byte based evasion to bypass weak content validation
- [ ] 2. Filter Evasion: Add metadata based malicious payloads, which can be triggered if uploaded file is included by the web server.
- [ ] 3. Malicious File Contents - Other

[2021-01-02 10:08] DotDotSlashRepo commented on #696
@ThunderSon  @kousha1999 I can help with this issue.

[2021-01-02 10:27] DotDotSlashRepo opened #706 "WSTG-CONF-03 - File Extensions Handling for Sensitive Information; sub section File Upload is ambiguous"
**What's the issue?**
The subsection of WSTG-CONF-03 *File Extensions Handling for Sensitive Information*, **File Upload** is ambiguous and has content overlapping with *Test Upload of Malicious Files*. From the test objective, idea of this test case is to identify existing sensitive files in the web server via dirbusting.

However section "File Upload" which talks about 8.3 file uploads, which lo

[2021-01-02 18:50] DotDotSlashRepo commented on #8
@kingthorin I would like to work on this.

[2021-01-02 21:49] kingthorin commented on #8
Go for it 👍

[2021-01-05 09:48] ThunderSon commented on #705
Hello!
I will be reviewing this week and discussing the above suggested points. Thanks for going into a detailed discussion about this matter.
There is now conflicting interest in some cases with INPV-11.1 - Local File Inclusion. We'll try to get down on this the soonest, as the team is still coming back from the holidays.

@kingthorin @jespunya @RiieCco your input would be valuable on this matter

[2021-01-06 12:04] kingthorin commented on #705
Ran across this yesterday: https://mobile.twitter.com/hunter0x7/status/1346397333072846848 seems relevant to this topic.

[2021-01-10 22:02] #671 closed

[2021-01-12 14:03] meghapujari commented on #520
please give me feedback i am beginner its my first contribution

[2021-01-12 14:04] meghapujari commented on #520
give me feedback its right or wrong

[2021-01-12 14:22] kingthorin commented on #520
@meghapujari my feedback is that your comment seems like spam and it will be deleted in a few hours unless you can clarify your involvement here.

[2021-01-12 14:53] meghapujari commented on #520
please didn't understand your feedback please clarify it

[2021-01-12 14:56] kingthorin commented on #520
@jespunya == @meghapujari ? Using multiple accounts?

[2021-01-12 15:37] Magii204 commented on #520
No i have single account

[2021-01-12 15:48] kingthorin commented on #520
Okay so what's your involvement this with ticket?

[2021-01-12 15:59] kingthorin commented on #520
So I've assigned the issue to you, if you've got a fix ready then please open a pull request and we'll review.

[2021-01-12 18:11] DotDotSlashRepo commented on #268
assign me please.

[2021-01-12 18:17] kingthorin commented on #268
Done!

Template info here:: https://github.com/OWASP/wstg/tree/master/template
Style info here: https://github.com/OWASP/wstg/blob/master/style_guide.md

[2021-01-13 13:57] Magii204 commented on #520
thank you so much for helping

[2021-01-14 14:32] Mindslave commented on #563
Hi,
is this issue still up for anyone to take? After looking at the discussion on #419 I'm not sure anymore.
If it is I'm looking for a way to make my first contribution to OWASP and this seems like a good point to start.

If the plan is to merge ATHN-01 into CRYP-01, whats going to happen to the other ATHN-XX Numbers? Do they all change accordingly (decrement by one)?

[2021-01-14 14:40] kingthorin commented on #563
We're still in a little bit of a [winter lull](https://github.com/OWASP/wstg/issues/687), I believe this one is still up to be tackled.

For the numbering while we're in the 4.x series of releases there will be a placeholder, once we roll 5.x everything will shift.
- Similar to here: https://github.com/OWASP/wstg/blob/master/document/4-Web_Application_Security_Testing/07-Input_Validation_Testing/0

[2021-01-15 16:29] Magii204 commented on #269
I would like to work on this.

[2021-01-16 08:30] Mindslave commented on #563
I think I'm gonna give it a shot then, you can assign this issue to me.
Regarding my last comment "If the plan is to merge ATHN-01 into CRYP-01", CRYP-03 seems more suitable.

[2021-01-17 11:31] phish commented on #654
I've finished the document, I'll be posting a pull request soon.

[2021-01-17 19:10] DotDotSlashRepo commented on #654
Oopsie! I did a PR #708 earlier on this.

[2021-01-20 13:14] Magii204 commented on #591
I would like to be  work on this.

[2021-01-26 08:09] Mindslave commented on #564
Hey,

I would be interested in giving this a shot. If possible could one of you take a look at my work on https://github.com/OWASP/wstg/pull/714 and confirm that I am on the right path there? (If not I would focus on getting that right first, if yes I would like to take this issue)

[2021-01-26 17:35] kingthorin commented on #564
Hey @Mindslave, thanks for reaching out. We are still in a bit of a [slow mode](https://github.com/OWASP/wstg/issues/687) following the winter holidays. I'll try to have a look at your other PR in the next few days.

[2021-01-30 10:52] rbsec commented on #660
This was fixed in #661, so closing.

[2021-01-30 10:52] #660 closed

[2021-02-03 14:40] Magii204 commented on #637
I would like to be work on this.

[2021-02-03 14:49] kingthorin commented on #637
Thanks for volunteering, however I don't think the team has landed on a final plan for this yet.

[2021-02-04 06:16] Magii204 commented on #351
I would like to be work on this.

[2021-02-05 12:41] RiieCco commented on #7
Almost finished, need to put in some scan output results in the file. Had a couple of busy weeks but i expect to finish it soon for a first PR ^^

[2021-02-06 01:01] ThunderSon commented on #564
@Mindslave would love to see your PR on merging these as well. Looking forward :)

[2021-02-06 01:13] ThunderSon commented on #567
Closed in #662

[2021-02-06 01:13] #567 closed

[2021-02-06 01:34] ThunderSon commented on #268
This is one of the bigger issues to handle, so feel free to open a draft PR, reach out to us whenever you need for support with work, or anything you might need. Thanks for taking this on!

[2021-02-11 02:15] patrickceg commented on #592
As a developer, my thoughts on code review or grey / white box:

* Anything where a human must _manually look at_ the configuration or source code to find vulnerabilities should go in a different guide (secure coding guides, hardening guides, etc) because staring at source code is not really a "test"
    * I don't think there is a case where you can have a vulnerability found by staring at the cod

[2021-02-11 02:29] patrickceg commented on #583
You can assign me to this, given I want to try to get my personal projects up again over the next few weeks. (Enough virtual vacations in video games 🎮 😆)

My plan is as follows:

- Go over all articles and look for examples of HTTP or packet captures
- Decide on a format (I won't go with a format right away because I want to see all the ways we use captures in the guide before coming up with one)

[2021-02-14 08:22] silverskyvicto opened #723 "Add Japanese Translations"
**What would you like to happen?**
There is no Japanese translation in the GitLocalize repository, and I would like to see it added.

[2021-02-14 12:52] kingthorin commented on #723
Done.

[2021-02-14 12:52] #723 closed

[2021-02-15 00:33] #691 closed

[2021-02-15 22:42] patrickceg commented on #583
Hmm there were more articles with captures than I thought... like last time, I am using a GIST scratchpad https://gist.github.com/patrickceg/79900464dfd23ca349970f2d8efd51ae#file-wstg583-md

**Question:**
I noticed different forms of request, some of them using tooling including Telnet, cURL, or ncat. Should we standardize on a tooling call for making the request?

example: switch all of the artic

[2021-02-15 23:19] kingthorin commented on #583
I’d say the whole “more than one way to skin a cat” thing is good.

Don’t get caught up on tool output, focus just on raw requests/responses.

[2021-02-16 01:27] victoriadrake commented on #583
I'd add that if it helps clarity, we can say "all examples in this book use X tool to show output" but only if it makes it less complicated, not more.

[2021-02-21 02:08] Mindslave commented on #564
So I have started to look into this, but I am not yet certain about the right place for this. You suggested ATHN-04 before but you linked to IDNT-04. I think IDNT-04 is what you really meant there, and while I agree that this probably belongs in the Identity Management section, it doesn't really feel right as part of "Testing for Account Enumeration and Guessable User Account", because this sectio

[2021-02-23 20:21] patrickceg commented on #583
(The CMOS battery of the machine I primarily use for this project failed, so I'm waiting on the special CR2032 with welded tabs to come in.)

Ok, I'll dig in to each of the uses with calls to tooling to see how their request/response is used in the context of the article. My first pass was really just seeing where are there elements that look like an HTTP request or response.

[2021-02-23 20:34] kingthorin commented on #583
Thanks @patrickceg, please keep in mind:
1. The repo/project are in a bit of a lull still.
2. We don't want this to be a huge time sink for you (or anyone) so stay in-touch, or think about whether or not it's practical to break into chunks.

[2021-02-23 21:28] patrickceg commented on #583
No problem: I barely spent 2 hours so far, and half of that was setting up all my Github stuff for the first time in a few months.

[2021-03-02 21:40] patrickceg commented on #583
Do we have any other examples of specific recommendations for pieces of content?

I notice https://github.com/OWASP/wstg/blob/master/template/999-Foo_Testing/2-Template_Explanation.md has the general template recommendations. However, blindly adding something as specific as the format for an HTTP response would be out of place.

I was thinking of a blurb similar to the following, but I'm not sure

[2021-03-07 12:19] victoriadrake commented on #583
@patrickceg I think that what you've put together so far makes sense. I agree about

Since we may have more examples for things like captured output, code samples, etc, do you think it would make sense to add a new document or directory under `OWASP/wstg/blob/master/template/` to house these?

[2021-03-15 22:37] patrickceg commented on #583
Sorry for the late reply: I'm going to have to check notifications settings because I didn't get one for that message.

Since it sounds like we have no structure for specific examples, I'll try to make one under the template directory and see how it looks / how to link to it from the style guides or other parts of the contribution guide.

[2021-03-15 23:52] doverh opened #725 "WSTG Portuguese-BR translation"
This is the [translation repository for the Portuguese-BR](https://github.com/doverh/wstg-translations-pt)

[2021-03-16 00:08] #725 closed

[2021-03-16 00:11] kingthorin commented on #725
Done 😁

[2021-03-17 04:01] pinkLagoon opened #727 "Add a section for checking if the server responds with sensitive information."
**What would you like added?**
We sometimes see that developers might just serialize an entire object into JSON and returns it in a API response. Sometimes this object contains sensitive information. I personally have seen passwords and API keys being displayed. I think this will fall under the new 4.12 API Testing section.

Would you like to be assigned to this issue?
I might later. If someone be

[2021-03-17 04:04] pinkLagoon opened #728 "Add a section for checking if the web application properly hashes passwords before storing them in the backend."
**What would you like added?**
Sometimes web applications do not hash their passwords before storing them. It **should** be rare these days but I've come across this a few times and could not find an appropriate WSTG item that matches this finding. This seems like a very important thing to be checking for especially if you have access to the source code of the application.

[2021-03-20 00:20] ThunderSon commented on #728
Are you able to provide me a scenario where it might be a direct attack vector against web?
I see this as something done to protect the private data stored. The guide doesn't go into that. It's similar to the guide not going into CC details.
@kingthorin is there maybe something to do with configuring security measures on data storage that we can try and set? Maybe in the first chapters?

[2021-03-20 00:27] ThunderSon commented on #727
I highly believe this goes beyond API testing.
I just noticed the guide doesn't tackle that point, CWE 200 and similar vectors.
@kingthorin what do you think about this? Top 10 A3 (sensitive data exposure) is just referenced when data is sent unencrypted, but the guide in no way discusses "more" data being sent back to the user.
Would be interesting to find a home for it.

Nice catch @pinkLagoon!

[2021-03-20 00:57] kingthorin commented on #727
Yup this is definitely something we need to tackle. I've definitely seen apps in the past that returned JSON or XML responses that contained more data than displayed to the user.

[2021-03-20 12:01] zanardigit opened #729 "EPUB version"
Hello and thank you for this excellent and extremely useful resource!

Is there any plan / WIP about an EPUB version of the guide? Or is there anyone who would be interested in wokring on it?

[2021-03-20 12:04] kingthorin commented on #729
There isn’t currently any plan for an epub version, however we could investigate if there’s a simple way to convert the PDF.

[2021-03-20 12:16] zanardigit commented on #729
I already did a test about PDF to EPUB conversion, but PDF is a very difficult format to convert from and the quality of the result is very low. I'm now testing with `pandoc` from MD sources, and it looks like we're getting somewhere. Attached you can find a no-image EPUB version which took only a few minutes to create.

I will spend a little more time on it to see if I can include images as well

[2021-03-20 16:05] ThunderSon commented on #729
That's an interesting proposal. So before we make this into a PDF, we do some magic to transform the headers and the figures into parseable entities, so that we can reference them across the document and have the links activate like you'd be doing on the web interface. So clicking on "Chapter 4.1.5" would take you there, and not just be a reference to where they can find it.

As we've seen, the en

[2021-03-20 16:12] ThunderSon commented on #727
This is currently being reviewed to see on how many stages this can be added.
1. Potentially dangerous data
2. Benign data -- cultural and leads to maturity

Talking with @elarlang ASVS doesn't have clear directions on that topic as well.

[2021-03-20 16:17] ThunderSon commented on #583
By checking the provided examples, this still has the issue of having all headers. What's the purpose in examples that contain all possible headers in a request? I can send an `HTTP/1.1` request with barely the host and the path after connecting to the server's port.

[2021-03-20 16:53] #563 closed

[2021-03-20 18:07] ThunderSon commented on #564
I believe I am more inclined to say I am talking ATHN-04. You can't know about these users without testing them through for example forgot password functionality, registration, login, or even IDORs.

The identity management section is a bit tricky, I even consider most of the points as parts of other test families. Bypassing login for example is bypassing business logic, or mis-configuration based

[2021-03-21 10:40] 1n4n0 commented on #728
Yes I totally agree to @pinkLagoon. If the organization faces a data breach or even an insider threat scenario, the hashed passwords would be a second layer of security which could at least reduce the impact of the breach.
A very simple guide might be to check size of password after intercepting the traffic. I know this is very basic and would only work if the hashing occurs on the client side.
I

[2021-03-21 13:23] ThunderSon commented on #728
We are clear on the need and purpose of hashing passwords.
Client-side hashing is out of the discussion of this issue. Hashing the password before it reaches the server makes that hash the password, requiring another hash run on the server to secure that. We're talking about proper database entry hashing.

My question comes around: I am doing a penetration test, how can I know how the password is

[2021-03-21 13:26] kingthorin commented on #728
The only way I can see that this might fit in is if the tester were to come across one of the few remaining systems that in 2021+ still emails users their passwords in plaintext when they use "Forgot Password" (which obviously implies they are stored as such).

[2021-03-21 13:47] rbsec commented on #728
As @kingthorin, the only really reliable way to determine that they're not hashing passwords is if they ever send you *an existing* clear text password. This is probably something that should be highlighted in [the password reset testing guidance](https://github.com/OWASP/wstg/blob/master/document/4-Web_Application_Security_Testing/04-Authentication_Testing/09-Testing_for_Weak_Password_Change_or_R

[2021-03-26 08:58] rbsec commented on #728
Thinking about this, there's a somewhat related issue about [magic hashes](https://github.com/spaze/hashes) that you can test for from a blackbox perspective. It's more about hash comparison than the specific algorithm used, although if they are vulnerable then it probably implies they're using a weaker algorithm (as any has that starts with a `$` won't be vulnerable).

Is that something that woul

[2021-03-26 09:15] elarlang commented on #728
This "magic hashes" or "PHP type juggling" is something worth testing, but test-result can be only verified incorrect situation. It also requires, that there is mistake in PHP program code (if hashes are compared correctly, there is no problem with linked hashes). I could not take it in as hashing testing.

[2021-03-28 20:01] patrickceg commented on #583
Noted: I'm finally getting my study routine back, so I'll make sure the example shows something about cutting out items. (...assuming my keyboard stops glitching as it did just as I was typing this 😒)

[2021-03-30 10:16] victoriadrake commented on #729
I think this would be a welcome addition @zanardigit if we can find a smooth automated way to generate it.

[2021-03-31 11:53] zanardigit commented on #729
Cannot make any promise, but I'll keep this on the radar and see what I can do. I guess I will ask on Slack if I need additional informations.

[2021-04-01 19:37] JCapriotti opened #734 "Cryptography - encryption vs signatures"
**What's the issue?**
[Section 4.9.4](https://github.com/OWASP/wstg/blob/master/document/4-Web_Application_Security_Testing/09-Testing_for_Weak_Cryptography/04-Testing_for_Weak_Encryption.md) (Testing for Weak Encryption) includes a few notes about digital signatures.

I'm curious if the section is meant to include signature information, since to me (a novice) encryption and signatures are two dif

[2021-04-02 23:02] ThunderSon commented on #734
I see the point you're trying to raise. Thank you for bringing this forward.
That section definitely has different vibes inside of it, no wonder it would confuse anyone reading it.

@rbsec @kingthorin what do you think about this? That section covers cryptographic implementations, and not only encryption.

[2021-04-03 00:32] kingthorin commented on #734
I think adding some info on signatures would be a good move.

[2021-04-03 09:17] rbsec commented on #734
@JCapriotti for reference, elliptical curve should pretty much always be preferred over RSA, and if you do have to use RSA, your keys should always be at least 2048 bits (regardless of whether you're doing encryption or signatures).

@ThunderSon to be honest, I think the entire guide could probably do with rewriting. Most of the content in it isn't wrong, but it's essentially a list of bullet poin

[2021-04-03 11:45] ThunderSon commented on #734
I was contemplating those thoughts yesterday.

@kingthorin would it be safe to just move forward with the guide being "You are testing an application without additional information or knowledge"?
I am with this being transferred to other projects. We do cover TLS implementation over HTTP in another section, we cover oracle padding (I'm pretty sure it's old now as we didn't update it yet ...). We c

[2021-04-03 16:32] RiieCco commented on #7
@kingthorin, I will create the PR next week! :-)

[2021-04-05 19:59] patrickceg commented on #583
Since the format is settled, here's a list of the pages that deviate enough that it's worth spending time to change.

Reformat:

- 4-Web_Application_Security_Testing\04-Authentication_Testing\01-Testing_for_Credentials_Transported_over_an_Encrypted_Channel.md
- 4-Web_Application_Security_Testing\09-Testing_for_Weak_Cryptography\03-Testing_for_Sensitive_Information_Sent_via_Unencrypted_Channels.md

[2021-04-10 15:50] jespunya opened #736 "Broken Link: Man-in-the-middle_attack → Manipulator-in-the-middle_attack"
**What and where?**

FILE:document/4-Web_Application_Security_Testing/09-Testing_for_Weak_Cryptography/03-Testing_for_Sensitive_Information_Sent_via_Unencrypted_Channels.md
https://owasp.org/www-community/attacks/Man-in-the-middle_attack → Status: 404

It should be:

https://owasp.org/www-community/attacks/Manipulator-in-the-middle_attack

Would you like to be assigned to this issue?
Check the box

[2021-04-10 15:56] kingthorin commented on #736
It was broken here: https://github.com/OWASP/www-community/pull/400

[2021-04-10 16:41] #736 closed

[2021-04-13 16:45] rbsec opened #742 "Update password reset testing guidance"
The current [password reset testing guidance](https://github.com/OWASP/wstg/blob/master/document/4-Web_Application_Security_Testing/04-Authentication_Testing/09-Testing_for_Weak_Password_Change_or_Reset_Functionalities.md) is missing quite a few areas, such as any testing of the password reset link, account enumeration and automated attacks.

It also seems a little confusing that it covers both pa

[2021-04-13 17:35] ThunderSon commented on #742
Would love that, please go ahead. Feel free with what works best for you (skeleton or a draft).

I can clearly say the attack scenarios are a bit different, so they can definitely be split, or even merged into something else (for example user guessing has another test).

[2021-04-15 06:39] PauloASilva commented on #492
On the API Testing side,  [MindAPI] is becoming a valuable asset. Not sure how it can be included, but I am sure it worth a reference.

Cheers,
Paulo A. Silva

[MindAPI]: https://dsopas.github.io/MindAPI/play/

[2021-04-15 08:18] rbsec commented on #370
This has been superseded by #743, so closing.

[2021-04-15 08:18] #370 closed

[2021-04-15 09:04] rbsec commented on #696
I've created an initial skeleton for a guide in PR #744. Any comments or feedback are very welcome.

[2021-04-16 16:59] kingthorin commented on #734
Hmmm I'm not sure we should limit it to "black-box". Though either way wouldn't this still be applicable?

[2021-04-22 09:13] victoriadrake commented on #729
This could come in handy: https://news.ycombinator.com/item?id=26898591

[2021-04-22 13:14] rejahrehim commented on #729
@ThunderSon I can take this. Let me try and come up with a plan

[2021-04-22 13:16] kingthorin commented on #729
@rejahrehim I believe @zanardigit is already working on it, per the earlier comments.

[2021-04-22 13:49] zanardigit commented on #729
@kingthorin @ThunderSon @rejahrehim I haven't done anything yet so if anyone is willing and ready to go, they're welcome. Not much spare time in these period unfortunately.

[2021-04-22 13:57] kingthorin commented on #729
@zanardigit no problem, thanks for letting us know.

[2021-05-02 09:23] rbsec commented on #696
#744 is now ready for review - any comments or suggestions are welcome.

[2021-05-15 08:28] rbsec commented on #742
The associated PR (#743) is ready for review.

[2021-05-15 08:51] cmlh opened #747 "Reference NSA for TLS Automated Tests"
**What's the issue?**

This issue is related to https://github.com/OWASP/ASVS/issues/992

The NSA has published ["_Scanning Tools_" within "_Mitigating Obsolete TLS_"](https://github.com/nsacyber/Mitigating-Obsolete-TLS#scanning-tools) which may not be listed by the ["_Automated Testing_" section of WSTG-CRYP-01]( https://github.com/OWASP/wstg/blob/master/document/4-Web_Application_Security_Testin

[2021-05-16 14:29] Mindslave commented on #564
Hi,
until early July I really can't make this a priority, if anyone else wants to do it before, please feel free. If no one wants to do it I'm hopefully coming back to this in early July.

[2021-05-16 14:31] kingthorin commented on #564
No problem, thanks for letting us know.
👍

[2021-05-21 13:35] rbsec commented on #747
That list of scanning tools has some interesting choices. Some of them are clearly intended to push a commercial product (such as https://www.hardenize.com, or the link to the Nessus plugins), which I'm not so keen on (although to be fair, Qualys does this to a lesser extent).

Some of them are just odd. Do we really want to recommend that someone doing a webapp assessment uses something like http

[2021-05-21 13:41] kingthorin commented on #747
Agreed, I wouldn't want us to use this list directly. Though I'm fine referencing it.

[2021-05-23 22:28] twicedi opened #748 "Add Testing for mass assignment / autobinding"
**What would you like added?**
It might be useful to add a specific section dedicated to tests for mass assignment / "autobinding" vulnerabilities. Something very generic is treated inside the [WSTG-BUSL-07](https://github.com/OWASP/wstg/blob/master/document/4-Web_Application_Security_Testing/10-Business_Logic_Testing/07-Test_Defenses_Against_Application_Misuse.md) in which, among the potential ap

[2021-05-24 11:10] twicedi commented on #748
Thanks @kingthorin, regarding the categorization, the ASVS put the related requirement [V5.1.2 ("Verify that frameworks protect against mass parameter assignment attacks, or that the application has countermeasures to protect against unsafe parameter assignment, such as marking fields private or similar")](https://github.com/OWASP/ASVS/blob/v4.0.2/4.0/docs_en/OWASP%20Application%20Security%20Verif

[2021-05-24 23:00] ThunderSon commented on #748
It can be mentioned in both. I'd detail it in the INPV section, and referenced in the BUSL section. It was a good catch to begin with, fitting into that section, might as well benefit from your analyses :)
A developer would consider the framework not vulnerable to such a thing based on the assumption that "I am not parsing this, why would it".

If there is disagreement on this, feel free to begin

[2021-05-24 23:06] ThunderSon commented on #747
Maybe a good split between OSS tools versus off the shelf software sections would give this justice?
I am against including a couple of tools on github that are barely maintained, otherwise it looks feasible to inject some of them into the guide.

[2021-05-24 23:07] #583 closed

[2021-05-24 23:45] cmlh commented on #747
@rbsec @kingthorin @ThunderSon

It's a slippery slope to exclude specific product[s] listed on [_"Scanning Tools"_ of _"Mitigating Obsolete TLS"_](https://github.com/nsacyber/Mitigating-Obsolete-TLS#scanning-tools).  Some OWASP Board Members have promoted their own commercial products (much to my own horror) within OWASP therefore based on this precedence it would be unfair to others.

However I c

[2021-05-25 00:28] kingthorin commented on #747
No there’s no point adding junk tools just because they appear in some other reference. Either to pick things that are actually useful or we just reference the resource with no guarantees.

Or, close this and don’t worry about other projects or the NSA.

[2021-05-25 00:42] cmlh commented on #747
My intention was to reference without guarantee as I am not convinced that these products are "_junk_" due to the high standing of NSA.

Please refer to the citation of https://samate.nist.gov/SARD/testsuite.php within https://owasp.org/www-project-benchmark/ @kingthorin as an example of OWASP citing NSA.

[2021-05-25 00:55] kingthorin commented on #747
I’m not saying we shouldn’t cite the NSA, I’m saying blindly trusting a resource simply based on tenuous organizational relationship might not be the best move.

My stance remains that at most we include it as a reference and not try to duplicate the content.

[2021-05-25 07:55] cmlh commented on #747
Can we hold off on comments until I have compared the NSA ["_Scanning Tools_"](https://github.com/nsacyber/Mitigating-Obsolete-TLS#scanning-tools)  to that of the [ "_Automated Testing_" section of WSTG-CRYP-01](https://github.com/OWASP/wstg/blob/master/document/4-Web_Application_Security_Testing/09-Testing_for_Weak_Cryptography/01-Testing_for_Weak_Transport_Layer_Security.md#automated-testing) pl

[2021-05-25 08:02] rbsec commented on #747
I don't think it should really be a case of excluding tools at all. There are hundreds (thousands?) of tools out there that can be use to scan SSL/TLS implementations, so it's not realistic to try and justify why they are not included from a guide like this. AFAIK there aren't really any hard criteria for which tools are included, but the main areas to consider are:

* Is the tool effective and re

[2021-05-25 09:05] twicedi commented on #748
Perfect, thanks @ThunderSon. I begin writing the section and I agree putting it under INPV chapter, referenced under the BUSL chapter. Anyway, if needed, we can always do further evaluations once the section will be completed.

[2021-05-25 09:13] #696 closed

[2021-05-25 09:28] kingthorin commented on #747
💯 @rbsec

[2021-05-25 10:29] cmlh commented on #747
https://github.com/OWASP/www-community/blame/master/pages/attacks/Brute_force_attack.md#L52 committed by @kingthorin on 31 October 2020 endorsed `DirBuster` which has been deprecated for well over a decade @rbsec

¯ \ _ ( ツ ) _ / ¯

I'll close this issue for the moment until the above is delivered with consideration to what has been put forth in the various other comments above.

[2021-05-25 10:29] #747 closed

[2021-05-25 10:32] kingthorin commented on #747
Actually if you actually look at the diff/history you'll note that was just clean-up of auto-migrated content.

[2021-05-25 10:54] ThunderSon commented on #747
@cmlh please do not propose any changes, we are not here for you to poke at. I will not accept any PR from your side.
@kingthorin took on massive work on the community website to help the migration, just for you to throw such a thing out of nowhere? And how is the community website in any way related to this project?
I respectfully ask you to stay off and away from the project.

[2021-05-25 10:58] #742 closed

[2021-07-07 14:54] tarasovkraud opened #764 "WSTG-IDNT-05"
Hey! Please explain why WSTG-IDNT-05 is separated from WSTG-IDNT-04? Is a strict account format in a web application (eg John Doe - j.doe) is a vulnerability?

[2021-07-07 15:08] kingthorin commented on #764
- 04 deals with account enumeration (ex: being able to figure out account names based on error message, known accounts (admin, Administrator) etc).
- 05 deals with patterning in account names (ex: first 5 char of last name plus 1 char of first name, phonenumber, student number, etc)

They definitely overlap, and could probably be combine for v5.

[2021-07-16 13:09] mrjonstrong opened #771 "Link update for Practical HTTP Host Header Attacks on WSTG-INPV-17 Testing for Host Header Injection"
Page
https://owasp.org/www-project-web-security-testing-guide/latest/4-Web_Application_Security_Testing/07-Input_Validation_Testing/17-Testing_for_Host_Header_Injection

In 'References' at the bottom of the page the last bullet point 'Practical HTTP Host Header Attacks'

Currently points to: https://www.skeletonscribe.net/2013/05/practical-http-host-header-attacks.html
Should point to: https://por

[2021-07-16 13:39] kingthorin commented on #771
Why should it point to portswigger? It’s skeletonscribe’s original work.

[2021-07-16 13:51] mrjonstrong commented on #771
Good question @kingthorin

I read and followed the link in the first paragraph of his post ('Update from 2020) which linked to the portswigger lab. Having read both I thought that the updated page from 2020 might be better to point to than the original post he preserved from 2013.

![Screenshot 2021-07-16 at 14 45 19](https://user-images.githubusercontent.com/42520909/125958532-16390501-dc3d-4ebb-

[2021-07-16 15:39] #564 closed

[2021-07-16 15:42] kingthorin commented on #771
Fair enough

[2021-07-16 15:45] #771 closed

[2021-07-20 12:03] roelstorms opened #775 "Adding prototype parameter pollution"
Is it useful to add a section on prototype pollution (not to be confused with http parameter pollution)? This vulnerability is a couple of years old but I cant find any reference in any OWASP project to it. It has one very interesting instance in a Kibana RCE exploit ([CVE-2019-7609](https://research.securitum.com/prototype-pollution-rce-kibana-cve-2019-7609/)).

If you feel this is missing I can

[2021-07-20 13:37] kingthorin commented on #775
I think it makes sense to add some content as a sub-section under Client-side testing.

[2021-07-23 16:14] ThunderSon commented on #775
This is on the backend, and not client-side. This should go under the injection category.

[2021-07-23 16:21] kingthorin commented on #775
Are there two topics here? I was thinking like JS prototype pollution (ex:  https://portswigger.net/daily-swig/prototype-pollution-the-dangerous-and-underrated-vulnerability-impacting-javascript-applications)

[2021-07-30 18:03] #269 closed

[2021-07-30 18:07] kingthorin opened #779 "DOM Based Self-XSS Needs Relocation"
~~Objectives need to be added to https://github.com/OWASP/wstg/blob/master/document/4-Web_Application_Security_Testing/07-Input_Validation_Testing/20-Testing_for_Self_DOM_Based_Cross_Site_Scripting.md~~

This scenario should be moved to 4.11.1.1 kind of like the specific "flavors" of SQLi.

[2021-07-30 19:08] kingthorin opened #780 "Broken Link Analysis"
Per a recent full run of the link checker, and my manual review. Notes inline with bullets.

---

FILE:./document/4-Web_Application_Security_Testing/10-Business_Logic_Testing/00-Introduction_to_Business_Logic.md
[✖] http://softwaretestingfundamentals.com/software-testing-life-cycle/ → Status: 0

* Actually Works

FILE:./document/4-Web_Application_Security_Testing/10-Business_Logic_Testing/03-Test_

[2021-07-31 03:05] Shivakumar14 commented on #269
Unsubscribe

On Fri, Jul 30, 2021, 23:34 Rick M ***@***.***> wrote:

[2021-08-07 12:35] #687 closed

[2021-08-07 12:37] victoriadrake commented on #779
Does this satisfy https://github.com/OWASP/wstg/issues/591?

[2021-08-07 12:39] victoriadrake commented on #592
Closing for now. This idea needs further specificity and consideration of scope.

[2021-08-07 12:39] #592 closed

[2021-08-07 14:12] kingthorin commented on #779
Nope. that's separate.

[2021-08-07 15:24] kingthorin commented on #779
https://github.com/OWASP/wstg/pull/782

[2021-08-07 15:24] #779 closed

[2021-08-08 15:12] #520 closed

[2021-08-12 19:43] statictear opened #784 "PCI DSS Penetration Test Guidance link out of date"
PCI DSS Penetration Test Guidance links to : https://www.pcisecuritystandards.org/documents/Penetration_Testing_Guidance_March_2015.pdf

Current version appears to be revision 1.1 :
https://www.pcisecuritystandards.org/documents/Penetration-Testing-Guidance-v1_1.pdf

[2021-08-13 13:36] #784 closed

[2021-08-16 20:07] alcastronic commented on #775
These are indeed two distinct topics. Prototype Pollution is an issue that  occurs in Java Script based environments due to the nature of java script being based on prototypes.

The first is the pp in Node.JS backends which got a good talk by oliviert arteu which I believe led to a "revival" of this issue:
https://github.com/HoLyVieR/prototype-pollution-nsec18

And second there is pp in frontends

[2021-08-19 12:05] mmd103 opened #787 "Adding section to address Java Service Workers"
Would it be feasible to add a section on Java Service Workers (and the methodolgy for analysis of Java Service Workers) to the guide ? This would focus mostly on client side testing but would also cover push and pull mechanisms.

Would you like to be assigned to this issue?
Check the box if you will submit a PR to add the proposed content. Please read CONTRIBUTING.md.
- [ X] Assign me, please!

[2021-08-19 14:01] kingthorin commented on #787
Do you mean JavaScript?

[2021-08-19 14:30] mmd103 commented on #787
Correct - JavaScript service workers, sorry for the confusion.

[2021-08-19 14:37] mmd103 commented on #787
Thank you @kingthorin.

[2021-08-26 12:01] Hipapheralkus opened #788 "Adding file producer metadata leakage"
**File producer metadata leakage**
If the web application generates files (e.g. pdf), using exiftools (or other techniques), the Producer can be found which created it. If the producer is known, e.g. `Producer: iText 2.1.7` or `Producer: mPDF 7.1.7` the attacker can discover whether any CVEs exist for such a tool leading to successful exploitation.

Although I was able to find https://owasp.org/ww

[2021-09-01 19:17] kingthorin commented on #588
Another potential ref/source: https://github.com/antonio-morales/Fuzzing101

[2021-09-07 20:28] alins1r opened #789 "a missed parenthesis"
I just see a missed parenthesis

Just add it to [this](https://github.com/OWASP/wstg/blob/master/document/4-Web_Application_Security_Testing/01-Information_Gathering/01-Conduct_Search_Engine_Discovery_Reconnaissance_for_Information_Leakage.md)

- [x] Assign me, please!

[2021-09-07 20:46] #789 closed

[2021-09-09 14:09] rbsec opened #791 "Add CDN bypasses and internal vhosts"
There are a couple of issues I've come across recently that I don't think are covered in the WSTG.

Firstly, lots of applications use a CDN (such a Cloudflare), which provides various protection such as a WAF. However, it's often possible to completely bypass the CDN/WAF by making requests directly to the webserver's IP address (rather than using the domain which points to the CDN). The basic step

[2021-09-09 14:21] kingthorin commented on #791
For the second one I definitely agree on 07-17. For the first one I need to think on it a bit.

[2021-09-13 11:44] kingthorin commented on #775
https://mobile.twitter.com/Black2Fan/status/1437324906811768838

[2021-09-15 10:03] RiieCco commented on #7
I am still working on this one, sadly i got a massive burn out after wanting to commit this.
I can send to anybody who wants to pick up on this what i already had written on the subject?

Otherwise i will commit in due time when i am getting back on track again :-)

[2021-09-15 11:11] kingthorin commented on #7
No problem, thanks for the update. Whenever you get to it is great. Don’t let stale bot get to ya/

[2021-09-15 11:20] RiieCco commented on #7
@kingthorin hahaha will do, thanks! ^^

[2021-09-17 18:21] alex97saba commented on #7
Hi everyone,
How far did you go in the project? I would like to continue your work if help is needed.
Thank you

[2021-09-19 19:45] saigoud25 commented on #729
Can I work on this. The task is to convert PDF to EPUB right?

[2021-09-19 20:06] kingthorin commented on #729
Well it doesn’t have to be from the PDF, though that might be easiest.

[2021-09-19 21:28] ThunderSon commented on #791
For the first one, it's  2 parts:
1. Discovery phase, definitely part of understanding the tech being used and adding it to map
2. For the last step in your schema, I believe this fits properly with what you're discussing: https://github.com/OWASP/wstg/blob/ede0735edb3ac674137f2176ae5ff96e3d134bcd/document/4-Web_Application_Security_Testing/05-Authorization_Testing/02-Testing_for_Bypassing_Authori

[2021-09-20 02:48] kingthorin commented on #780
www.domxss.com seems to be working once again.

[2021-09-20 17:26] #780 closed

[2021-09-20 19:55] kingthorin commented on #780
FYI I reported the expired cert on https://softwaretestingfundamentals.com/ and they replied within less than a day that it'd been fixed.

[2021-09-20 21:27] ThunderSon commented on #7
@RiieCco Hello mate! :)
Would you be able to coordinate with @alex97saba to move the needle on this? Maybe provide write access on the branch and then open a draft PR. Let us know if we can help.

[2021-09-21 08:00] RiieCco commented on #7
Hey @ThunderSon sure thing!

It has literally been 6months since i last touched a laptop so i will need to check things a bit.
@alex97saba thank you very much for helping out man! i will set up everything as soon as possible!
Also, can i find you on the OWASP slack channel for discussions etc? :-)

Cheers!

[2021-09-22 10:20] rbsec commented on #791
@ThunderSon the [Map Application Architecture](https://github.com/OWASP/wstg/blob/master/document/4-Web_Application_Security_Testing/01-Information_Gathering/10-Map_Application_Architecture.md) page looks like it's been pretty much unchanged since it was imported, and is a bit of a wall of text.

I think it could do with breaking down into sections, and updating to add some newer areas (such as CD

[2021-09-22 10:26] kingthorin commented on #791
I’m good with that plan.

[2021-09-22 21:44] twicedi commented on #748
I'm still working on this topic.

[2021-09-23 12:25] ThunderSon commented on #7
I am not sure @alex97saba is on slack, but there is a channel `testing-guide` if you need that :)

[2021-09-24 16:20] andifalk opened #797 "Typo in 'Testing for Weak Password Policy' section"
**What's the issue?**
There is a typo in the *Testing for Weak Password Policy* section:

Current text with typo: `Is it possible set common passwords such as `Password1` or `123456`?`

**How do we solve it?**
Correct typo for correct sentence: `Is it possible to set common passwords such as `Password1` or `123456`?`

Would you like to be assigned to this issue?
Check the box if you will submit a

[2021-09-24 16:30] ThunderSon commented on #797
Hi @andifalk ! Thank you for opening a PR for us.
Can you please open the PR to the WSTG project, instead of your own fork? :)
The contribution guide we have should help with that. Let me know if you're not able to!

[2021-09-24 16:54] alex97saba commented on #7
Thank you very much @RiieCco, I just wrote you on slack (hoping is the right person :) ).

[2021-10-01 18:59] ThunderSon commented on #588
I'll tackle this to remove it off of our backlog

[2021-10-03 03:17] monalisha31 commented on #183
@kingthorin can i work on this issue?

[2021-10-03 08:30] kingthorin commented on #183
Sure, go for it.

[2021-10-05 18:35] alcastronic commented on #268
Thanks for assigning me @kingthorin & @ThunderSon.

I have started working on this, and pushed an early concept to my repo [05-Testing_for_OAuth_Weaknesses.md](https://github.com/alcastronic/wstg/blob/new-268/document/4-Web_Application_Security_Testing/05-Authorization_Testing/05-Testing_for_OAuth_Weaknesses.md).  I'd like to "move" the OAuth Guide to 05_Authorization_Testing since OAuth is more a

[2021-10-06 14:05] kingthorin commented on #268
FYI, I'm not ignoring this, but don't anticipate having time to review or put serious thought into it until the weekend or maybe even early next week.

[2021-10-13 03:21] za commented on #351
Merged REST cheatsheet into WSTG @ThunderSon @kingthorin in PR https://github.com/OWASP/wstg/pull/800 Now we may start discussing how we gonna structure testing REST application section.

[2021-10-16 22:09] linzinha commented on #591
Hows this for order? Unless you just wanted 7 added to the end of chapter 11

02-Testing_for_Stored_Cross_Site_Scripting.md
03-Testing_for_HTTP_Verb_Tampering.md
04-Testing_for_HTTP_Parameter_Pollution.md
15-Testing_for_HTTP_Splitting_Smuggling.md
16-Testing_for_HTTP_Incoming_Requests.md
08-Testing_for_SSI_Injection.md
12-Testing_for_Command_Injection.md
13-Testing_for_Buffer_Overflow.md
13-Testin

[2021-10-16 23:14] linzinha commented on #591
So, and also just to be clear then, would it just be the DOM section?

These seem to fit pretty well
4.11.2 Testing for JavaScript Execution
4.11.13 Testing for Cross Site Script Inclusion

These as well, though with less confidence:
4.11.7 Testing Cross Origin Resource Sharing
4.11.8 Testing for Cross Site Flashing
4.11.9 Testing for Clickjacking

[2021-10-16 23:18] linzinha commented on #591
I deleted my last comment, was looking at the wrong tab!

[2021-10-16 23:18] kingthorin commented on #591
Those are already in 11 👍

[2021-10-16 23:20] linzinha commented on #591
Yeah, there was a sudden bit of chaos in the house and I realized with the distraction I'd been looking at 11 not 7

[2021-10-16 23:22] kingthorin commented on #591
All good, been there.

[2021-10-16 23:33] kingthorin commented on #591
Ya that can stay as-is.

[2021-10-29 12:02] sparkinthedarkness opened #804 "suggestion for "Account Enumeration and Guessable User Account" section"
Hi ,
hope you doing well

I've a suggestion for wstg, "Account Enumeration and Guessable User Account" section.

I think it's good to add this test case:
in registration process and editing profile in websites, users must not be allowed to set usernames like "admin" , "administrator","moderate" and so on ...

what do you think about this?do you agree ?

- [x] Assign me, please!

[2021-10-30 11:21] ThunderSon commented on #804
@sparkinthedarkness I've unassigned you till we have better description on what you'd like to see happen. This is mostly covered in the test case @kingthorin mentioned.

Can you possibly detail a bit better what you'd like to see happening?

Thanks for having the interest to improve the content!

[2021-10-30 11:31] ThunderSon commented on #804
Adding to the mentioned test, this should help cover as well most use cases: https://github.com/OWASP/wstg/blob/master/document/4-Web_Application_Security_Testing/04-Authentication_Testing/02-Testing_for_Default_Credentials.md

Let me know if something is still missing.

[2021-11-01 15:32] sparkinthedarkness commented on #804
@ThunderSon "testing for default credential" is different from what i suggested in my first comment.

I think I should explain more.

a normal user (that not register on website yet) visit the website and decide to create an account.
my suggestion is :
this unregistered user should not be able to select these usernames:
admin
administrator
moderate
and so on

these usernames should be reserved and

[2021-11-03 16:25] crunchy-vonage opened #806 "Deserialization"
Testing for Deserialization is complete omitted despite being an owasp 10 item.

[2021-11-03 16:36] kingthorin commented on #806
OWASP is made up of a group of loosely coupled projects. Just because one does something doesn't automatically mean all the others do.

That being said yes obviously deserialization testing should be covered, that's why there's an existing issue to add it.

https://github.com/OWASP/wstg/issues/7

[2021-11-03 16:36] #806 closed

[2021-11-06 14:48] c0nrad opened #807 "Add content-security-policy generation tools"
**What would you like added?**
Briefly describe the topic of the new content. Is this a new section or an addition to an existing topic?

It would be nice to include some free tools for automatically generating Content Security Policies with best practices:
https://owasp.org/www-project-web-security-testing-guide/latest/4-Web_Application_Security_Testing/02-Configuration_and_Deployment_Management_

[2021-11-06 14:53] rbsec commented on #807
I can see why these types of tools might be useful to developers - but I'm less clear on how you'd use them as part of a web application pentest?

[2021-11-06 15:06] c0nrad commented on #807
Hi @rbsec, I imagined that they would go under the "Remediation" section on the page. So if someone has an insecure policy, they can use the tool to create a better one. This tool will never recommend any insecure directives (such as "unsafe-inline"), and follows best practices such as full-path on sensitive directives (script-src/object-src), default 'none', HTTP, etc.

[2021-11-06 15:25] kingthorin commented on #807
There's normally a tools block at the end of each scenario as well. I assume if they tell you how to assemble of fix CSP that's handy for Pentesters to identify CSP misses and therefore potential weaknesses as well :wink:

[2021-11-07 14:12] ThunderSon commented on #351
@za apologies for not interacting on this ticket yet.
Thanks for bringing in the content from the CSS project. Can you tell me what your idea would look like for the testing section for REST APIs?
We usually discuss things in issues as we move it into a PR.

[2021-11-07 15:39] #748 closed

[2021-11-07 16:29] #807 closed

[2021-11-08 09:02] za commented on #351
@ThunderSon I thought CSS was `Cascading Style Sheet` :sweat_smile: I've no significant idea at the moment to improve of what's already written here in CSS https://github.com/OWASP/CheatSheetSeries/blob/master/cheatsheets/REST_Assessment_Cheat_Sheet.md

Before we proceed, I'd like to know what's the difference between OWASP WSTG vs CSS? Are the audience expecting to be more hands on (step-by-step

[2021-11-17 16:44] kingthorin opened #810 "WSTG-INFO-05 - Should include leakage which can occur in redirect responses"
**What would you like to happen?**
WSTG-INFO-05 should include leakage occurs when redirect responses have actual body content.

[2021-11-20 16:40] #810 closed

[2021-11-23 10:39] ThunderSon commented on #351
Hey @za , the difference between the two projects is the following:
- OWASP CSS is focused on delivering content to builders in "cheat" manner, because as we all know, security sometimes can be daunting and overwhelming.
- OWASP WSTG focuses on providing the reader with knowledge similar to a book, scenario by scenario, and where possible linked together (it's a book after all).

Back when the RES

[2021-11-23 15:56] ThunderSon commented on #804
@sparkinthedarkness I now understand the difference, thanks for the details.

This can be better fitting in the cheat sheets project, as it is a best practice, and not an actionable threat.
@kingthorin what's your take on this?

[2021-11-23 18:28] kingthorin opened #813 "Enhance: Conduct Search Engine Discovery Reconnaissance for Information Leakage"
**What would you like to happen?**
Add/consider resources in this Twitter thread: https://twitter.com/NameInSecurity/status/1458748721475190786

WSTG-INFO-01
https://github.com/OWASP/wstg/blob/d0e1683ae0e7e59a86f6aadcff8105a3f9a88709/document/4-Web_Application_Security_Testing/01-Information_Gathering/01-Conduct_Search_Engine_Discovery_Reconnaissance_for_Information_Leakage.md

[2021-11-29 00:26] kingthorin commented on #804
I agree. I guess we could add a few lines in a heading like "Test for Staff Impersonation" or something like that.

[2021-11-30 05:50] lightangel1412 commented on #571
Hi everyone,
Should we add this test case (Test case for Race Condition) into section "4.10 Business Logic Testing"?

[2021-11-30 18:23] kingthorin commented on #571
That seems reasonable to me.

[2021-12-05 21:57] rcowsill opened #814 "Workflows: Fix code injection"
**What's the issue?**
Some GitHub actions workflows are vulnerable to code injection

**How do we solve it?**
* Change workflow to avoid injecting uncontrolled text into step source
* Minimize permissions for workflows with write access

Would you like to be assigned to this issue?
- [x] Assign me, please!

[2021-12-05 23:26] #814 closed

[2021-12-08 15:36] kingthorin commented on #588
Poke :wink:

[2021-12-08 18:53] iitsmel opened #816 "Add footer in chapter 4.2.1"
**What would you like added?**
I would like to add the missing footer in chapter 4.2.1 .
The first footer ( [1] WebSEAL ) is not included in the article. After reading 4.2.1, I think perhaps I found the place for the footer.

Would you like to be assigned to this issue?
Check the box if you will submit a PR to add the proposed content. Please read CONTRIBUTING.md.
- [x] Assign me, please!

[2021-12-08 19:18] #816 closed

[2021-12-27 13:46] alcastronic commented on #268
Just leaving a message here that I'm still working on this and this is not lost.
Will clean up what is there till now and make a PR with it.

[2021-12-27 14:51] kingthorin commented on #268
Thanks!

[2022-01-02 13:31] alcastronic commented on #268
@ThunderSon & @kingthorin Happy New Year 🥳 I have created a PR with the content already available.

According to what we have discussed I splitted the OAuth testing in three chapters, so far.  I have also ensured to use the correct terminology for OAuth and changed IdP (Identity Provider) which is only used in the Open ID Connect extension to AS (Authorization Server).

Please feel free to add any

[2022-01-15 09:50] rbsec commented on #791
This was resolved in #795 and #796

[2022-01-15 09:50] #791 closed

[2022-01-16 21:40] guilloux-valentin opened #829 "Incomplete GDPR scope in the introduction"
**What's the issue?**

[This section](https://github.com/OWASP/wstg/blob/master/document/2-Introduction/README.md#understand-the-scope-of-security)   describes the General Data Protection Regulation (GDPR) in an incomplete way :

The GDPR target not only EU companies but businesses anywhere in the world as long as data from EU citizens is collected.

A good source to check : https://gdpr.eu/what-i

[2022-01-16 22:10] kingthorin commented on #829
It’s only an example, an additional sentence can be added for further clarity. But, it isn’t a treatise on GDPR, getting stuck deep in details won’t really help things and will likely miss the mark for the section/paragraph.

[2022-01-16 22:15] rbsec commented on #829
Despite what the EU sometimes claims, it doesn't actually have the authority to define laws in other countries.

Organisations that do not operate in the EU are under no more obligation to follow GDPR than they are to follow, for example, China's "Computer Information Network and Internet Security, Protection, and Management Regulations", or any other laws from other counties.

[2022-01-17 21:14] #829 closed

[2022-01-19 19:57] scinerio opened #833 "Risk Assessment Calculator - More Skills Required Causes Higher Risk"
**What's the issue?**
The "skills required" parameter within the risk assessment calculator of the Excel WSTG Checklist has backwards numerical rankings. If the threat agent requires more skills, the likelihood should be lower.

Currently if you increase the skills needed to "security penetration," you will have a higher likelihood than "no technical skills."

**How do we solve it?**

Reverse the

[2022-01-19 20:01] kingthorin commented on #833
It is the correct way around, your risk is greater vs a skilled adversary.

[2022-01-22 17:10] ThunderSon commented on #268
@alcastronic thank you for staying on top of this! That looks like some heavy work. I'll try to tackle this ASAP. Bit of a heavy period.

Happy new year to yourself as well!

[2022-01-24 23:36] scinerio commented on #833
Ah, no worries then if it's going to be removed as a feature. I see your point if you consider the calculator as a tool for threat modeling. I was looking at it from the CVSS point of view, specifically the "attack complexity" vector where the more difficult it is to identify or exploit, the less the overall risk.

Nonetheless, thanks for the response. Closing!

[2022-01-24 23:36] #833 closed

[2022-01-25 00:14] kingthorin commented on #833
@scinerio there used to be a whole page on the OWASP wiki covering that calculation, it was always an edit war.

There are definitely two opposing ways to look at it. I can see how it’s handy to have in the spreadsheet.

As this is the first time it has come up in this context would you rather see it stay in the sheet as-is or be totally removed?

[2022-01-26 15:47] scinerio commented on #833
@kingthorin I don't think it needs to be removed. It still serves a purpose and was useful for me to justify my risk ratings in a web app assessment. For my case, I simply reversed my choice for the "skills required" parameter to make it match what I was looking for.

[2022-01-26 15:50] kingthorin commented on #833
Okay, thanks for following up :+1:

[2022-01-30 14:43] victoriadrake commented on #268
Closed in #820  and #839

[2022-01-30 14:43] #268 closed

[2022-02-08 12:37] kingthorin commented on #8
https://github.com/OWASP/wstg/blob/ede0735edb3ac674137f2176ae5ff96e3d134bcd/document/4-Web_Application_Security_Testing/07-Input_Validation_Testing/07-Testing_for_XML_Injection.md

[2022-02-11 00:56] ImanSharaf opened #845 "Testing for Directory Traversal File Vulnerabilities"
There could be a case that you can add to [this document](https://owasp.org/www-project-web-security-testing-guide/latest/4-Web_Application_Security_Testing/05-Authorization_Testing/01-Testing_Directory_Traversal_File_Include). There was a situation that my target was not vulnerable against Directory Traversal Attack in a normal way, but it was allowing me to upload a compressed folder, I was able

[2022-02-19 12:41] amalyshkin opened #846 "Incorrect text "Chance Verification" in Typical_SDLC_Testing_Workflow.gif image in '3. The OWASP Testing Framework' section"
**What's the issue?**
There is an image https://github.com/OWASP/wstg/blob/master/document/3-The_OWASP_Testing_Framework/images/Typical_SDLC_Testing_Workflow.gif in https://github.com/OWASP/wstg/blob/master/document/3-The_OWASP_Testing_Framework/0-The_Web_Security_Testing_Framework.md. The left bottom block (in 'Maintenance' section) in this image is named "Chan**C**e Verification". But the correc

[2022-02-19 12:45] kingthorin commented on #846
@jishnurippon could we get a touch-up on this?

https://github.com/OWASP/wstg/commit/268f2b7c4e06f2edad1e4ab9049a68446d730e13

[2022-02-19 13:54] kingthorin commented on #846
@rejahrehim I believe he was a contact of yours. I see he hasn't been active on GitHub in quite a while so may not see that request for assistance.

[2022-02-19 13:56] ThunderSon commented on #846
This was a really ... tricky find. Thank you for pointing this out @amalyshkin

[2022-02-19 16:35] rejahrehim commented on #846
I will  check this and update this issue.

[2022-02-19 17:55] #846 closed

[2022-02-21 23:25] ThunderSon opened #852 "Improve and update HTTP Methods testing scenario"
**What would you like to happen?**
The [Test HTTP Methods](https://github.com/OWASP/wstg/blob/6ae87300b21a5ada6fe1589cef15b4a78db969e6/document/4-Web_Application_Security_Testing/02-Configuration_and_Deployment_Management_Testing/06-Test_HTTP_Methods.md) scenario is old and requires a full rewrite to better discuss HTTP methods, and discuss legacy topics such as XST attacks with the TRACE method.

[2022-02-25 00:06] ThunderSon commented on #845
Thank you for bringing this over to our attention. That attack does exist already in [4.10.9](https://github.com/OWASP/wstg/blob/master/document/4-Web_Application_Security_Testing/10-Business_Logic_Testing/09-Test_Upload_of_Malicious_Files.md#archive-directory-traversal)

@kingthorin this issue might be bringing over duplication, let's maybe review that?
Maybe expand a bit on it as well on how it

[2022-02-27 15:50] rbsec opened #855 "E-commerce testing guide"
When you have an e-commerce site, there are quite a lot of specific issues that you should check for (beyond the usual stuff), such as:

- Price tampering (on the site)
- Price tampering (on the handover to the payment gateway)
- Currency tampering
- Time-delayed requests for items with changing values
- Negative item quantities
- Test or debug payment cards
- Skipping the actual payment process
-

[2022-02-27 15:54] kingthorin commented on #855
I'd say this definitely belongs in 4.10. Either beefing up the existing content or maybe as a level 5 page (like the various "flavors" of SQLi are currently).

[2022-02-27 15:55] kingthorin commented on #855
Are you up for tackling this? Shall I assign you?

[2022-02-27 16:01] ThunderSon commented on #855
@kingthorin I'm a bit worried about adding things to other BUSL tests.

I love the incoming work, I feel like it could be its own thing till we figure out a revamp for the whole section.
That section is mostly legacy, non-conformant with how the whole guide is.

What do you think?

[2022-02-27 16:12] rbsec commented on #855
I think it probably makes sense in 4.10, but I'm not sure how easy it would be to merge into the existing files in there. Sections like [4.10.1](https://github.com/OWASP/wstg/blob/master/document/4-Web_Application_Security_Testing/10-Business_Logic_Testing/01-Test_Business_Logic_Data_Validation.md) are quite general (and in a slightly different format with just a few examples rather than any real

[2022-02-27 16:29] kingthorin commented on #855
Let's go 4.10.1.1 for now then?

[2022-02-27 16:36] rbsec commented on #855
Are you thinking subsections of various bits in business logic (such a 4.10.1.1, 4.10.3.1, etc) for payment specific stuff? Because that'll probably be a lot of duplication, and it might be better to refresh the main business logic ones at the same time.

Or all the payment stuff together in one section (4.10.10)?

[2022-02-27 16:40] ThunderSon commented on #855
I feel like just writing out the stuff you feel are needed is the top priority.

Let's give sectioning and the old section a look while you tackle down the payment BUSL.
I believe the content can always be moved around once written :)

Kick off a draft, and before we merge, we should have a plan set out to contain it.

[2022-02-27 16:40] kingthorin commented on #855
No no, I was thinking all of this together as 4.10.1.1. But I've re-read the bullets, it's more than just data validation. So I'm good with 4.10.10.

[2022-02-27 17:21] rbsec commented on #855
I've made an initial skeleton in #857  - any comments or feedback would be useful before I start fleshing it out.

[2022-03-01 23:30] #852 closed

[2022-03-05 13:06] alexlop29 commented on #705
Hi! I'd like to work on updating several sections of _**WSTG-BUSL-09**_.

[2022-03-06 11:45] kingthorin commented on #813
It seems that thread has been deleted 👎 So I guess we're SoL on that front.

[2022-03-06 11:45] #813 closed

[2022-03-09 05:10] the-rend opened #871 "hidden union-based sql injection"
**What would you like added?**
addition to SQL injection topic:
there are some blind SQL injections that can be turned into union-based ones.
the reason at first they're detected as blind injections is those injections happen in complex queries and appending the usual union-based payloads to the vulnerable parameter breaks the original query.
one way to recognize these kinds of injections is when

[2022-03-11 23:04] #855 closed

[2022-03-13 13:37] the-rend opened #878 "backtick breaks the markdown"
**What's the issue?**
there is an extra backtick [here](https://github.com/OWASP/wstg/blob/master/style_guide.md?plain=1#L183) that breaks the markdown.

**How do we solve it?**
remove the backtick kindly.

Would you like to be assigned to this issue?
sure, I put all the effort into this arduous task 😁
- [x] Assign me, please!

[2022-03-13 13:45] kingthorin commented on #878
You don't need to create issues for things unless there's some concern that someone else might tackle the issue in the mean time.

[2022-03-13 16:44] the-rend commented on #878
oh ok got it, I won't create issues for minor improvements in the future.

[2022-03-13 16:46] the-rend commented on #878
should I close [the PR](https://github.com/OWASP/wstg/pull/879) for this issue?

[2022-03-13 23:51] #878 closed

[2022-03-15 09:05] jinsonvarghese opened #880 "Add "Testing for Reverse Tabnabbing""
**What would you like added?**
I think it would be helpful to add a specific document for testing "[Reverse Tabnabbing](https://owasp.org/www-community/attacks/Reverse_Tabnabbing)" which can be used in a phishing attack, under the "Client-Side Testing" section.

Would you like to be assigned to this issue?
- [x] Assign me, please!

[2022-04-09 15:29] ivanseidel opened #923 "XLS Checklist has broken validation on Status column"
**What's the issue?**
The Excel Checklist version has a broken validation on the status column, causing it to present error and not autocomplete correcly

**How do we solve it?**
Fix the autocomplete reference

Would you like to be assigned to this issue?
Check the box if you will submit a PR to fix this issue. Please read CONTRIBUTING.md.
- [x] Assign me, please!

[2022-04-09 16:41] kingthorin commented on #923
Done in OWASP/wstg#924

[2022-04-09 16:41] #923 closed

[2022-04-09 17:11] ivanseidel opened #925 "Automatically generate XLS/ODT"
**What would you like to happen?**
An XLSX to be generated automatically based on the JSON Checklist

[2022-04-09 17:13] kingthorin commented on #925
See discussion in: https://github.com/OWASP/wstg/pull/924

[2022-04-09 18:54] ivanseidel commented on #925
I spent a few hours looking into XLS manipulation libraries, and got a bit disapointed with their limitations in formating and copying data. Both Python libraries lack a way of copying from a template, and using validations/formating.

[2022-04-09 19:50] kingthorin commented on #925
Is there a good way to do it with power shell? It’s more Microsofty 😉

[2022-04-09 21:04] kingthorin commented on #351
https://github.com/OWASP/wstg/blob/master/REST_CS_Migrate.md

[2022-04-09 21:44] ivanseidel commented on #925
Just finished... Check it out, this was built from the JSON file
[WSTG-Checklist_v4.2.xlsx](https://github.com/OWASP/wstg/files/8457803/WSTG-Checklist_v4.2.xlsx)

[2022-04-10 13:25] #880 closed

[2022-05-31 00:14] #360 closed

[2022-06-20 12:24] Loqova opened #935 "WSTG-CONF-12 should mention the unsafe-hashes CSP directive"
**What would you like added?**
WSTG-CONF-12 should mention the insecure configuration of CSP when using the `unsafe-hashes` directive too. See: https://content-security-policy.com/unsafe-hashes/.

**Would you like to be assigned to this issue?**
Check the box if you will submit a PR to add the proposed content. Please read CONTRIBUTING.md.
- [ ] Assign me, please!

[2022-06-21 00:55] cmlh opened #936 "security.txt ratified as RFC 9116"
**What's the issue?**
`security.txt` was ratified from April 2022 as [RFC 9116 - A File Format to Aid in Security Vulnerability Disclosure](https://www.rfc-editor.org/rfc/rfc9116.html)

**How do we solve it?**
Update "... [proposed standard](https://github.com/OWASP/wstg/blob/master/document/4-Web_Application_Security_Testing/01-Information_Gathering/03-Review_Webserver_Metafiles_for_Information_L

[2022-06-21 01:07] cmlh opened #937 "Fix URI of security.txt is Canonical: Field"
**What's the issue?**
The "Canonical" field indicates the canonical URIs where the `security.txt` file is located.

**How do we solve it?**
Replace "[The file may be present either in the root of the webserver or in the .well-known/ directory. Ex:](https://github.com/OWASP/wstg/blob/master/document/4-Web_Application_Security_Testing/01-Information_Gathering/03-Review_Webserver_Metafiles_for_Inform

[2022-06-21 02:47] cmlh opened #938 "New Test Case - Extract OpenPGP Metadata of Signed security.txt"
**What would you like added?**
Insert what metadata could be extracted from the OpenPGP Public Key used to sign the [security.txt file documented within 03 Review Webserver Metafiles for Information Leakage](https://github.com/OWASP/wstg/blob/master/document/4-Web_Application_Security_Testing/01-Information_Gathering/03-Review_Webserver_Metafiles_for_Information_Leakage.md#security-txt) specified

[2022-06-21 04:35] cmlh opened #940 "humanstxt.org X.509 Certificate Expired"
**What and where?**
`humanstxt.org` within [03 Review Webserver Metafiles for Information Leakage](https://github.com/OWASP/wstg/blob/master/document/4-Web_Application_Security_Testing/01-Information_Gathering/03-Review_Webserver_Metafiles_for_Information_Leakage.md#humans-txt)

Causes PR #939 to fail i.e. https://github.com/OWASP/wstg/pull/939#issuecomment-1161251428

Would you like to be assigne

[2022-06-21 09:35] #936 closed

[2022-06-21 18:29] rbsec commented on #937
Did you mean [3. Location of the security.txt File](https://www.rfc-editor.org/rfc/rfc9116.html#section-3) of the RFC? From my understanding, the "Canonical" field will appear within the `security.txt` file - so it's not very useful if you're trying to find where the file actually is.

Section 3 states that in can be in the root of the domain, or in the `/.well-known/` - which is the same as what

[2022-06-21 18:49] kingthorin commented on #937
I think the point they were going for is that 2.5.2 states that the file should list in "canonical" fields the locations in which it will actually/validly be found.

[2022-06-22 01:28] #940 closed

[2022-06-22 18:59] rbsec commented on #937
@kingthorin but is that really relevant to WSTG-INFO-03? We're using it as a source of information leakage, so are we saying that if the location listed in the "Canonical" field doesn't match the actual URL you found it out then you should ignore any personal information/email addresses/etc in it, and not use them in other attacks? It's still a useful source of information, even if they have it in

[2022-06-22 19:09] kingthorin commented on #937
Agreed. In the context of INFO-03 it is just an info source, the guide isn't telling users to trust the data or leverage any of the facilities outlined by security.txt. Just to attempt to mine it for information (valid or not).

Instead of presenting it as "only trust the data if found in a listed canonical location(s)" it could be phrased more as "gather the details you can and if the listed cano

[2022-06-24 04:44] #937 closed, assigned to cmlh

[2022-06-24 04:56] cmlh opened #945 "Remove "/security.txt" URI to Reflect RFC 9116"
Replacement for https://github.com/OWASP/wstg/pull/944#issuecomment-1165189156 and related Issue https://github.com/OWASP/wstg/issues/937 and related Pull Request https://github.com/OWASP/wstg/pull/944

**What's the issue?**
At minimum, the ["... organizations MUST place the "security.txt" file under the "/.well-known/" path ..."](https://www.rfc-editor.org/rfc/rfc9116.html#section-3-1) so I'd enc

[2022-06-24 21:56] kingthorin commented on #775
https://portswigger.net/research/widespread-prototype-pollution-gadgets

[2022-06-24 23:52] #945 closed, assigned to nobody

[2022-06-25 09:30] ThunderSon commented on #775
@kingthorin let's review priorities, if this should be tackled I _might_ have time to do it 🙈

[2022-06-29 10:30] manindar-mohan commented on #935
I would like to contribute, can you assign me.

[2022-06-29 10:42] kingthorin commented on #935
Absolutely! :grinning:

[2022-06-29 15:04] Loqova opened #947 "WSTG-CONF-12 should mention HTML base tag injection"
**What would you like to happen?**
Testing the HTTP Content Security Policy (CSP) header is described in WSTG-CONF-12. But it doesn't mention to test for not using a base-uri. A webpage with CSP header without base-uri will be vulnerable to HTML base tag injection which could point all relative URL's (JavaScripts/Stylesheets) in the browser to an external domain.

[2022-06-29 16:44] themayursinha commented on #261
hi, I've been wondering if this is already applied in the new version?

[2022-06-29 17:05] kingthorin commented on #261
The issue would be closed if the work was done :wink:

[2022-07-03 16:21] rbsec opened #949 "Testing multi-factor authentication (MFA)"
There's not really anything in the WSTG about how to test multi-factor authentication (MFA). Off the top of my head, some of the key areas to look at would be:

* Is it *actually* MFA (i.e, not security questions)?
* Is MFA enforced?
  * Is it enforced on all login methods (web interface vs API, etc)
* Can it be bypassed?
* Do you need to re-authenticate to disable MFA?
* Is the process for resett

[2022-07-03 17:37] kingthorin commented on #949
I think this is a good idea. I think adding it as a new auth page would be a good move.

[2022-07-03 17:41] ThunderSon commented on #949
Fully agreed! I've had the knowbe4 blogs in a new tab thinking about this for a while, thanks for bringing it up!
I will give it some time and give notes on the presented initial outline, but it's fantastic with the one you have.

Some of those might definitely be tackled in other sections, but that can be tackled as we go through it I'd say.

[2022-07-06 10:06] #935 closed

[2022-07-06 10:36] manindar-mohan commented on #701
Please assign this to me.

[2022-07-10 21:18] ThunderSon commented on #949
I don't have much to comment on this. It's art. @rbsec do you wanna take this on?
Any help we can provide other than reviewing when it's ready? :)

[2022-07-11 21:23] rbsec commented on #949
@ThunderSon I'm happy to, but it'll probably be a little while before I find time for it. But at least leaving it in my issues should stop me forgotten about it...

[2022-07-18 18:02] yhojann-cl opened #954 "Inappropriate content (Testing for Cross Site Script Inclusion)"
`4.11.13 Testing for Cross Site Script Inclusion` is not a WEB vulnerability, is a Web Browser application vulnrability. The WSTG is a framework for WEB aplications testing and 4.11 is for client side applications but no client applications. This vulnerability only can affect to specific browsers like as ie6, in this case you need include all other cve vulnerabilities or all other browsers like as

[2022-07-18 20:37] kingthorin commented on #954
XSS is not limited to only old browsers, feel free to check with any modern pen tester or bug bounty hunter.

[2022-07-18 22:13] ThunderSon commented on #954
Hello @yhojann-cl
Thanks for raising this for us.
1. Why are you targeting exactly inclusion attacks?
2. What references do you have that this only targets specific browsers?

@kingthorin FYI for us, we are missing references in that section. Or maybe my phone is glitching. We need to add some refs for it 🤔

[2022-07-18 22:31] kingthorin commented on #954
Sorry, was working from my cell. I see what you’re talking about, we’ll review the section.

[2022-07-31 15:19] #925 closed

[2022-08-06 14:22] kingthorin opened #959 "Clickjacking Edits"
Per discussion (https://github.com/OWASP/wstg/pull/952/files) and reading of the clickjacking content.

- Remove browser support tables.
- Be consistent in use of quotes or code fencing on key terms.

[2022-08-06 14:23] #701 closed

[2022-08-06 18:20] yhojann-cl commented on #954
the vulnerability refers to a web browser problem when processing embedded resources with mixed or insecure content, it is not a security problem in the programming of a web application even though it may have some type of mitigation, this means that they should be included all types of software vulnerabilities in web browsers and servers, I think this documentation is not what you are looking for

[2022-08-07 01:22] ThunderSon commented on #954
In that logic, CSRF attacks should be handled by the browser, and not by the developer, because it's an inherent problem with the browser sending cookies every request to website A.

We don't test a website to how it behaves on the server only, it's how it's behaving on browser as well. It is part of the "Web", otherwise we'd have called it "mobile" 😉

If you have a problem with XSSI on your websi

[2022-08-08 02:29] yhojann-cl commented on #954
It is a very different case because it is not a vulnerability of the WEB browser nor is it the browser in charge of controlling this type of situation since the current http standard does not request it in that way, it is very different from having a vulnerability that allows to omit or circumvent an existing and standard security mechanism such as same-origin policies.

I understand that this is

[2022-08-08 07:43] rbsec commented on #954
@yhojann-cl I don't think I'd agree that XSSI is a vulnerability in the web browser. If we take the [first example in the guide](https://owasp.org/www-project-web-security-testing-guide/stable/4-Web_Application_Security_Testing/11-Client-side_Testing/13-Testing_for_Cross_Site_Script_Inclusion#1-sensitive-data-leakage-via-global-variables), exploiting it basically relies on three thing:

1. When a

[2022-08-08 21:44] ThunderSon commented on #949
I have a list of MFA attack vectors. I need to clean it up, and I'll share it here, hopefully tomorrow.

[2022-08-11 22:30] ThunderSon commented on #949
1. Brute force of MFA codes
    1. Credential stuffing combined with minimal MFA guessing attempts
    2. MFA guessing for a single account
        1. From a single IP
        2. From multiple IPs
        3. From a single user-agent
        4. From multiple user-agents
        5. _Any other metadata mixup configuration_
    3. MFA lockout triggering account reset or “workarounds” that might disabl

[2022-08-14 13:27] rbsec commented on #949
@ThunderSon  that list looks good, and there's quite a bit of overlap with what I'd been thinking about - although attacks against SMS are probably a bit outside of the scope of the WSTG.

I'll merge this with what I have and put together as skeleton at some point.

[2022-08-24 19:37] mrjonstrong opened #965 "workflow linters update version"
**What's the issue?**

workflows point to github action with a username of futuratrepadeira that was renamed to umani

**How do we solve it?**

update:
.github/workflows/md-textlint-check.yml
.github/workflows/md-link-check.yml

from:
futuratrepadeira/changed-files@v3.2.1
to:
umani/changed-files@v3.3.0

Would you like to be assigned to this issue?
Check the box if you will submit a PR to fix this

[2022-08-25 22:50] #959 closed

[2022-09-01 10:42] alins1r opened #968 "There is a broken link on wstg Reporting Structure"
the link which go to checklists located at https://github.com/OWASP/wstg/blob/master/document/5-Reporting/01-Reporting_Structure.md is broken

- [x]  Assign me, please!

[2022-09-01 10:57] #968 closed

[2022-09-10 14:39] rbsec commented on #949
I've pushed an initial draft of this in #971 - any comments and feedback on the content are welcome (I've not done a proper QA, so spelling/grammar/etc can wait).

[2022-09-20 22:55] #965 closed

[2022-10-07 07:12] maheshbasnet089 commented on #588
Can i work on this issue ?

[2022-10-07 10:03] kingthorin commented on #588
Sure, just make sure you use  https://github.com/OWASP/wstg/issues/588#issuecomment-714486547 as a guideline.

[2022-10-08 04:19] maheshbasnet089 commented on #588
https://github.com/OWASP/wstg/pull/979/files

here is my pr kingthorin, any things to be updated?

[2022-10-17 09:50] Barroqueiro opened #980 "Simple typo fix"
**What's the issue?**
Simple typo in WSTG-SESS-10's description

**How do we solve it?**
Just remove the seconds are.

Would you like to be assigned to this issue?
Check the box if you will submit a PR to fix this issue. Please read CONTRIBUTING.md.
- [x] Assign me, please!

[2022-10-17 09:54] rbsec commented on #980
Good spot - thanks for submitting this. For simple stuff like this, feel free just to open a direct PR without an associated issue - there's nothing that we'd really need to discuss just to fix a typo.

[2022-10-17 09:54] #980 closed

[2022-10-23 12:40] rbsec commented on #949
This has been merged in #971.

[2022-10-23 12:40] #949 closed

[2022-11-03 06:13] andrettv opened #989 "Translation into Russian"
Hi,
Translation is on my page https://github.com/andrettv/WSTG/tree/master/WSTG-ru.
I've forked the latest branch at the end of July 2022.
Can you help me properly move it further (check its structure, produce pdf, make it visible on the project page, etc.)?

[2022-11-03 11:04] kingthorin commented on #989
@andrettv thanks for tackling this.

The repo seems to be a combination of this repo and the web repo, but structurally it seems fine I guess.
As for building the PDF we have that done by a github action so take a look in the .github folder. I have no idea if any of the regexes etc will have problems with non-English content. I'll put together some PRs to lilnk your repo.

[2022-11-10 00:41] ImanSharaf opened #991 "Upload malicious symlink in a zip file"
I was checking [this](https://hackerone.com/reports/1439593) HackerOne report with a $29000 bounty and I found it very interesting. This is different than Zip Slip. In case of Zip Slip we can inject `..` in the file path so we can extract our file in a wrong place. In this report, the attacker crafts a malicious symlink to `/etc/passwd` when the backend extracts it `untar_zxf` function only change

[2022-11-14 01:20] ThunderSon commented on #991
Hi Iman! Thanks for flagging this for us.

I had a quick look at it, and still need more time around it to review it :)

[2022-11-22 13:27] kingthorin commented on #989
FYI, this hasn’t been forgotten 😉